<section class="modal-content carousel__item__modal clearfix" style="background: white; color:#444;">

  <video>
    <source src="{{ ac.modal.file | trusted }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>

</section>
