<tr>
    <td>
       <a href ng-click="vm.removeFromCart(vm.checkout.id)">Remove</a>
    </td>
    <td ng-show="vm.checkout.suppressed" ng-bind-html="vm.checkout.title"></td>
    <td ng-show="!vm.checkout.suppressed"><a href="{{vm.link}}{{vm.checkout.bibid}}"><span ng-bind-html="vm.checkout.title"></span></a></td>
    <td>{{ vm.checkout.barcode }}</td>
    <td>{{vm.checkout.renewal}}</td>
    <td>{{ vm.checkout.checkout_date }}</td>
    <td>{{ vm.checkout.due_date }}</td>
    <td>{{ vm.checkout.callnumber }}</td>
</tr>