<tr ng-class="vm.checkout.status_code != '-' ? 'alert alert--danger' : ''">
    <td ng-if="vm.showbutton">
        <a href ng-if="vm.checkout.status_code == '-' && !vm.checkout.overdue" ng-show="!vm.checkCart(vm.checkout.id)" ng-click="vm.addToCart(vm.checkout)">Select</a>
        <a href ng-if="vm.checkout.status_code == '-' && !vm.checkout.overdue" ng-show="vm.checkCart(vm.checkout.id)"  ng-click="vm.removeFromCart(vm.checkout.id)">Deselect</a>
    </td>
    <td ng-show="vm.checkout.suppressed" ng-bind-html="vm.checkout.title"></td>
    <td ng-show="!vm.checkout.suppressed"><a href="{{vm.link}}{{vm.checkout.bibid}}"><span ng-bind-html="vm.checkout.title"></span></a></td>
    <td>{{ vm.checkout.barcode }}</td>
    <td ng-show="!vm.hidestatus">{{vm.checkout.status}}</td>
	<td>{{vm.checkout.renewal}}</td>
    <td class="align-center">{{ vm.checkout.checkout_date }}</td>
    <td class="align-center" ng-class="{ 'alert alert--danger' : vm.checkout.overdue }">{{ vm.checkout.due_date }}
        <p class="small-text no-margin" ng-show="vm.checkout.overdue">Overdue</p>
    </td>
    <td>{{ vm.checkout.callnumber }}</td>

</tr>