<tr ng-class="vm.renewal.description != undefined ? 'alert alert--danger' : ''">
	<td ng-if="vm.renewal.suppressed" ng-bind-html="vm.renewal.title"></td>
    <td ng-if="!vm.renewal.suppressed"><a href="{{vm.link}}{{vm.renewal.bibid}}"><span ng-bind-html="vm.renewal.title"></span></a></td>
	<td ng-bind-html="vm.renewal.barcode"></td>
	<td><span ng-if="!vm.renewal.description">{{ vm.renewal.newdueDate }}</span></td>
	<td ng-if="vm.renewal.description" ng-bind-html="vm.renewal.description"></td>
	<td ng-if="!vm.renewal.description"> Success </td>
</tr>
