

        <header id="modal-label">
          <h3>Contact Us</h3>
        </header>

        <div class="clearfix modal-content no-padding">

          <p class="align-left zeta" style="margin: 1em;">
              Hi there. Drop us a line &mdash; feedback, questions, or great ideas &mdash; and
              we will get back to you as soon as we can <small>(usually 24 to 48 hours)</small>.
          </p>

            <iframe class="in-modal" height="768px" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="//systems.library.nova.edu/form/embed.php?id=49" title="Simple Contact Form"><a href="http://systems.library.nova.edu/form/view.php?id=49" title="Simple "Contact" Form">Simple "Contact" Form</a></iframe>

        </div>

        <footer>
            <p class="align-center no-margin zeta">
                <a target="_self" href="/sites/contact">Phone Numbers</a> /
                <a target="_self" href="/sites/hours">Hours</a> /
                <a href="//www.nova.edu/library/main/ask.html">Ask a Librarian</a> /
                <a href="http://systems.library.nova.edu/form/view.php?id=10">Suggest a Purchase</a>
            </p>
        </footer>
