<nav class="align-center pagination" ng-if="1 < pages.length">
    <a class="pagination__link" href
       ng-if="boundaryLinks"
       ng-class="{ disabled : pagination.current == 1 }"
       ng-click="setCurrent(1)">
        &laquo;</a><!--
	--><a class="pagination__link ng-scope ng-binding" href
          ng-if="directionLinks"
          ng-class="{ disabled : pagination.current == 1 }"
          ng-click="setCurrent(pagination.current - 1)">
    ‹</a><!--
	--><a  class="pagination__link" href
           ng-repeat="pageNumber in pages track by $index"
           ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }"
           ng-click="setCurrent(pageNumber)">
    {{ pageNumber }}</a><!--
	--><a class="pagination__link ng-scope ng-binding" href
          ng-if="directionLinks"
          ng-class="{ disabled : pagination.current == pagination.last }"
          ng-click="setCurrent(pagination.current + 1)">
    ›</a><!--
	--><a class="pagination__link" href
          ng-if="boundaryLinks"
          ng-class="{ disabled : pagination.current == pagination.last }"
          ng-click="setCurrent(pagination.last)">
    &raquo;</a>
</nav>