<div>
    <div class="card card--full fine" ng-init="vm.checkCart(vm.fee.invoice)">
        <header class="background-base card__post__header card__post__header--fine clearfix has-background">

            <h3 class="col-md--eightcol fine__item epsilon no-margin">
                <span class="fine__cost">{{ vm.fee.charge }}</span>{{ vm.fee.description }}
            </h3>

            <div class="col-md--fourcol col--last align-right">
                <button class="button button--primary--alt button--small fine__toggle js-fine__toggle small-text"
                        ng-click="vm.showDetails( fee )">Details
                </button>

                <button class="button green button--small small-text fine--in-cart" title="Remove fee from your cart"
                        ng-show="vm.fee.addState"
                        ng-click="vm.removeFromCart(vm.fee.invoice)"
                        ng-if="!vm.user.invalid_email">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span class="js-addCart__label">In Cart</span>
                </button>

                <button class="button green button--small small-text" title="Add this fee to your cart"
                        ng-show="!vm.fee.addState"
                        ng-click="vm.addToCart(vm.fee)"
                        ng-if="!vm.user.invalid_email">                   
					<i class="fa fa-cart-plus" aria-hidden="true"></i>
                    <span class="js-addCart__label">Add</span>
                </button>

            </div>
            <span class="clearfix"></span>
        </header>

        <section class="fine__information"
                 ng-show="vm.fee.detailState ">
            <table class="table table--compact">
                <tbody>
                <tr ng-if="vm.fee.due_date">
                    <td class="fine_header">Date Checked Out:</td>
                    <td>{{ vm.fee.due_date }}</td>
                </tr>

                <tr ng-if="vm.fee.due_date">
                    <td class="fine_header">Date Due:</td>
                    <td>{{ vm.fee.due_date }}</td>
                </tr>

                <tr ng-if="!vm.fee.due_date && vm.fee.date_assessed">
                    <td class="fine_header">Date Assessed:</td>
                    <td>{{ vm.fee.date_assessed }}</td>
                </tr>

                <tr>
                    <td class="fine_header">Type:</td>
                    <td>{{ vm.fee.charge_type }}</td>
                </tr>
                <tr>
                    <td class="fine_header">Fee charged:</td>
                    <td>{{ vm.fee.charge }}</td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>