<tr>
    <td>
        <a href ng-show="!vm.checkCart(vm.hold.hold)" ng-click="vm.addToCart(vm.hold)">Select</a>
        <a href ng-show="vm.checkCart(vm.hold.hold)"  ng-click="vm.removeFromCart(vm.hold.hold)">Deselect</a>
    </td>
    <td ng-bind-html="vm.hold.title"></td>
    <td ng-bind-html="vm.hold.status"></td>
    <td>{{ vm.hold.pickup }}</td>
    <td ng-bind-html="vm.hold.cancel"></td>
</tr>