<header id="modal-label">
    <h3>Why do I have a  <b>Home Library</b>?</h3>
</header>

<div class="modal-content epsilon clearfix">
    <p class="no-margin">
        Your "home library" determines where you will pick up holds or interlibrary loan materials.
        If you change your home library to another library, the pickup location will automatically be your “new” home library.

    </p>
</div>