<header id="modal-label">
    <h3>What are <b>Library Guides</b>?</h3>
</header>

<div class="modal-content epsilon clearfix">
    <p class="no-margin">
        Library Guides are put together by librarians about specific subjects, courses,
        and tools, which help you navigate the library's vast resources so
        you can find what you need or get something done a little quicker.
    </p>
</div>