
p, article ul, article ol, article dl {
	@extend .epsilon;
}

body #inner-content {
	padding-bottom: 3em;
	padding-top: 2em;
}

.hero + #content > #inner-content {
	padding-top: 0;
}

.page-description {
	margin-bottom: 3em;
}

/* ==================
 * $CATEGORY
 */ //

.librarylearn {
	&.archive, &.search {
		.hentry {
			border-bottom: 1px solid $border-color-light;
			padding: 1em 0;

			&:hover, &:focus {				
				background-color: #f9f9f9;
			}

			&:last-child {
				border-bottom: 0;
			}
		}

		.thumbnail img {
			border: 1px solid $dark-blue-base;
		}
	}
}

/* ==================
 * $Search Results */
.grid-view .cell {

	// magic numbers! 
	height: 600px;

}

/* ==================
 * $Hero */
.hero {
	
	padding: 3em 0; 

	&.has-border {
		border-bottom: 1px solid white;
	}

	&.callout {
		padding: 6em 0;
	}
}

.hero--small {
	padding: 1em 0;
}

.has-background {
	h1, h2, h3 {
		color: white;
	}
}

.has-background {

	color: white;

	.title { color: white; }

	.card .title { color: white; }

	.title {
		font-size: 24px;
		font-size: 1.33333rem;
		margin-bottom: .25em;

		@include breakpoint( squarescreen ) {
			font-size: 36px;
			font-size: 2rem;
		}
	}

	&.background-base {
		background-color: $dark-blue-base;

		a, a:visited { color: white; }
		.card {
			background-color: rgba( $dark-blue-base, .9 );
		}
	}	

	&.background-bright-blue {
		background-color: $blue-tropical;

		&:hover, &:focus, &:active {
			background-color: lighten($blue-tropical, 9%);
		}
	}

	&.background-blue {
		background-color: $dark-blue-tinsley;

		a, a:visited { color: white; }
	}	

	&.background-green {
		background-color: $green;

		.card {
			background-color: rgba( $green, .9 );
		}
	}

	&.background-mint-green {
		background-color: $mint-green;

		.card {
			background-color: rgba( $mint-green, .9 );
		}
	}

	&.background-sea-green {
		background-color: lighten($sea-green, 9%);

		figure img {
			border: 5px solid lighten($sea-green, 9%);
		}
	}

	&.background-coral {
		background-color: $coral;

		.card {

			background-color: rgba( $coral, .9 );
		}
	}

	&.background-orange {
		background-color: $orange;
		.card {
			background-color: rgba( $orange, .9 );
		}
	}

	&.background-peach {
		background-color: $peach;
		
	}

	&.background-white {
		background-color: white;
		color: $dark-blue-tinsley;

		.card {
			background-color: white;
		}

		.title {
			color: $dark-blue-tinsley;
		}
	}

	&.callout {
		background-attachment: fixed;
	}
}

.caption a, .caption a:visited {
	text-decoration: underline;
}

.caption .page-title {
	color: $dark-blue-tinsley;
}

.has-background-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

p.has-border {
	border-bottom-color: $blue-tropical;
	border-left-color: $dark-blue-tinsley;
	border-right-color: $blue-tropical;
	border-style: solid;
	border-top-color: $dark-blue-tinsley;
	border-width: 2px;
	padding: 1em;
}

.has-background-image.hero-event {

	padding: 0;

	@include breakpoint( tablet ) {
		padding: 3em 0;
	}

	&.hero-event_large {

		@include breakpoint( tablet ) {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
		height: 0; 
		//padding-bottom: 39.25%;
		padding-bottom: 35%;
		position: relative;

		.card {
			bottom: 1em;
			box-shadow: 0 5px 11px rgba(0,0,0,0.3);
			left: 0;
			right: 0;
			position: absolute;

		}
		}
	}

	.thumbnail {

		@include breakpoint( tablet ) {
			display: none;
		}

		@include breakpoint( squarescreen ) {
			display: block;
	        position: relative;
	        float: left; 
	        margin-left: 0;
			width: 22.928176794%;
		}
	}

	.thumbnail img {

		@include breakpoint( tablet ) {
			box-shadow: 0 5px 11px rgba(0,0,0,0.3);
		}
	}

	.information {

		@include breakpoint( squarescreen ) {
	        position: relative;
	        float: right; 
	        margin-left: 2.762430939%;	
			width: 74.30939226%;
	
		}

		.excerpt a {
			text-decoration: underline;
		}

	}

	.card {
		padding: 1em 0 1em;

		@include breakpoint( squarescreen ) {
			padding-bottom: 2em; 
		}
	}


	.details {

		color: $body-copy-color;

		@include breakpoint( squarescreen ) {
			bottom: -1em;
			position: absolute;
			right: 0;
		}

		time, .category, .button {
			border-radius: 4px;
			display: inline;
			padding: .25em;
				
				&.has-background {
					color: white;
				}

				&.background-coral {
					background-color: transparent;
					border: 2px solid $coral;
					color: $coral !important;
				}

				&.background-base {
					background-color: transparent;
					border: 2px solid $dark-blue-base;
					color: $dark-blue-base;
				}

		}

		time {
			margin-right: .5em;
		}


	}
}
