/* ==================
 * $LIBRARYLEARN Styles
 * ================== */
.event, 
.resource {

	overflow: hidden;
	position: relative;

	a[rel="tag"] {
		font-size: .75em;
		text-transform: uppercase;
	}

	.card {
		background-color: $dark-blue-base;
		border-top: 2px solid white;
		bottom: 0;
		color: white;
		padding: .5em;
		position: absolute;		
		width: 100%;
	}

	.title {color: white; }

	&:hover, &:active {
		.card { 
			background-color: $green; 
		}
	}
}

.event a[rel="tag"] {
	color: $sea-green;
}

// Special "Resource" Card Styles
.resource a[rel="tag"] {
	color: $orange;
}

.archive .resource {
	@include breakpoint( tablet ) {
		float: left;
		margin: 1%; 
		width: 31%; 
	}
}

/* ==================
 * Featured Events
 - Top-of-the-page, full-width features.
 - The background-image is determined inline,
 - but we can control the rest here.
 */

.feature-event, .feature-image {
	
	display: none;

	@include breakpoint( tablet ) {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
		height: 0; 
		padding-bottom: 39.25%;
	}

	&.video {

		@include breakpoint( tablet ) {
			background-color: $dark-blue-base;
			padding-bottom: 37%;
		}		
	}
}

.feature-image {
	position: relative;

	.caption {
		background-color: white;
		bottom: 0;
		color: $dark-blue-tinsley;		
		left: 0;			
		padding: 1em;
		position: absolute;
		right: 0;
		top: 0;

		@include breakpoint( squarescreen ) {
			bottom: 1em;
			top: auto;
		}
	}
}

.feature {

	color: white;
	overflow: hidden;
	position: relative;	

	.feature-event {
		@include breakpoint( squarescreen ) {
			width: 50%;
		}

		@include breakpoint( widescreen ) {
			width: 50%;
		}

		@include breakpoint ( cinemascreen ) {
			width: 66%;
		}
	}

	.card {
		background-color: rgba($dark-blue-base, .5);
		bottom: 0;
		padding: 1em;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;

		@include breakpoint( squarescreen ) {
			background-color: $dark-blue-base;
			border-left: 2px solid white;
			width: 50%;
		}

		@include breakpoint( widescreen ) {
			width: 50%;
		}

		@include breakpoint( cinemascreen ) {
			width: 34%;
		}

		.button {

			display: none;

			@include breakpoint( squarescreen ) {
				display: block;
				position: absolute;
			}
		}

		.excerpt {
			@extend .epsilon;
			margin-top: 1em;
		}

		.title { 
			color: white;
		}
	}


	.featurette {
		@extend .feature-event;
		padding-bottom: 22.25%;
		width: 33%;

		.card { width: 67%; }
	}
}

.assorted-features { 

	margin-bottom: 1em; 
	.feature-event {
		padding: 0;
		height: auto;
		position: relative;
	}

	.card {
	}

	.sidebar { 
		margin-top: .5em; margin-bottom: .5em; 

		.spotlight:first-child {
			margin-bottom: 1em;
		}
	}

}

.book {

	.cover { 
		width: 34%;
	}

	.cover img {
		width: 100%;
	}

	header a, header a:visited {
		color: $border-color-dark; 
	}
	
	&.showcase header {
		height: 100%;
		position: absolute;
		right: 0;
		width: 60%;
	}

	.genre {
		border-left: 3px solid $green;
		color: $green;
		font-style: italic;
		padding-left: .5em; 
	}
}

/* ==================
 * $SERIES
 */ 
.feature-series {
	background-color: $dark-blue-base;
	border-top: 2px solid white;
	min-height: 300px;
	padding-bottom: 3em; 
	padding-top: 1em;

	@include breakpoint(tablet) { padding-top: 3em;	}
	
	&.series {

		.second-in-series { margin-top: 1em; }
		.third-in-series { margin-top: 2em; }
	}

	&.video {

	}

	&.separator:after {
		border-top-color: $dark-blue-base;
	}

	.single-title {
		margin-top: .5em;

		@include breakpoint(tablet) { margin-top: 0;}
	}

}

