/* ==================
 * $Footer */

.footer {
	background-color: $dark-blue-base;
	border-top: 10px solid  darken($content-contrast-background, 3%);
	box-shadow: inset 0 2px 3px darken($dark-blue-base, 3%); 
	color: white;
	padding-top: 2em;

	a, a:visited {
		color: $soft-blue-base;
	}
}