.wrap {
    margin: 0 auto;
    width: 98%;

    @include breakpoint(tablet) {
        max-width: 1366px;
        width: 96%;
    }
} 

.col {

    &-sm {

        &--onecol   { width: 8.333333%;  }  
        &--twocol    { width: 16.666667%; } 
        &--threecol  { width: 25%; } 
        &--fourcol   { width: 33.33333%; } 
        &--fivecol   { width: 41.66666%; } 
        &--sixcol    { width: 50%; } 
        &--sevencol  { width: 58.33333%; }
        &--eightcol  { width: 66.66666%; } 
        &--ninecol   { width: 75%; }  
        &--tencol    { width: 83.33333%; } 
        &--elevencol { width: 91.6666%; }  
        &--twelvecol { width: 100%; } 


    }

    &-md {

        @include breakpoint( tablet ) {


            &--onecol   { width: 8.333333%;  }  
            &--twocol    { width: 16.666667%; } 
            &--threecol  { width: 25%; } 
            &--fourcol   { width: 33.33333%; } 
            &--fivecol   { width: 41.66666%; } 
            &--sixcol    { width: 50%; } 
            &--sevencol  { width: 58.33333%; }
            &--eightcol  { width: 66.66666%; } 
            &--ninecol   { width: 75%; }  
            &--tencol    { width: 83.33333%; } 
            &--elevencol { width: 91.6666%; }  
            &--twelvecol { width: 100%; }  


        }

        &.col--last {
            float: right;
        }
    }

    &-lg {

        @include breakpoint( squarescreen ) {


            &--onecol   { width: 8.333333%;  }  
            &--twocol    { width: 16.666667%; } 
            &--threecol  { width: 25%; } 
            &--fourcol   { width: 33.33333%; } 
            &--fivecol   { width: 41.66666%; } 
            &--sixcol    { width: 50%; } 
            &--sevencol  { width: 58.33333%; }
            &--eightcol  { width: 66.66666%; } 
            &--ninecol   { width: 75%; }  
            &--tencol    { width: 83.33333%; } 
            &--elevencol { width: 91.6666%; }  
            &--twelvecol { width: 100%; } 

        }
    }

}


[class^="col-sm"] {
    float: left;
    padding: .35%;
    position: relative;
}
[class^="col-md"],
[class^="col-lg"] {
    @include breakpoint( tablet ) {

        float: left;
        padding: .35%;
        position: relative;
    }
}

.col--centered {
    float: none;
    margin: 0 auto;
}
