$zindex: (
  dropdown  : 2000,
  main  	: 1000,
  modal		: 9000,
  header    : 6000,
  footer    : 5000
);

.drop-down {
	z-index: map-get( $zindex, dropdown );
}

main, #main, [role="main"] {
	z-index: map-get( $zindex, main );
}