* { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		 box-sizing: border-box; 
}

html, body {
	height: 100%;
}

#container {
	min-height: 100%;
	margin-bottom: -12em;
	
	&:after { 
		content: "";
		display: block;
	}
}

.footer, #container:after {
	height: 12em;
}