@mixin breakpoint($media-query) {
	@if $media-query == handheld {
		@media only screen and (min-width: $handheld) { @content; }
	}

	@if $media-query == handheld-end {
		@media only screen and (max-width: $handheld-end) { @content; }
	}

	@if $media-query == snapscreen {
		@media only screen and (min-width: $snapscreen) { @content; }
	}

	@if $media-query == snapscreen-end {
		@media only screen and (max-width: $snapscreen-end) { @content; }
	}

	@if $media-query == tablet {
		@media only screen and (min-width: $tablet) { @content; }
	}

	@if $media-query == squarescreen {
		@media only screen and (min-width: $squarescreen) { @content; }
	}

	@if $media-query == widescreen {
		@media only screen and (min-width: $widescreen) { @content; }
	}

	@if $media-query == cinemascreen {
		@media only screen and (min-width: $cinemascreen) { @content; }
	}	

}  
 
/* ==================
 * CSS Transitions
 * ================== */
/* @include transition(all,2s,ease-out); */
@mixin css-transition($what: all, $time: 0.2s, $how: ease-out) {
    transition: $what $time $how;
}


.transition {	@include css-transition(all, .2s, ease-out); }