$tablet: 720px;

.button--sort:active,
.button--sort:visited,
.button--sort:link, {
	box-shadow: none;
	color: rgba(68,68,68,.5);
	border: 1px solid #ddd !important;
	margin: 0 .25em !important;

	&:hover {
		box-shadow: none;
		color: rgba(68,68,68,.5) !important;
	}
}

/*------------------------------------*\
	$MENU
\*------------------------------------*/
.menu--actions--public {

	@media screen and ( min-width: $tablet ) {
		width: auto;
	}

	&__menu-item {

		@media screen and ( min-width: $tablet ) {
			display: inline-block;
			position: static;
			visibility: visible;
		}
	}

}

input[id="context-menu"]:checked ~ .menu--actions--public .menu--actions--public__menu-item {

	display: block;
	position: static;
	visibility: visible;

	@media screen and ( min-width: $tablet ) {
		display: inline-block;
		position: static;
		visibility: visible;
	}

}

.context-menu-toggle {

	float: right;
	margin: 1em 0 0;

	@media screen and ( min-width: $tablet ) {

		display: none;

	}

}


/*------------------------------------*\
	$FeedbackBar
\*------------------------------------*/
.feedback-bar {
  background-color: white;
  border-top: 1px solid #ddd;
  bottom: 0;
  width: 100%;
  z-index:1;

  &--fixed {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    position: fixed;
  }

  &__button__text {
    color: #21aabd;
    position: relative;
    top: -7px;
    margin-right: .5em;
    font-weight: bold;
  }

  form { float: right; margin: .5em 0 0; }
}

/*------------------------------------*\
	$Unstyles
\*------------------------------------*/
/**
 * These override NovaCat defaults set in ProStyles.css,
 * which I can't figure out how to prevent from loading O_o.
 */

 .universal.tinsley-gradient {
 	border-bottom: none;
 }

body, table, td, th, tr {
	font-family: inherit !important;
	font-size: 1em;
}

tbody tr:nth-of-type(even) {
	background-color: transparent;
}

.browseSearchtoolMessage {
}

// This is the results count
.browseSearchtoolMessage i {
}

%blockify {
	display: block;
}

%clearfix {
	&:before,
	&:after {
		content: "";
    	display: table;
	}
	&:after {
		clear: both;
	}
	zoom: 1;
}

%eightcol { // sort of

	padding: 1em !important;

	@media screen and ( min-width: $tablet ) {
		//padding: 1em 17.12705% !important;
	}

}



/*------------------------------------*\
	#SEARCH
\*------------------------------------*/
.checkbox-toggle[type="radio"] + .button,
.checkbox-toggle[type="checkbox"][name="m"] + .button {

	background-color: white;
	color: rgba( #444, .5 );
	cursor: pointer;
	border: 1px solid #ddd;

	&:hover, &:focus {
		//box-shadow: 0 2px 5px -2px rgba(0,0,0,0.16),0 2px 10px -4px rgba(0,0,0,0.12);
	}
}

.checkbox-toggle[type="radio"]:checked + .button,
.checkbox-toggle[type="checkbox"][name="m"]:checked + .button {
	border-color: #069;
	color: #069;
}

.c-types .button {
	width: 100%;

	.svg {
		fill: white;
		position: absolute;
		right: .5em;
		visibility: hidden;
	}

}

.c-types {

	.checkbox-toggle[type="radio"]:checked + .button,
	.checkbox-toggle[type="checkbox"][name="m"]:checked + .button {
		background-color: #21aabd;
		border-color: #21aabd;
		color: white;
	}

	.checkbox-toggle[type="radio"]:checked + .button .svg,
	.checkbox-toggle[type="checkbox"][name="m"]:checked + .button .svg {

		visibility: visible;
	}

}
/*------------------------------------*\
	#FOLD
\*------------------------------------*/
.fold {

  &__content {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
  }

  input[class="checkbox-toggle"]:checked ~ &__content {
    position: static;
  }

  input[class="checkbox-toggle"]:checked ~ &__label:before {
    margin-left: -.75em;
    margin-top: -.4em;
    transform: rotate(-90deg);
  }

  input[class="checkbox-toggle"]:checked ~ &__label:after {
    background-color: #F3787A;
  }

  &__label {
    position: relative;

    &:before {
      color: rgba( #444, .5 );
      content: attr(data-more);
      font-size: 80%;
      //font-weight: bold;
      height: .5em;
      //margin-left: .75em;
      //position: absolute;
      //transform: rotate(90deg);
    }

    cursor: pointer;
    display: block;
    text-align: center;

    &:after {
      background-color: #ddd;
      content: "";
      height: 4px;
      left: 17%;
      position: absolute;
      transition: all .2s ease-out;
      width: 66%;
    }

    &:hover {
      &:after {
        background-color: #F3787A;
      }
    }
  }

}


/*------------------------------------*\
	#ACCORDION
\*------------------------------------*/

.accordion {
	border: 1px solid #ddd;
	box-shadow: 0 2px 5px -2px rgba(0,0,0,.16),0 2px 10px -4px rgba(0,0,0,.12);
	position: relative;
}

.accordion__section {

	&__content {
		background-color: #fcfcfc;
		height: 0em;
		height: 0rem;
		overflow: hidden;
	}
}

.accordion p {
	font-size: 18px;
}

.accordion__section:target .accordion__section__content {
	border-bottom: 1px solid #ddd;
	height: 10em;
	height: 10rem;
	padding: 1em;
	overflow-y: auto;
}

.accordion__section__title {
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-left: 3px solid #e9e9e9;
	font-size: 18px;
	height: 3em;
	height: 3rem;
	margin: 0;
	padding: 1em;
	-webkit-transition: all .2s ease-out;
			transition: all .2s ease-out;

	&:hover, &:focus {
		border-left-color: #F3787A;
	}
}

.accordion__section:last-child
	.accordion__section__title {
		border-bottom: none;
	}

.accordion__section:target
	.accordion__section__title {
		border-left-color: #F3787A;
	}


/*------------------------------------*\
	$Type
\*------------------------------------*/
h1 {
	font-size: 36px;
	font-size: 2rem;
	margin-bottom: 0.825rem;
}

/*------------------------------------*\
	$Layout
\*------------------------------------*/
#container::before {
	background-color: none;
	transition: all .2s ease-out;
}
#container::after {
  background-color: #f5f5f5;
}
.has-overlay::before {
	background-color: rgba( black, .05 );
	bottom: 0;
	content: "";
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2001; // see _zindex.scss
}

.is-overlay {
	position: relative;
	z-index: 8999; // see _zindex.scss
}

.header {
	border-bottom: none;
}

.footer {
	//background-color: white;
	//border-top: none;
	//box-shadow: none;
	//padding-top: 0;

}
.footer a, .footer a:visited {
	//color: #069;
}

/*------------------------------------*\
	#ADVANCED SEARCH
\*------------------------------------*/

	.js-adv-search__more-field::last-child {
		display: none;
	}

	.js-adv-search__step {

		background-color: white;
		/*box-shadow: 0 2px 6px 0 rgba(51,51,51,0.1);*/
		border: 1px solid #ddd;
		width: 83px;
		height: 83px;
		border-radius: 50%;
		text-align: center;
		color: #313547;
		font-size: 48px;
		font-size: 2.66667rem;
		margin:0 auto;

	}

	.js-adv-search__step__instructions {
		position: absolute;
		bottom: -2em;
		left: 0;
		right: 0;
		font-size: 18px;
	}

form[name="novacat_search"] {

  .svg--info {
    top: -5px;
  }

  /*.form__select {
    display: block;
    margin-bottom: 2em;
    //position: absolute;

    @media screen and ( min-width: 768px ) {
      border: none;
      display: inline-block;
      margin-bottom: 0;
      position: absolute;
      width: 25%;
    }
  }*/

  //.form__select::after { z-index: 100; top: 66%; }
  /*.form__submit {
    float: right;
    position: relative;
    top: 1em;
  }*/

	/*.form__submit--inside {
    @media screen and ( min-width: 768px ) {
      position: absolute;
      right: 0;
      top: 0;
    }
	}*/

  .button svg {
    fill: white;
    position: relative;
    left: -5px;
    top: 5px;
  }

  /*input[name="searcharg"] {
    -webkit-appearance: none;
    border-radius: 2px;
    height: 55px;

    @media screen and ( min-width: 768px ) {
      border-left: none;
      border-radius: 0 2px 2px 0;
      float: right;
      width: 75%;
    }
  }*/
/*
  select[name="searchtype"] {
    background-color: white;
    height: 55px;
    line-height: 55px;
    width: 100%;

    @media screen and ( min-width: 768px ) {
      border: 1px solid #ddd;
      border-radius: 2px 0 0 2px;
      padding: 0 2em 0 1em;
    }
  }
*/
}

/*------------------------------------*\
	$Search Tool
\*------------------------------------*/

select[id="searchtype"],  select[name="HISTORY"] {
	display: inline-block;
	padding: 0;
}

Z {
	//-webkit-apperance: none;
	border: 1px solid #ddd;
	border-radius: 4px;
	outline: none;
	position: relative;
	padding: 0 10px;
	color: #444;
	background-color: #fff;
	height: 36px;
	line-height: 34px;
	word-wrap: initial;
}

select[id="searchtype"] {
	width: 150px;
}

/*------------------------------------*\
	# RESULTS PAGE
\*------------------------------------*/

/**
 * Hide "Modify Search" and "Search History"
 */
.navigationRow {
	display: none;
}

//.navigationRow { display: none; }

/**
 * Keyword Search / Modify Search
 */

.browseSearchtool {

	@extend %eightcol;

	//padding: .5em;
	background-color: white !important;
	border: 1px solid #e9e9e9 !important;
	border-left-width: 0 !important;
	border-right-width: 0 !important;	//border: none !important;
	//box-shadow: 0 2px 6px 0 rgba(51,51,51,0.1); // card--alt style
	margin-bottom: 0 !important;
	text-align: left !important;
  padding: 2em 0 3em !important;
	//box-shadow: inset 0 -3px 6px -2px rgba(51, 51, 51, 0.12);
	//background-color: #313547 !important;
	//color: #fff !important;

	form[name="searchtool"],
	& > form {

		position: relative;
		//background-color: white;
		//box-shadow: 0 2px 6px 0 rgba( 51, 51, 51, 0.1 );

	}

	input[id="searcharg"] {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 2px;
		color: #444;
    font-size: 21px;
    height: 55px;
		line-height: 44px;
    margin: 0 0 1em !important;
		outline: 0px;
    padding: 0px 10px;
		position: relative;
    width: 100%;

    @media screen and ( min-width: 768px ) {
      border-left: none;
      border-radius: 0 2px 2px 0;
      position: absolute;
      right: 0;
      width: 75%;
      top: 0;
    }
	}

	input[type="submit"] {
		background-color: #4B5971;
		border: none;
    border-radius: 2px;
		color: white;
    float: right;
    height: 55px;
		font-size: 21px;
		padding: .5em 1em;

    @media screen and ( min-width: 768px ) {
      border-radius: 0 2px 2px 0;
      position: absolute;
  		right: 0;
    }
	}


.fold { display: none; }
	select[id="searchtype"] {
  }
  form__select::after { z-index: 1000; }

  /*.form__select {
    border: none;
    display: block;
    margin-bottom: 1em;

    &::after {
      //top: 66%;
      z-index: 1000;
    }

    @media screen and ( min-width: 768px) {
      display: inline-block;
      position: absolute;
      width: 25%;
    }
  }*/
  select[id="searchtype"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #f5f5f5;
    height: 55px;
    width: 100%;

    @media screen and ( min-width: 768px ) {
      border-radius: 2px 0 0 2px;
    }
  }

	.form__select--scope {

    display: none;

    @media screen and ( min-width: 768px ) {
      border: none;
      bottom: -65px;
      display: block;
      font-size: 15px;
      padding: 0;
      position: absolute;
      //right: 74px;
      right: 0;
      text-decoration: underline;
      width: 163px; // magic number
    }

    &.js-pull-left {
      right: 109px;
    }

    select {
      background-color: transparent;
      border: none;
    }
  }

	label[for="hide-unavailable"] {
		border: 1px solid #ddd;
		color: rgba(68,68,68,0.5) !important;
		display: inline-block;
    display: none;
	}

	&__option-link {
    display: none;

    @media screen and ( min-width: 768px ) {
      bottom: -42px;
      display: block;
      position: absolute;
      right: 0;
    }

		&--adv ~ &--save {

			right: 7em;

			&:after {
				content: " /";
			}

		}
	}


	&__results {
		float: left;
    margin-top: -3em;
    width: 50%;

    @media screen and ( min-width: 768px ){
      margin-top: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 37%;
    }
	}

	&__results:nth-of-type(2) {
		left: 7em;
	}

	.fold__link {
		bottom: 1.5em;
		cursor: pointer;
		position: absolute;
		right: 7em;

		&:after {
			content: " /";
		}
	}

}


input[id="hide-unavailable"]:checked ~ label[for="hide-unavailable"] {
	border-color: #069;
	color: #069 !important;
}

td.browseSaveJump {
	display: none;
}

/**
 * $PAGINATION
 */

 // Hide the first instance of pagination.
 // It's already at the bottom of the page.
 .browseScreen > tbody > .browsePager:nth-child(2),
 .browseScreen > tbody > .browsePager:nth-child(3) {
 	display: none;
 }

tr.browsePager {

	@extend %blockify;

	background-color: white !important;
	padding: 1em 0;
}

td.browsePager {
	@extend %blockify;
	@extend %eightcol;

	color: white;
	font-size: 0;
	text-align: center;
}

.browsePager a, .browsePager strong {
	// Copies .pagination__link

	border: 1px solid #ddd;
	display: inline-block;
	font-size: 18px;
	//margin-right: -1px;
	margin-bottom: -1px;
	margin-right: -1px; // magic number
	padding: .5em 1em;
	position: relative;
	text-decoration: none;

	&:first-child {
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}

	&:last-child {
		border-right: 1px solid #ddd;
		border-bottom-right-radius: 2px;
		border-top-right-radius: 2px;
	}

	&:hover, &:focus {
		background-color: #f5f5f5;
	}
}

.browsePager strong {
	font-weight: normal;
	border-color: #069;
	background-color: #069;
	color: white;
	z-index: 1;

	&:hover {
		background-color: #069;
		color: white;
	}
}

.pagination a[href^="/search"] {
	background-color: white;
	border: 1px solid #ddd;
	display: inline-block;
	margin-bottom: -1px;
	margin-right: -6px;
	padding: .5em 1em;
	position: relative;
	text-decoration: none;
}

/**
 * $BRIEFCIT
 */
.briefCiteTable,
.briefCiteTable > tbody,
.briefCiteTable > tbody > tr,

.briefCiteEntryData {
	@extend %blockify;
	min-width: 94vw;

	@media screen and ( min-width: 768px ) {
		min-width: 81vw;
	}

  @media screen and ( min-width: 1024px ) {
    min-width: 66vw;
  }
}

.briefCiteEntryData {
	padding: 0;
}

.brief-resource {

	&__access {

		color: transparent;
		font-size: 0;
		line-height: 0;

	}

	.briefcitResourceRecord {

		float: left;
		font-size: 16px;

		&::after {
			content: " / ";
			margin-right: .25em;
		}

	}

	&__description {
		position: relative;
		overflow: hidden;
		max-height: 3.3em;

	}

}

.catalog__item__footnote {
  border-top: 1px solid #ddd;
  font-size: 80%;
  margin: 0;
  padding: 1em;

  .svg--info { top: -9.5px; }
}

.catalog__item__actions {
  margin-top: 1em;
}
mark { background-color: rgba( #21aabd, .1 ); }


.catalog__item__eaccess {
	display: none;
}
.catalog__item__eaccess[href*='auth'],
.catalog__item__eaccess[href*='ebook.3m.com'] {
	display: block;
  margin-top: 1em;
  padding: 0 1em;

  @media screen and ( min-width: 768px ) {
    padding: 0;
  }
}

.briefCiteEntryData .card
.catalog__item__hold {

  display: inline-block;
  float: left;
  margin: 0 1em 0 0;
	font-size: 80%;
  padding: .5em 1em !important;

}

/**
 * $ITEMS
 */

button.button--available {
	color: #3c763d;
	//border-color: darken( #dff0d8, 9%);
	border-color: #58B084;
	border-left-width: 3px;
	box-shadow: none;

	&:hover, &:focus {
		box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.16), 0px 2px 10px -4px rgba(0, 0, 0, 0.12);
	}

}

button.button--unavailable {
	border-color: rgba(0, 102, 153, 1.0 );
	border-left-width: 3px;
	box-shadow: none;

	&:hover, &:focus {
		box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.16), 0px 2px 10px -4px rgba(0, 0, 0, 0.12);
	}

}

.svg--info {
  fill: #21aabd;
  float: left;
  width: 16px;
  margin-right: .5em;
  position: relative;
}

.briefCiteTitleFull {
	@extend %blockify;

	&__title {
		font-size: 21px;
		margin-bottom: .25em;
	}

	&__subtitle {
    font-size: 18px;
		margin-bottom: .5em;
	}

	&__author, &__publisher, &__edition {
		margin-bottom: .5em;
    font-size: 18px;

    &::before {
      color: #999;
      font-size: 10px;
      font-weight: bold;
      margin-right: 1em;
      text-transform: uppercase;
      position: relative;
      top: -1px;
    }
	}
  &__author::before{ content: "by"; }
  &__edition::before { content: "Edition"; }
  &__publisher::before { content: "Publisher"; }

	&__subtitle + &__author {
		margin-top: -.25em;
	}

	&__subtitle::first-letter {
		text-transform: uppercase;
	}

	&__byline {
    background-color: #f5f5f5;
		color: #313547;
		font-family: Arial, 'sans-serif';
		font-size: 12px;
    margin: 0;
    padding: 1em;
		//display: none;

		span[ng-if] {
			display: block;
			margin-bottom: .25em;
		}

		span[ng-if="callno"]::before {
      content: "Call #";
      color: #21aabd;
      font-size: 10px;
      font-weight: bold;
      margin-right: 1em;
      text-transform: uppercase;
      position: relative;
      top: -1px;
		}

    span[ng-if="publisher"]::before {
      content: "Publisher";
      color: #21aabd;
      font-size: 10px;
      font-weight: bold;
      margin-right: 1em;
      text-transform: uppercase;
      position: relative;
      top: -1px;
		}

	}

	.link, a {
		text-decoration: none;
	}


}

.is-expanded .briefCiteTitleFull__byline {
	display: block;
}


.item__availability {

  display: inline-block;
  position: relative;

		@media screen and ( min-width: 768px ) {
			top: 1em;
		}

		@media screen and ( min-width: 1024px ) {
			top: .33333em;
		}
}

.item__availability span[ng-if="avail"] span {
	border-bottom: 4px solid #dff0d8;
	color: #3c763d;
}
.item__availability .svg {
	fill: #3c763d;
	float: left;
}

/**
 * $BROWSE HEADER
 */

tr.browseHeader, td.browseHeaderData, tr.msg {
	@extend %blockify;
	margin-bottom: 1em;
}

.browseHeader {
	//background-color: white !important;
	//font-weight: normal;
	//text-align: center;
}

.browseHeaderData {
	text-align: inherit;
}

/**
 * $Item List
 */

.browseList > tbody, {

	@extend %clearfix;
	@extend %eightcol;
}

.browseEntry, .browseSubEntry {
	background-color: white !important;
	display: block;
	border: 1px solid #ddd;
	//border-left-width: 3px;

	a {
		text-decoration: none;
	}
}

.browseEntry {
	border-bottom: none;
}

.browseSubEntry {
	border-top: none;

	.browseSubEntryData {
		padding: 1em;
	}
}

.browseList.is-index {

  tr.browseEntry:nth-of-type(3) {

    // Creates room for pseudo content
    margin-top: 3em;
    position: relative;

    td:before {
      font-family: Arial, 'sans-serif';
      font-size: 13px;
      font-weight: bold;
      position: absolute;
      top: -2em;
    }
    .browseEntryMark:before { content: "Mark" }
    .browseEntryData:before { content: "Titles"; }
    .browseEntryMedia:before { content: "Type"; }
    .browseEntryYear:before { content: "Year"; }
    .browseEntryEntries:before { content: "Entries"; }

  }

  & > tbody { float: none; width: 100%; }
	.browseHeaderNum, .browseHeaderMark, .browseHeaderMedia, .browseHeaderYear, .browseHeaderEntries {
		display: none;
	}

	.browseEntry {
    @extend %clearfix;
  }

  td.browseEntryNum {
    border: none;
    margin-left: -2em;
    position: absolute;
  }

	.browseSubEntry {

    @extend %clearfix;
    background-color: #f9f9f9 !important;
    border: 1px solid #ddd;
    border-bottom: none;


		&Data, &Year, &Media {
			float: left;
		}

		&Data {
			width: 66.666666%;
		}

		&Year, &Media {
			width: 8.333333%;
		}
	}

}

.browseList.sort--system {
	.browseHeader {
		display: table;

		& > .browseHeaderNum,
		& > .browseHeaderMark,
		& > .browseHeaderData,
		& > .browseHeaderYear,
		& > .browseHeaderEntries,
		& > .browseHeaderMedia,
		& > td {
			display: table-cell;
		}

		& > .browseHeaderData {
			background-color: transparent;
			border: none;
			color: inherit;
			padding: 0;
			margin: 0;
		}
	}

	.browseEntry, /*.browseSubEntry*/ {
		display: table;
		width: 100%;

		& > .browseEntryNum,
		& > .browseEntryMark,
		& > .browseEntryData,
		//& > .browseSubEntryData,
		& > .browseEntryYear,
		//& > .browseSubEntryYear,
		& > .browseEntryEntries,
		& > .browseEntryMedia,
		//& > .browseSubEntryMedia,
		& > td {
			display: table-cell;
		}

	}
}

.browseList.sort--title {
	tr.browseSubEntry {
		border-bottom: none;
	}
}

/*
 * If there are no matches found.
 */
.js-no-matches {
  .browseSearchtool {
    padding-bottom: 4em !important;
  }

  .browseSearchtool .form__select--scope {
    bottom: -83px;
  }
}

/**
 * $RELEVANT TITLES
 */
.browseSuperEntry,
.browseSuperEntry td,
.browseSaveJump,
td.browseSaveJump,
.browseList > tbody,
.browseList > tbody > tr[valign="middle"] {

	@extend %blockify;

}

.browseList > tbody { float: left; width: 0px;  }

table.browseList {
	margin-bottom: 3em;
}

.browseSuperEntry {
	@extend %clearfix;
	@extend %eightcol;

	margin-bottom: -1em;
	opacity: 0.5;
	display: none;

	@media screen and ( min-width: $tablet ) {
		text-align: right;
	}

}

.browseSaveJump {
	//margin-top: 2em;
}

tr.msg {
	@extend %blockify;
	@extend %eightcol;

	& > td {

		@extend %blockify;

		background-color: #d9edf7;
		border: 1px solid;
		border-color: #bcc8f1;
		border-radius: 2px;
		color: #069;
		margin-bottom: 1em;
		padding: .5em !important;
		text-align: left;
	}
}

/**
 * $SAVE MARKED RECORDS
 */
 .browseSaveJump {
 	background-color: white;
 	width: 100%;

 }

.browseScreen > tbody > tr > td {
	padding: 0;
}

.browseScreen {
	//background-color: #f9f9f9;
}

.browseScreen > tbody > tr[align="center"][valign="middle"],
.browseScreen > tbody > tr:nth-child(3)  {

	@media screen and ( min-width: 720px ) {
		//float: left;
		padding: .35%;
		//position: relative;
	}
}

/*
.browseScreen > tbody > tr[align="center"][valign="middle"] {
	@media screen and ( min-width: 720px ) {
		width: 31.491712705%;
	}
}
*/
.browseScreen > tbody > tr:nth-child(3) {
	@media screen and ( min-width: 720px ) {

		//float: right;
		//width: 65.74585634900001%;
	}
}

.catalog__result_number {
	cursor: pointer;
	color: #aaa;
	position: absolute;
	left: -3em;
	z-index: 1;
	font-size: 18px;
	background-color: rgba( white, .3 );
	display: block;
	width: 44px;
	height: 44px;
	text-align: center;
	border-radius: 50%;
	//box-shadow:  0px 2px 6px 0px rgba(51, 51, 51, 0.06);
	line-height: 44px;
	border: 1px solid #ddd;
	top: 33%;
	transition: all .2s ease-out;

	&:hover, &:focus {
		background-color: rgba( white, 1 );
		box-shadow: 0px 2px 6px 0px rgba(51, 51, 51, 0.06);
		color: #069;
	}
}

/*
.briefCiteRow input[name="save"]:before {
	content: "Bookmark";
}

.briefCiteRow input[name="save"]:checked:before {
	content: "Bookmarked";
}
*/

.briefCiteRow input[name="save"]:checked + .catalog__result_number {
	background-color: rgba( white, 1 );
	box-shadow: 0px 2px 6px 0px rgba(51, 51, 51, 0.06);
	color: #069;
}

.briefCiteRow input[name="save"]:checked ~ .briefCiteTable {
	border-left-color: #069;
	box-shadow: 0px 2px 6px 0px rgba(51, 51, 51, 0.06);
}

.briefCiteRow .card__footer {

	margin-top: 2em;

}

.catalog__item__format {

  display: none;

  @media screen and ( min-width: 768px ) {
    display: block;
  	right: .5em;
  	top: .5em;
  	background-color: white;
  	padding-top: 10px;
    position: absolute;
  	width: 50px;
  	z-index: 1;

  	img {
  		width: 100%;
  	}

  }

}

.modal--availability .modal-content, .tab-content {
	background-color: white;
	color: #444;

	.bibItems {
		border: none;
		border-top: 2px solid #444;
	}

	.bibItems tr:nth-of-type(2n) {
		background-color: #f5f5f5;
	}

	th.bibItemsHeader { font-size: 100%; }

	a, a:visited {color: #069;}
	.button--primary { color: white !important; }
}

input[name="save"] {
	right: 1em;
	position: absolute;
	top: 1em;
	z-index: 1;

	/*&:after {
		color: #ddd;
		content: "Bookmark";
		font-size: 80%;
		position: absolute;
		right: 1.5em;
	}*/
}


table.browseList {

	tr.browseHeader, tr.browseEntry {
		//display: table;
		//width: 100%;
	}

	td.browseHeaderNum,
	td.browseHeaderMark,
	td.browseHeaderData,
	td.browseHeaderYear,
	td.browseHeaderEntries,
	td.browseEntryNum,
	td.browseEntryMark,
	td.browseEntryData,
	td.browseEntryYear,
	td.browseEntryEntries {
		display: inline-block;
		text-align: left;
		vertical-align: bottom;
	}

	tr.browseEntry, tr.browseHeader {

		td {
			display: inline-block;
		}

		td.browseHeaderMark {
			color: transparent;
		}

		td.browseHeaderEntries {
			background-color: transparent;
		}

		td,
		td.browseEntryNum,
		td.browseEntryMark,
		td.browseEntryYear,
		td.browseHeaderNum,
		td.browseHeaderMark,
		td.browseHeaderYear
		{
			width: 7.333333%;
		}

		td.browseEntryData,
		td.browseHeaderData {
			width: 58.33333%;
		}

		td.browseEntryEntries,
		td.browseHeaderEntries {
			border-top: none;
			width: 16.666667%;
		}

	}

	tr.browseEntry td {
		border-right: 1px solid #ddd;

		&:last-child {
			border-right: none;
		}
	}





}

/*------------------------------------*\
	$BrowseSearchTool
\*------------------------------------*/
div.bibSearchtoolMessage {
/*	border-bottom: #f1f0eb solid 1px; */
/*	border-top: #f1f0eb solid 1px; */
	}

div.bibSearchtoolMessage i {
	color: #990033;
	font-style: normal;
	padding-right: .5em;
	padding-left: .5em;
	}


/*------------------------------------*\
	$BriefCit
\*------------------------------------*/

.briefCitRow {
	border-top: 1px solid #e9e9e9 !important;
}

.browseList {
	.briefCiteRow,
	tr.briefCiteRow {

		/*&:nth-of-type( odd ) {
			background-color: #f8f8f8;

			.bibItemsEntry:nth-of-type(even) {
				background-color: white;
			}
		}

		&:nth-of-type( even ) {
			.bibItemsEntry:nth-of-type(odd) {
				background-color: #f8f8f8;
			}
		}*/

		background-color: transparent;
		display: block;
		overflow: inherit;
		transition: all .2s ease-out;
    padding: 0;
    position: relative;
		margin-bottom: .5em;

    &:last-child { margin-bottom: 3em; }

		.bib-display__items {
			margin: 1em 0;
		}

	}
}


.briefCiteRow:nth-of-type(odd) {
	//background-color: #f9f9f9;
}

.briefCite {
	padding: 1em 0;
	padding: .25em 0;
}

.briefCite.card--alt {
	border: 1px solid #ddd;
	padding: 1em;
}

td.briefCiteEntryYear,
td.briefCiteEntryNum {
	vertical-align: top;
}

.briefCiteEntryNum {

	position: relative;

	.media {
		padding: 0;
	}

}

td.briefCiteEntryData {

  .card {
    display: inline;
  }
  .briefCiteTitleFull, .catalog__item__actions { padding: 0 1em; }
  .briefCiteTitleFull__byline { padding: 1em 2em; }

  @media screen and ( min-width: 500px ) {
    .card { display: block; }
    .briefCiteTitleFull, .catalog__item__actions { padding: 0; }
    .briefCiteTitleFull__byline { padding: 1em; }
  }

  .item__cover-container {
    display: block;
    float: right;
    max-width: 80px;
    position: relative;
    z-index: 1;

    img {
      color: white;
      &:not( [src] ) {
        opacity: 0;
      }
    }

    @media screen and ( min-width: 500px ) {

      float: left;
      max-width: 120px;
    }

    @media screen and ( min-width: 768px ) {
      float: none;
      max-width: 100%;
    }
  }
	.item__cover {

		//display: none;

			//box-shadow: 0 2px 6px 0 rgba(51,51,51,0.1);
			display: block;
			//min-width: 100px;
			padding: .35%;
			vertical-align: bottom;
			width: 100%;


	}
}

td.briefCiteEntryNum img {
	overflow: hidden;
	}


td.briefCite, td.browseSaveJump, td.browseEntryData, tr.browseSuperEntry td  {
	//border-right: silver solid 1px;
}


table.briefCiteTable {
	//border-left: 3px solid #ddd;
	transition: all .2s ease-out;
//	border-top: silver dashed 1px;
//	margin-bottom:6px;
//	width:100%;

	&:hover, &:focus {
		//border-left-color: #069;
	}
}

/*------------------------------------*\
	$Bib Display
\*------------------------------------*/
.record {

	&__actions {

		& > a:not( .button ) {
			display: block;
		}
	}

	/*&__actions a:not( .button ) {
		background-color: white;
		border: 1px solid #069;
		font-size: 80%;
		margin: .5em 0;
		padding: 1em 2em;
		text-decoration: none;
	}*/

	&__actions .button {
		/*@media screen and ( max-width: $tablet ) {
			display: block;
			font-size: 110%;
			margin-bottom: 1em;
			text-align: center;
		}*/
	}

	&__actions--sidebar {
		padding-right: 1em;

		a:not(.button) {
			display: block;
		}
	}
	&__actions--sidebar .button {
//		display: block;
	}

	&__byline {

		line-height: 2;
	}

	&__hold {
		position: relative;
	}
	&__hold::after {
		bottom: 4px;
		color: white;
		//content: "Local Patrons";
		font-size: 75%;
		left: 0;
		position: absolute;
		text-align: center;
		width: 100%;
	}

	&__publisher {
		color: #aaa;

		&--has-author {
			//line-height: 1.25;
		}
	}

	&__title {

		font-size: 1.3333rem;
		line-height: 1.25;
		margin-top: 0;
		padding-bottom: .5em;

    @media screen and ( min-width: $tablet ) {
      font-size: 2rem;
    }
	}

  &__subtitle::first-letter {
    text-transform: uppercase;
  }

  &__title, &__subtitle {
    border-bottom: 1px solid #ddd;
    margin-bottom: .5em;
    padding-bottom: .5em;
  }

  &__title--has-subtitle { margin: 0; padding: 0; border-bottom: none; }

  &__summary {
    margin-top: 1em;
  }

  &__heading {
    margin-bottom: .5em;
  }

  .bibOrder {
    display: block;
    padding: 0;

    td { border: none; }
  }

	.item__cover {
		padding: .35%;
		min-width: 100px;
		width: 100%;
		vertical-align: bottom;
	}

	.novacat-no-cover-alt { display: none; }
	.item__cover[src*="novacat-no-cover.png"] ~ .novacat-no-cover-alt {
		color: #888;
		display: block;
		font-size: 21px;
		margin: 0 auto;
		text-align:center;
		width: 60%;
	}


	.catalog__item__format {
		top: 0;
		right: 0;
		position: absolute;
	}

	.item__cover--no-image > .catalog__item__format {
		position: static;
	}
}

.record--resource {

	.record__title .resourceInfoData {
		font-size: 2rem;
	}
	.record__title, .record__byline,
	.record__subjects, .record__access-icons, .record__license {
		table, tbody, tr, td {
			@extend %blockify;
			border: none;
			margin: inherit;
			padding: inherit;
			width: 100%;

			.resourceInfoLabel {display: none;}
		}

		.resourceInfoData {
		}
	}

	.record__access-icons {
		display: inline-block;
		font-size: 0;
	}

	.record__license {
		.resourceLicenseHeader {
			display: inline-block;
			font-size: 100%;
			padding-right: 0;
			width: auto;
			border: none;
			font-weight: bold;

			&:after {
				content: ": ";
			}
		}
		.resourceLicenseEntry {
			display: inline-block;
			width: auto;
		}
	}
}

.bib-display__title {

	.bibInfoLabel {
		position: absolute;
		visibility: hidden;
	}

}

.bib-display__actions {
	margin-top: 1em;
	a {
		display: block;
		margin-bottom: .5em;
	}
}

.bibInfoData {
	padding: 0;
}
.bib-display__info {

	.bibInfoEntry > td {
		padding: 0;
	}

	.bibInfoEntry tr:nth-of-type(even) {
		background-color: #f9f9f9;
	}

	.bibInfoEntry table td,
	.bibInfoEntry table th {
		border: 1px solid #e9e9e9;
		padding: .5em;
	}

	.bibInfoLabel {
		font-weight: normal;
		width: 25%;

	}

}

@media screen and (min-width: 768px) {
	.tab-nav, .js-overlay .tab-nav {
		flex-direction: row;
		left: 1em;
		right: inherit;
	}
}

.bib-display__items {

	.bibItems, .bibLinks, .bibHoldings, .bibResourceBrief {

		border: none;
		margin: 0 auto;
		width: 100%;

	}

	.bibLinks th {
		display: none;
	}

	[align="center"] {
		text-align: left;
	}

	td,	th {
		border-right: none;
		border-left: none;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		padding: .5em;
		font-size: 16px;
	}


	.bibItemsEntry td {
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		font-size: 16px;
		padding: .5em 1em;
		vertical-align: middle;
	}

	.bibItemsEntry td:first-child {
		text-indent: -5px;
	}

	.bibItemsEntry:nth-of-type(odd) {
	//	background-color: white;
	}


	.bibItemsHeader {
		//background-color: #313547;
		font-size: inherit;
		font-weight: bold;
		padding: .5em 1em;
		text-align: left;
	}

	.bibHoldings td,
	.bibHoldings th {
		border: none;
	}
	.bibHoldings tr.bibResourceEntry td {
		border: none;
		font-weight: normal;
	}
}

td.bibInfoData > strong {
	font-weight: normal;

	strong	{
		font-size: normal;
	}
}


/**
 *
 */

#searchlinks{
margin-top: 20px;
text-align: left;
font-size: 1em;
line-height: 200%;
}

#searchlinks a:hover
{
	text-decoration: underline;
	cursor:pointer;
}

#btnSearch {
border:0 none;
cursor:pointer;
height:18px;
margin:-1px 0 0;
padding:0;
}

#qtoolbar form {float:left;}

/*END NSU */
/*PAGE LAYOUT */
.Clear { clear:both;}

.breadcrumbs{font-size:80%; margin:10px 0; display:block;color:#444}
.errorMsg{color:#CC0000;font-size:105%}
.errorMsg h2{color:#CC0000;font-size:105%}
/*LOGGED NAME */
.logged_msg{font-weight: bold; display: block; margin-bottom: 10px;}
/*SELF REGISTRATION*/
.termsConditions{
width:60%;
display:block;
color:#333;
background-color: #f7f7f2;
border: 1px solid #999999;
padding:8px;
text-align:center;
margin:10px auto;}
.termsConditions strong{font-weight:bold;}
.applications{width:60%;margin-left:auto;margin-right:auto;margin-bottom:20px;}
.appboxes{float:left; width:45%}
.appboxes strong{font-weight:bold;}

.navigationRow select {
    vertical-align: top;
	clear:both;
}
.bibSearchHistory,.bibRelSearch{text-align:center;margin-bottom:5px;}
.bibSearchHistory,.bibRelSearch a { text-decoration: none }

/*BIB RECORD DISPLAY */

.CenterBox {
	//width: 95%;
	//border-left: silver solid 1px;
	//border-right: silver solid 1px;
	//border-top: silver dotted 1px;
	//border-bottom: silver dotted 1px;
	//margin: auto;
/*	padding-right:1em; */
	}


.bib_items table {border:1px solid #eeeeee; border-collapse:collapse; width:100%; margin-bottom: 5px; *padding: 1px;padding:8px 0 0 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 3px 3px 5px #333;
	-webkit-box-shadow: 3px 3px 5px #333;
	box-shadow: 3px 3px 5px #333;
}

/* RESOURCE RECORD DISPLAY */

.ResourceCenterBox {
	width: 95%;
	border-left: silver solid 1px;
	border-right: silver solid 1px;
	border-top: silver dotted 1px;
	border-bottom: silver dotted 1px;
	margin: auto;
/*	padding-right:1em; */
	}
td.resourceInfoLabel, .resourceLicenseHeader {
   color: #444444;
    font-size: 90%;
    font-weight: normal;
    padding-right: 1em;
    text-align: left;
    width: 15%;
}

.ResourceCenterBox table table {width:100%;font-style:normal;}
.ResourceCenterBox table table td.resourceInfoLabel{width:13%;font-style:normal;}

//.bibTitle {font-family: Arial;font-size: 1.5em;font-weight: bold;}


/*PATRON RECORD DISPLAY*/
.pat{background:#fff; width:98%; margin:auto;}
.patFloat{background:#fff; width:98%; margin:auto;}
.patActionBar{background:#fff; width:auto; margin:auto;text-align:center;}
.patNameAddress{background:#fff; width:98%; margin:auto;}
.patLogout{margin-bottom:10px;}

/*TOP LOGO */
.topLinks { float: right; height: auto; margin:0; padding:0; width: 50%; }
#topLinksList a:link, #topLinksList a:visited  { color: #1367A7; font-family:Arial,"Arial Unicode MS",Helvetica,Verdana,sans-serif; font-weight:bold; padding:6px 15px 3px 15px; text-decoration:none; width:auto; }
#topLinksList a:active,#topLinksList a:hover   { background:#F2F2F2; color:#0091FF; text-decoration:underline; }
#topLinksList li { list-style:none; padding:0; display:inline; }
#topLinksList  { float:right; margin:0; padding:0; font-size:.9em; display:inline; }
.buttonTopLinks { white-space:nowrap; }
.buttonTopLinks img { border:0; margin-right:3px; }
.buttonTopLinksText{ vertical-align:top; }





/*SEARCH BOX */
#accessibleForm {
	/*background: #eeeeee;*/
	background: #f4f4f4 url(/screens/featurebox_bg.gif) no-repeat 100% 100%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 3px 3px 5px #333;
	-webkit-box-shadow: 3px 3px 5px #333;
	box-shadow: 3px 3px 5px #333;
	border: 1px solid #999\9;
}
legend{ color:#444;}
#accessibleForm fieldset { border: 1px solid #CCCCCC; }
#accessibleForm h2 { margin-left:15px; margin-bottom:0; margin-top:12px }
#accessibleForm span.formLabel { display:block; padding-top:3px; }
#accessibleForm span.formLabelExample { font-style:italic; }
#accessibleForm .formEntryArea, #accessibleForm .ecommerceFormEntryArea { margin:3px 0 0 15px; }
#accessibleForm .formButtonArea .formButtonArea {margin-left:12px; display:inline;}
#accessibleForm font { font-size:1em; padding:10px; }
#accessibleForm p { margin-bottom:5px; margin-top:3px; }
#accessibleForm ul { margin-left:10px; margin-top:0; padding-left:15px; }

.formButtonArea { margin:12px 0 0 15px; }
.formButtonArea a, .requestMultiPatform center a, .mylistsSavePage a { text-decoration:none; }
.formButtonArea input { margin:5px 0; }
/*.form2Part{
	width: 100%;
	background:yellow;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	text-align: left;
}*/

.formEntryArea  fieldset { margin:3px; padding:3px; }
.form2Part fieldset, .form1Part fieldset { padding:0.35em 2em 0.75em 0; }
.form2Part formLabel, .form1Part formLabel { font-size:.8824em; }
.formLeft { float:left; padding:10px 10px 10px;width:45%; margin-right: 1%;}
.formRight { float:left; padding:12px 5px; width:40%;}
.formWide {padding: 10px; width: 95%}
.formWide legend{font-weight: bold;}
.form3Part fieldset { padding:5px; }
.form2Part,.form3Part  { background:transparent; border:1px solid #D3D3D3; float:left; margin:0 20px 15px 0; width:98%}
#form3PartAdvLimitSort { }
#form3PartAdvLimitSort label { display:table-cell; float:left; padding-right:5px; width:5em; }
#form3PartAdvLimitSort select { margin-left:2px; width:144px; }
.form3PartAbove { display:inline-block; padding:10px 10px 0;width:98% }
.form3PartBelow { background:transparent; clear:both; margin-top:1em; width:98%  }
.advancedSearch{ display:inline-block;border:none; padding:10px 10px 0;width:100%;}
.advancedSearch table{border:none;}
.topicLinks  li{list-style-type: disc;}
.searchTips li {list-style-type: circle;}
.tipsBox{width:90%;
background: transparent;
padding: 3px; font-size: 80%;
}
.mediumtext{font-size:90%;}
p.headerTips {font-weight:bold;color:#444444;}
.tipsBoxHeader{font-weight:bold;color:#444444;}
.tipsBoxEx{font-style: italic;}
.switch{font-weight:bold;color:#444444;}
.errorMsg{color:#CC0000;font-size:115%;font-weight:bold;}
p.limit{font-weight:bold; margin-bottom: 5px;}
p.holds{font-weight:bold; float:right;}

/***************TABS******************************/
ul#toc {
    height: 2em;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#toc li {
    float: left;
    margin: 0 5px 0 0;
	border-bottom: none;

}

ul#toc a {
    background: #f4f4f4;
    color: #006599;
    display: block;
    float: left;
    height: 2em;
	margin-left: 5px;
    padding-left: 10px;
    text-decoration: none;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 10px;
	-moz-box-shadow: 5px 0 2px #888;
	-webkit-box-shadow: 5px -2px 2px #888;
	box-shadow: 5px -2px 2px #888;
	border: 1px solid #999;
	border-bottom:none;
	}




ul#toc a:hover {
    background-color: #999;
	color: #fff;
	font-weight: bold;
    /*background-position: 0 -120px;*/
}

ul#toc a:hover span {
    /*background-position: 100% -120px;*/
}

ul#toc li.current a {
    background-color: #3698cb;
    /*background-position: 0 -60px;*/
    color: #f4f4f4;
    font-weight: bold;
}

ul#toc li.current span {
    /*background-position: 100% -60px;*/
	display: block;
}

ul#toc span {

    display: block;
    line-height: 2em;
    padding-right: 15px;
}





/*BD */
/* START hide mobile stuff */
tr.briefCiteM , #bibHoldingsM , #bibToCM , .pagetopContentM {display:none}

/*
button.returntoresults , button.startover , button.modify , button.limitsearch , button.prevscreen {display:none;}
*/

/*
span.returntoresults , span.startover , span.modify , span.limitsearch , span.prevscreen , span.brief , span.clearmarked , span.extended , span.marc , span.regdisplay , span.ret2crs , span.viewmarked , span.searchkw , span.markrec  {display:none;}
*/

/* Below does a global suppression of the textual "buttons" */
span.buttonM {display:none}

#srchmodContainerM {display:none;}

div.mobileOnly {display:none;margin-top:1em}

/* END hide mobile stuff */

/* Fix hover for img links in WB table */
td.bibResourceTableEntry span a:hover , td.bibResourceTableEntry a:hover img , #gbs a:hover {background-color: #FBF8E3;text-decoration:none;}

/* Fix hover for links in saved records display */
center a:hover {background-color:#fff;}
center .browseEntryData a:hover {background-color:#dfddd6;}

.additionalCopies {text-align:left;}
.additionalCopies table.bibItems {margin:1em auto;width:90%}

/* for location pop-ups */

body#location {
	background: #FFFFFF;
	margin: 3em 1em;
	font-size: 90%;
	margin-top: 2em;
	margin-left: 1.5em;
	}

#location p {
  margin:1em;
	font-family: Verdana, Geneva, Tahoma, Arial, sans-serif;
  }

div#closer {
	text-align: center;
	}

.LocName {
	color: #963146;
	font-weight: bold;
	}

.LocPlace {
	color:  #963146;
	font-weight: bold;
	}

/* end location pop-ups */

/* alter reserves columns for makeitbetter script: */
.reserveBibs td {
	width:33%;
	vertical-align: top;
	}

/* briefcit brief/detailed image fix for IE: */
.brief_detail  {height:30px; width:80px}

#renewfailmsg {
	color: #000;
	background: #ffff99;
	font-weight: bold;
	font-style: normal;
	font-size: 92%;
	padding: .5em;
	margin: .5em auto;
	text-align: left;
	}

.confirmationprompt {
	color:#990033;
	padding-left:1em;
	font-weight:bold;
	font-size:80%;
	}

div.bibTitle {
	clear: left;
	margin-left:-.5em;
	}


#hilitesSwitch a {
	border: none;
	background: none;
	}

font.kwhilite strong {background-color: #fff;}

/* Above this line added after upgrade */

span#save_page_btn2 + form {
	float: right;
	margin-right: 1em;
	}

.browseSaveJump input {
	float: left;
	width:auto;
	overflow:visible;
	padding: 0 1em;
	margin-right: .25em;
	}

#patrecInfo strong{
	background-color:#FFFFFF;
	color:#283FA0;
	font-family:Trebuchet MS,Arial,Verdana,Geneva,Tahoma,sans-serif;
	font-weight: bold;
	padding-left:0.5em;
	}

.patrecLink {
	background: url('/screens/blue_arrow.png') no-repeat left scroll;
	padding-left: 1em;
	margin-left: 1em;
	}

#topNavRow {
	margin-bottom: .5em;
	}

.deleteSelected {
	margin: 1em 0 0 4.5em;
	}

center table {
	border: none;
	width: 90%;
	}

#patrecInfo br {display:none;}

#patrecInfo {text-transform: lowercase;}

#patrecInfo strong {
	font-size:1.5em;
	padding-right: 1em;
	text-transform: none;
	}
.patFuncHeaders {
	background-color: #f3f5f7;
	border: silver solid 1px;
	padding: .5em;
	}

table.patFunc td {
	border: silver solid 1px;
	padding: .5em;
	}

table.patFunc {
	border-collapse: collapse;
	border: silver solid 1px;
	margin: .5em 0;
	}

th.patFuncTitle, .patFuncNoEntries {
	color: #990033;
	font-weight: bold;
	padding: .5em .25em;
	border-bottom: dashed silver 1px;
	}

.patFuncStatus {
	font-weight:bold;
	}



.patFuncArea {
	border: none;
	border-top :silver dotted 1px;
	width:100%;
	margin: 1em 0 2em 2em;
	padding-top: .5em;
	}

.navigationRow img, center img {
	padding-left: .5em;
	}

.navigationRow a:hover, center a:hover img {
	background-color: #fff;
	}


/*
######
for status.html
*/

.statuscode, .statusdef, .statusheader {
	vertical-align: top;
	border:silver solid 1px;
	padding: .25em .5em;
	}

.statusheader {
	text-align: left;
	color: #800;
	}

.statuscode {
	font-weight: bold;
	width:30%;
	}

#statusTable {
	border:silver solid 1px;
	border-collapse: collapse;
	margin-bottom: 1em;
	}

/* IE FIX */

.CenterBox {
	//width: 90%;
	//border-left: silver solid 1px;
	//border-right: silver solid 1px;
	//border-top: silver dotted 1px;
	//border-bottom: silver dotted 1px;
	//margin: auto;
/*	padding-right:1em; */
	}

.bibBox{
	float:left;
	margin-left:15px;
	display:block;
	width:80%;
    }

.CoursebibBox{
	float:left;
	margin-left:15px;
	display:block;
	width:90%;
    }

div.bibScreen {
	width: 75%;
/*	_width: 100% ; IE hack; thanks Bowdoin */
	margin-top: 0;
	margin-bottom: 1px;
	text-align: left;
	}


div.RightBibTable {
	float: right;
	width: 15%;
	padding: 5px;
	border-bottom: dashed silver 1px;
	border-left: dashed silver 1px;
	text-align:center
	}

div.RightBibTable img{
	margin-top:5px;
	clear:both;
	}

table.bibResourceTable {
	vertical-align: top;
	}


.bibRecordBottom {
	margin: 1em 0 0;
	clear:both;
	}

/* end bib_display.html additions */

img.coverresize {
	-ms-interpolation-mode: bicubic;
	width:130px;
	}

hr {
	display: none;
	}

img {
	border: none;
	}



form {
	margin-bottom: 0
	}

/*
######
briefcit
*/

/* Fix for Safari and border-collapse when there's no border to collapse */


//td .browseSaveJump {background: #f4f4f4 url(/screens/featurebox_bg.gif) no-repeat 100% 100%;}

.briefCiteAuthData {
/* 	font-weight: bold; */
	color: #383838;
	}

.briefCiteAuthData em {
	font-style: normal;
	text-transform: lowercase;
	}

/* .briefCiteAuthData em:after {content: ":"} */

.briefCiteAuthData a {
	font-weight: normal;
	}


/* Fix for bad III code and FF wanting to create borders for an empty row */
tr.briefCiteRow + tr.browseEntry {
	display:none;
	}


td.briefCiteEntryMark {
	color:#000000;
	vertical-align: top;
	padding-top: .5em;
	text-align: center;
 	width: 10%;
}

//.briefCiteTitle { Remove
//	padding-bottom: 5px;
//	font-size: 110%;
//	}

.briefCite245h {
	//font-size: 84%;
	}

.briefCiteAuthor, .briefCitePub, .briefCitePerf, .briefCiteSubj {
//	margin-left: 2.5em;
	//font-size: 90%;
	//color: #383838;
	}


.briefCiteItems em {
	color:#903;
	font-weight: bold;
	font-size: 84%;
	font-style: normal;
	}


a:visited.moreItems, a:link.moreItems {
	color: #990033;
	font-weight: bold;
	font-size: 90%;
	font-style: normal;
	padding-left: 1em;
	}

a:hover.moreItems {
	color: #990033;
	background-color: #fff;
	font-weight: bold;
	font-size: 90%;
	font-style: normal;
	text-decoration: none;
	}



/* Emergency fix for moreItems:*/
/*
a:visited.moreItems,a:link.moreItems,a:hover.moreItems {
	color: #990033;
	font-weight: bold;
	font-size: 84%;
	font-style: normal;
	padding-left: 1em;
	text-decoration: none;
	background-color: #fff;
	cursor: text;
	}
*/

.briefCiteItems table {
/*  	margin-left:15px; */
	/* IE doesn't like a % value in the above */
	}

/* END briefcit */

#processed {
	color: black;
	padding: 3px;
	margin-top: 0;
	}

.release {
	text-align:right;
	font-size:65%;
	color:silver;
	}

.permalink {
	text-align:center;
	font-size:84%;
	color:#333333;
	margin:auto;
	padding:.5em;
	}


/*
#############
srchhelp_X.html
*/

table.searchLimits th {
	text-align: left;
	}

#search table  {
	/*border:silver solid 1px;*/
	border-collapse:collapse;
	width: 100%;
	}

#search table tbody tr td.limit {
	vertical-align:top;
	padding-top: 6px;
	font-weight: bold;
	font-size: 84%;
	}

#search table tbody tr td.limit table tbody tr td {
	vertical-align:top;
	padding-top: 6px;
	font-weight: bold;
	display:block;
	padding:.25em 1em;
	}

td.limit {
	width:50%;
	}

td.limit select {
	display:block;
/*	width: 100%; works greate in FF; obscures content in IE */
	}

td.limit select {width:100%}

td.limit input {
	display:block;
	}

#search td {
	vertical-align:top;
	padding-top: 6px;
	font-weight: bold;
	font-size: 84%;
/*	background: #dfddd6; */
	}

.table-row1 p, .table-row2 p {
	background-color: #dfddd6;
	}


/* ??? */
img.icon {vertical-align:middle;padding-bottom:6px}

.marked {
	background-color: #f1f1f1;
	}


/*

div,table {
	clear: both;
	}
*/


/*#############
srchmod.html
*/

.errormessage {
	color: #000;
	font-weight: bold;
	font-style: normal;
	font-size: 92%;
	padding: .5em;
	text-align: center;
	margin: 1em 6em;
	}

.limitPageTableLaf {
	margin-top: 1em;
	}

.limitTableLaf {
	border-collapse: collapse;
	border-bottom: silver solid 1px;
	}

.limitMessageLaf {
	color: #803;
	font-weight: bold;
	text-align: left;
	font-size: 92%;
	padding-left: 10px;
	padding-right: 1em;
	}

.limitTableHeaderLaf {
	text-align:right;
	padding-right: 2em;
	font-size: 80%;
	}

.limitTableCellLaf {
	text-align: center;
	}

.limitColALaf {
	vertical-align: top;
	color: #333333;
	font-weight:bold;
	font-size: 82%;
/*	width: 15%;*/
	text-align: right;
	padding-right: 1em;
	width:12em;
	border-top: silver solid 1px;
	border-left: silver solid 1px;
	}

.limitColBLaf {
	vertical-align: top;
	color: #333333;
	font-weight:bold;
	font-size: 84%;
/*	width: 15%;*/
	text-align: right;
	padding-right: 1em;
	width:12em;
	border-top: silver solid 1px;
	}

.limitColBLaf select {
	width: 12em;
	}

.limitColCLaf {
	vertical-align: top;
	color: #333333;
	font-weight:bold;
	font-size: 84%;
/*	width: 15%;*/
	text-align: left;
	padding-left: 1em;
	border-top: silver solid 1px;
	border-right: silver solid 1px;
	border-left: silver solid 1px;
	}

.limitColCLaf select {
	color: #333333;
	font-weight:bold;
	margin-bottom: 3px;
	}

.limitColCLaf input {
	color: #333333;
	margin-bottom: 3px;
	}

/* Following classes are used with default index search limit page, but not with customized srchmod.html (unless you wrap tokens in spans thusly classed.
.limitEntriesFoundNum { font-size: 90%; font-style: italic; }
.limitEntriesFoundText { font-size: 90%; font-style: italic; }
.limitSearchTerm { font-size: 90%; font-weight: bold; }
.limitSearchTypeText { font-size: 90%; }
.limitSearchTypeIndex { font-size: 90%; }
*/



div.frameSearch {
	text-align: center;
	}


div.deleteSelected {
	}

div.exportHeading {
	color: #cc0000;
	font-weight: bold;
	border-top: silver solid 1px;
	border-right: silver solid 1px;
	border-left: silver solid 1px;
	padding-left: .5em;
	padding-top: .5ex;
	}

.bibRecordLink {
	font-size: 80%;
	padding: 0 .25em;
/*	prostyles override: */
	font-style: normal;
	display:block;
	text-align:center;
	padding:20px 0;
	}

.authMsg {
 	text-align: center;
	margin: 2em;
	padding: .5em;
	}

.authMsg p {
	margin: 1em 0;
	}

table.bibResourceTable {
	border: silver dotted 1px;
	border-top: none;
	border-right: none;
/*	margin-top: 20px; */
 	background-color: #FBF8E3;
	width:100%;
	}

td.bibResourceTableEntry {
	text-align: center;
	background-color: #FBF8E3;
	font-size: 84%;
	padding: 1ex 0 1ex 0;
/*	prostyles override: */
	font-weight: normal;
	}

td.bibResourceTableEntry .wblinkdisplay form, .wblinkdisplay p, td.bibResourceTableEntry .wblinkdisplay form div, .bibResourceTableHeader {
	background-color: #FBF8E3;
	}


/*
##########
Results screens, from the top in the code
##########
 */

.browseScreen {
  visibility: hidden;
	width: 100%;

	td, th {
		border: none;
	}

  &.js-visible {
    visibility:visible;
  }
}


.browsePager strong {
//-webkit-border-radius: 2px;
//-moz-border-radius: 2px;
//border-radius: 2px;
//padding:2px 5px;
//margin:1px;
// background:none repeat scroll 0 0 silver;
// color:#000;
//border:1px solid silver;
	}

.browsePager a {
//-webkit-border-radius: 2px;
//-moz-border-radius: 2px;
//border-radius: 2px;
//background:none repeat scroll 0 0 #f3f5f7;
//border:1px solid silver;
//border:1px solid silver;
//padding:2px 5px;
//margin:1px;
//text-decoration: none;
}


table.browseList form {
	display: inline;
	}

tr.browseHeader {
	//font-size: 90%;
	}

td.browseHeaderNum {
	display: none;
	/*background-color: #ffffff;
	color:#000000;
	font-weight:bold;
	vertical-align:middle;
	text-align: center;
	width: 5%;*/
	}

td.browseHeaderMark {
	display: none;
	/*background-color: #ffffff;
	color:#000000;
	font-weight:bold;
	vertical-align:middle;
	text-align: center;
	width: 5%;*/
	}

td.browseHeaderMedia {
	display: none;
}


td.browseHeaderData {
	text-align: center;
	//background-color: #ffffff;
	//color:#000000;
	//font-weight:bold;
	//vertical-align:middle;
	//text-align: left;
	//border-right: none;
	}


td.browseHeaderMark + td.browseHeaderData {
	/*padding-left: 1em;
	border-right: none;*/
	}

td.browseHeaderYear {
	display: none;
	/*background-color: #ffffff;
	color:#000000;
	font-weight:bold;
	vertical-align:middle;
	text-align: center;
	width: 5%;*/
	/*border-left: silver solid 1px;*/
	}

td.browseHeaderRelevance {
	background-color: #ffffff;
	color:#000000;
	font-weight:bold;
	vertical-align:middle;
	text-align: center;
	}

td.browseHeaderEntries {
	background-color: #ffffff;
	color:#000000;
	font-weight:bold;
	vertical-align:middle;
	text-align: center;
	/*border-left: silver solid 1px;*/
	width:10%;
	}

tr.browseEntry {
	/*border-top: silver dashed 1px;*/
	}


td.browseEntryNum {
/*	color:#000000;
	font-weight: bold;
	vertical-align: top;
	padding-top:.25em;
	text-align: center;*/
	}

td.browseEntryMark {
/*	background-color: #ffffff;
	color:#000000;
	vertical-align:top;
	padding-top:.25em;
	text-align: center;*/
	}

td.browseEntryData {
	/*background-color: #ffffff;
	color:#000;
	vertical-align:middle;
	padding: .25em 1em;*/
	}

td.browseEntryRelevance {
	padding-right: .5em;
	padding-bottom: .5ex;
	text-align: center;
	}

td.browseEntryYear {
	/*background-color: #ffffff;
	color:#000000;
	vertical-align:bottom;
	text-align: right;
	padding-right: .5em;
	padding-bottom: .5ex;*/
	}

td.browseEntryEntries {
	background-color: #ffffff;
	color:#000000;
	vertical-align:middle;
	text-align: center;
 	border-top: silver dashed 1px;
	border-left: none;
	}

td.browseSubEntryData {
	/*padding-right: 2em;
	padding-left: 4.5em;
	padding-bottom: 2ex;
	font-size: 90%;*/
	}

td.browseSubEntryData a {
 	/*display: list-item;
	list-style-type: square;
	margin-left: -1.5em;
	margin-top: -.5em;
	text-decoration: underline;*/
	}

td.browseSubEntryData a:hover {
	/*background-color:transparent;
	text-decoration: underline;*/
	}

/* Disappear the number before "additional entries" */


tr.browseSuperEntry td strong {
	//padding-left: .8em;
	}

/*
#############
Bib record displays, from the top (sort of)
#############
*/


div.bibSearchtool {
	text-align: center;
//	font-size: 84%;
	}

div.bibSearch{
	text-align: center;
	font-size: 84%;
	}

div.bibSearchtoolMessage a:link {
	color: #283fa0;
	}

div.bibSearchtoolMessage a:visited {
	color: #283fa0;
	}

div.bibScreen form {
	margin-bottom: 0;
	}

table.browseScreen div.bibSearchtool {
	font-size: 90%;
	}






/*
#############
Record navigation mechanism
*/


.bibPager {
	}


#topBibPager {
	margin-top: 1em;
	color: black;
	clear: both;
	border: silver solid 1px;
	border-bottom: none;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
	//width: 95%;
	margin: auto;
	padding: .5em 0;
	}

#botBibPager {}



.bibPager a {
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
background:none repeat scroll 0 0 #f3f5f7;
border:1px solid silver;
border:1px solid silver;
padding:2px 5px;
margin:1px;
text-decoration: none;
}

.bibPager a:hover {
	text-decoration: underline;
	background-color: #fff;
	}

/* "Record x of y" div */

div.bibPager div {
	display: inline;
	margin-bottom:1em;
	color:#333;
	font-weight:bold;
	font-size:92%
	}


/*
#############
Bib record info
*/


table.bibInfo {
	margin-bottom: 20px;
	}

table.bibDetail {

	width:100%;

	td, th {
		border: none;
	}

}

td.resourceInfoLabel {
	color: #444;
/*	color: #333333; */
	font-weight: normal;
	font-size: 90%;
	width: 15%;
	text-align: left;
	padding-right: 1em;

	}


/*
#############
Course reserves records
*/

.reservesHeader {color:#903;}

table.reserveBibs {
	width:84%;
	border-collapse: collapse;
	border: solid silver 1px;
	margin-bottom: 1em;
	}

table.reserveBibs td {
	text-align: left;
	border: silver dashed 1px;
	padding: .5em;
	font-size: 90%;
	}

/*
#############
856 links
*/

.tabs .biblinks {
	border: none;

	th {
		color: #222;
		border: none;
		background: transparent;
		border-top: none;
		border-bottom: 2px solid #313547;
		text-align: left;
	}

	td {
		font-size: inherit;
		padding: .5em;
	}
}

#hathi856 td {background: url('/screens/hathi.png') no-repeat scroll .5em center transparent;padding:.5em 3em;}

/*
#############
Holds
*/


/* Following rule no longer applicable? */
table.bibHoldsEntry {
	border: silver solid 2px;
	width:100%;
	}

/* Following rule no longer applicable? */
tr.bibHoldsEntry td {
	color: #990033;
	font-weight: bold;
	text-align: center;
	}

table.bibHolds {
/* 	margin-top: .5em;
	margin-left: 16%;
	width:100%;  */
	border: silver solid 2px;
	width:84%;
	}

tr.bibHolds td {
	color: #008000;
	font-weight: bold;
	text-align: center;
	}


/*
#############
Check-in records
*/

table.bibHoldings {
/*	prostyles override: */
/* 	border: none; */
	margin-bottom: 0;
	margin-top: 10px;
	width: 84%;
 	border: silver solid 1px;
/*	width: 80%;*/
	}

td.bibHoldingsLabel {
	color: #333333;
	background: #fff;
	width: 30%;
	font-style: normal;
	font-weight: bold;
	font-size: 84%;
	padding-left:.5em;
	}

td.bibHoldingsLabel em {
	font-style: normal;
	}

td.bibHoldingsLabel em a:link {
	color: #903;
	}

td.bibHoldingsLabel em a:visited {
	color: #903;
	}

td.bibHoldingsEntry {
	font-size: 90%;
	vertical-align: top;
	}

hr.holdingsDivider {
/* 	display: none;*/
	margin:.25em auto;
	display:none;
	border:none;
	/*border-top:silver dotted 1px;*/
	border:none;
	color:#fff;
	}

/*
#############
Check-in CARDS
*/


div.checkinInfo {
	margin-left: 2em;
	width: 80%;
	}

.checkinInfoLabel,.checkinInfoData,.checkinInfoHoldingsLabel,.checkinInfoHoldingsData {
	clear:none;
	margin-bottom:.25em;
	font-size: 90%;
	}

.checkinInfoLabel,.checkinInfoHoldingsLabel {
	color: #333333;
	background-color: #ffffff;
	font-weight: bold;
	}

/*.checkinInfoCurrentReceipts {display:none;}*/

.checkinCard {
	text-align: left;
	margin-left: 2em;
	margin-right: 2em;
	}

div.checkinCard table {
	background-color: white;
	margin-top:1.5em;
	}

div.checkinCard td {
	border: silver solid 1px;
	width: 10%;
	padding:.5em;
	font-size: 84%;
	}

div.checkinCard span {
	font-weight: bold;
	}

/* checkinWHATEVER = class applied to the tds */
/* checkinWHATEVERStatus = class applied to the span that holds the status text */

.checkinExpected { background-color: #E0FFFF; }
.checkinExpectedStatus { color: black; }

.checkinLate { background-color: #efefef; }
.checkinLateStatus { color: #CC0000; }

.checkinClaimed { background-color: #efefef; }
.checkinClaimedStatus { color: #CC0000; }

.checkinPartiallyReceived { background-color: white; }
.checkinPartiallyReceivedStatus { color: black; }

.checkinArrived { background-color: #F5F5DC; }
.checkinArrivedStatus { color: #283fa0; }

.checkinBinderyPrep { background-color: #F5F5DC; }
.checkinBinderyPrepStatus { color: #000; }

.checkinAtBindery { background-color: #efefef; }
.checkinAtBinderyStatus { color: #CC0000; }

.checkinBound { background-color: 	#F0FFF0; }
.checkinBoundStatus { color: #283fa0; }

.checkinMissing { background-color: #efefef; }
.checkinMissingStatus { color: #CC0000; }

.checkinRemoved { background-color: white; }
.checkinRemovedStatus { color: gray; }

.checkinUnavailable { background-color: #efefef; }
.checkinUnavailableStatus { color: #CC0000; }

.checkinOutOfPrint { background-color: white; }
.checkinOutOfPrintStatus { color: gray; }

.checkinNotPublished { background-color: white; }
.checkinNotPublishedStatus { color: gray; }

.checkinNull { background-color: white; }
.checkinNullStatus { color: gray; }



/*
#############
Item records
*/

th.bibItemsHeader {
	//color: #333333;
	//background: #f3f5f7;
	text-align: left;
	//padding-left: .25em;
	font-size: 84%;
	}

tr.bibItemsEntry td {
}



/*
#############
Table of contents (970 fields)
*/

table.bibTOC {
/*	prostyles overrides below */
	border: silver solid 1px;
	border-collapse: collapse;
	background: #ffffff;
 	width: 84%;
	margin-top: 10px;
/*	prostyles override below */
/*	width: 80%;*/
	}

table.bibTOC th {
	color: #333333;
	background: #f3f5f7;
	text-align: left;
	font-size:84%;
	border-top: silver solid 1px;
	border-right: silver solid 1px;
	border-bottom: silver solid 1px;
	border-left: silver solid 1px;
	padding-left: .25em;
	}


/* The following is no longer needed because the div falls within a III-generated bold element, which is invalid according to the doctype */

div.LafayTocHeader {
	color: #333333;
	background: #f3f5f7;
	font-size: 90%;
/* 	width: 100%; */
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	}

table.bibTOC td {
	padding-top: .25em;
	padding-right: .75em;
	padding-bottom: .25em;
	padding-left: .75em;
 	font-size: 84%;
/*	prostyles override: */
/*	border: none; */
	border-bottom: silver 1px dotted;
	}

table.bibTOC strong {
	color: #333333;
	font-size: 84%;
	}

table.bibTOC font strong {
	color: #000000;
	font-size: 100%;
	}

table.bibTOC a font strong {
	font-size : 100%;
	}



/*
#############
Various messages
*/


div.msg {
	color:#cc0000;
	font-weight:bold;
	font-size:110%;
	text-align:left;
	padding-left: 12px;
	}

/*
#############
Patron records
*/

.patFuncTitle {
	text-align: left;
	font-weight: normal;
	}

td.patFuncStatus {
	text-align: center;
	}

/* Number of times renewed */
.patFuncRenewCount {
	display: block;
	font-size: 84%;
	font-weight:normal;
	}

/* Denied renewal messages */
td.patFuncStatus font {
	background: #ffff99;
	font-weight: bold;
	font-style: normal;
	font-size: 90%;
	color: black;
	display: block;
	}

/* Successful renewal message */
td.patFuncStatus em {
	background: #ffff99;
	font-weight: bold;
	font-style: normal;
	font-size: 110%;
	color: black;
	}

/* Logged in message */
div.LoggedInMsg {
	display: none;
/*	font-size: 90%;
	background: #FBF8E3;
	margin: 0em 2em;
	padding-left: 1em; */
	}


/*
######
Keyword highlighting.
*/

font strong {
	background-color: #ffff99;
	font-size: normal !important;
}

a:link font strong, a:visited font strong {
	text-decoration:underline;
	font-weight: normal !important;
	}

a:hover font strong {
	color:#283fa0;
	background:#dfddd6;
	}


/* Text following failed index search and after following index hyperlink from record */


tr.yourEntryWouldBeHere {
	background-color: #eee;
 	border:  #3698cb dashed 1px;

	}

tr.yourEntryWouldBeHere td.browseEntryMark,tr.yourEntryWouldBeHere td.browseEntryYear, tr.yourEntryWouldBeHere td.browseEntryEntries  {
	background-color: #eee;
 	border-top:  #3698cb solid 1px;
	border-bottom: #3698cb solid 1px;
	border-left: none;
	border-right:none;
	}
tr.yourEntryWouldBeHere td.browseEntryMark{border-left:  #3698cb solid 1px;}
tr.yourEntryWouldBeHere td.browseEntryEntries  {border-right:  #3698cb solid 1px;}



tr.yourEntryWouldBeHere td {
	background-color: #eee;
 	border:  #3698cb solid 1px;

	}

td.yourEntryWouldBeHereData {
	text-align: left;
	padding: .5em 1em;
	}



tr.yourEntryWouldBeHere td.browseEntryYear {
	padding-bottom:.5em;
	}

td.yourEntryWouldBeHereData a {
	color: #283FA0;
	}

td.yourEntryWouldBeHereData b  {
	color:black;
	font-style:normal;
	padding:0 3px 0 3px;
	}

td.yourEntryWouldBeHereData b font {
	color:#903;
	font-style:normal;
	padding:0 3px 0 3px;
	font-weight:bold;
	}

#header {
	margin-bottom:1em;
	}

#pagetopBanner {
	width:100%;
	background-color: #283fa0;
	}

.pagetopContent {
	padding:.5em 1em;
	background-color: #283fa0;
	font-family:verdana, sans-serif;
	font-size:100%;
	font-weight:bold;
	color:white;
	}

.homelink {
	font-size:80%;
	font-family:verdana, sans-serif;
	text-align:right;
	width:98%;
	margin:auto;
	padding:.5em;
	 /*line-height:2.5em; for top spacing - elements above are floated */
	}


/*
#############
WebBridge
*/

.wbbody {
	margin: .5em;
	}

.wbbody p {
	margin-top:1em;
	}

.wbbody .citation , .wbbody .wbcategory ,.wbbody .wblinkdisplay {
	color:#006;
	}

.s {
	font-size:80%;
	padding-left:1em;
	color: black;
	}

span.wblinkfield {
	color: #000066;
	}

span.wbpanelheader {
	color: #000066;
	}

#gbs a:hover img {
	background-color:#fbf8e3
	}

/*
#############
Feeds
 */

/* div.rssChannelNoContent {
	display: none;
	} */

span.rssChannelTitle {
	font-weight:bold;
	color: white;
	background-color:#283fa0;
	padding:.2ex .5em ;
	}

span.rssChannelEntryHead {
	display: list-item;
	padding-top:1ex;
	color:orange;
	}

span.rssChannelEntryHead a:link {font-weight:bold}
span.rssChannelEntryHead a:visited {font-weight:bold}
span.rssChannelEntryHead a:hover {text-decoration: none; background-color:#dfddd6; color: #283FA0;}
span.rssChannelEntryHead a:active {text-decoration: none;}

/* temp styles for accessible message link */

div#bob {
	display: inline;
	}

div#bob a {
	color: #cc0000;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	}

/*end temp*/


/* Pro additions follow */

div.bibInfo div {
	width: 80%;
	clear:left;
	}

.bibMain {
	width: 100%;
	}

/* div.bibInfo {width: 85%;margin-right: 0;}   */

/* div.resourceTableDiv {width: 15%;} */

div.bibContent {
	margin-right: 0;
	margin-left: 0;
	}

div.bibTOC {border: none;}

/*
#############
RightResult
*/

.rrUserQuery {
	color: #990033;
	background-color: #fbf8e3;
	font-weight: bold;
	padding: 0 .25em;
	}


.briefcitIndexedTitle {
	color: #990033;
	background-color: #fbf8e3;
 	font-weight: bold;
	padding: 0 .25em;
	}


.briefCitLinks{clear:left;display:block;text-decoration: none;width:90%;}
.briefCitLinks img {display:block;text-decoration: none;border:none;}
/*


#############
Text the call number
*/

/* #info,*/ /*#sms {
	border:1px solid silver;
	position:fixed;
	top:100px;
	left:150px;
	z-index:1000;
	background:#fbf8e3;
	color:#000;
	padding:10px;
	margin:10px;
	text-align:left;
	font-size:84%;
	width:60%;
	}

#sms p {
	background:#fbf8e3;
	}

#sms_form {
	margin-top:1em;
	}

#sms_form label {
	display:block;
	font-weight:bold;
	margin-top:.5em;
	}

#sms_form fieldset {
	margin:1em 0;
	}

#sms_form fieldset legend {
	color:#c3864d;
	font-variant:small-caps;
	font-weight:bold;
	}

#sms .eg {
	font-style:italic;
	}

#smslist {
	list-style-type:none;
	}

.phoneinfo input, .phoneinfo select {
	width:120px;
	}

#smsfeatures {
	text-align:center;
	}


/*
#############
Printing
*/

@media print	{
body {
	background: white;
	color: black;
	font-size: 10px;
	}

img, .bibPager, .browseSearchtool, .browseSearchtoolMessage, .homelink, .bibSearchtool, .browseSaveJump, .browsePager, .LoggedInMsg, .bibResourceTable, #botBibPager, #topBibPager, .release  {
	display:none;
	}

.browseScreen {float:left;}
//.CenterBox {float:left;}

a:link, a:visited {
	text-decoration: none;
	color: black;
	}

.pagetop {
	color: black;
	background: white;
	margin-bottom: 10px;
	}

tr.bibItemsEntry td {
	font-size: 100%;
	}

div.exportHeading {
	color: #000;
	font-weight: bold;
	border: silver solid 1px;
	padding-left: .5em;
	}

}
/* END @media print */
/*SMS Styles */

/*#info{
       border:2px solid #336699;
       position:absolute;
	   left:20px;
	   z-index:1000;
       padding:10px;
       margin:50px;
       background:#C7BFA2;
	   width: 46%;
	   color: #333;
	   text-align:left;
} */

 #info, #sms {
	border:1px solid silver;
	position:fixed;
	top:100px;
	left:150px;
	z-index:1000;
	background:#eee;
	color:#000;
	padding:10px;
	margin:10px;
	text-align:left;
	font-size:84%;
	width:60%;
	}



#sms .eg {
       font-style:italic;
       font-size:9pt;
}

#info {line-height: 1.7em;}
#info td {background:#eee;color: #333;}
#sms {}
#sms ol {background: #eee;}
#sms ol li {padding: 3px;}
#sms h3 {font-size: 12pt; color:#336699;}
#smsfeatures {}
#smsfeatures p {text-align:left;}


.briefcitStatus {
padding-right: 6em;
padding-bottom: 0;
width: 80%;
font-size: 84%;
font-weight:bold;
text-align: right;
margin-left: 2em;

}

.authinput{width:90%}

.authBottomBox{display:block; padding:4px;margin-bottom: 0;height: 35px;}
.authSubmit{text-align:left}
.authHelpImage{text-align:right}
.quad{list-style-position:inside;}
.quadLabel{font-weight:bold; font-size:85%;display:block;margin-bottom:5px;}
#noerrmsg{font-weight:bold;display: block; margin: auto; padding: 8px;line-height: 1.5em; font-size: 16px;color:#990033;}

.briefCustomLeft{float:left; width:15%;text-align:center;overflow:hidden;}
.briefCustomMark{float:left;width:5%;text-align:center;}
.briefCustomDetail{float:left;width:65%;}
.briefCustomRight{float:left;width:8%; margin-left:2%;text-align:center;}
.briefCustomEntry{display:block;clear:both;font-weight:bold;color:#444;}
.briefCiteTitle{display:block;}
.briefCiteAuthor{display:block;}
.briefcitStatus {display:block;width:95%;}

.customBrief{width:100%;margin:auto;border-top:silver 1px dashed;}
.left{background:yellow;float:left;width:20%;text-align:center;font-weight:bold;color:#444;}
.mark{background:green;float:left;width:5%}
.detail{background:lightblue;float:left;width:60%}
.right{background:violet;float:left;width:15%;text-align:center;}
.clear{clear:both}
img{text-decoration:none;border:none;}
#bibLinks img {display:block;text-decoration: none;border:none;}

.relSearchLink{display:block;text-decoration: none;border:none;}

#rssMenu ul{display: block;list-style-type: none;margin: 0;padding-left: 0px;text-align: left;}
#rssMenu ul li{line-height: 20px;}
#rssMenu {font-size:80%;}
div.RightBibTable {width: 20%;}
.bibBox{
	float:left;
	margin-left:15px;
	display:block;
	width:70%;
    }
table.progSections{
	border-top: silver solid 1px;
/*	prostyles override: */
	border-right: silver solid 1px;
	border-bottom: silver solid 1px;
	border-left: silver solid 1px;
	margin-top: 10px;
	margin-bottom: 6px;
	border-collapse: collapse;
 	width:84%;
	}
tr.progSectionsHeader th{
	color: #333333;
	border-right: silver solid 1px;
	border-left: silver solid 1px;
	background: #F3F5F7;
	text-align: left;
	padding-left: .25em;
	font-size: 84%;
	}

tr.progSectionsEntry td{
	border-top: silver solid 1px;
	border-right: silver solid 1px;
	font-size: 84%;
	padding-top: .25em;
	padding-bottom: .25em;
	padding-left: .5em;
	vertical-align: top;
	}
#controls,.eventDetailReg,#eventDetailTitle,#hideMess, .hideDiv{display:none;}


/**
 * Keywords Bar
 *
 * @todo abstract to partial
 */
tr.browseHeader > td.browseHeaderData {
	background-color: white;
	border: 1px solid #ddd;
	display: none !important;
	font-weight: normal;
	margin-bottom: 1rem;
	padding: 0 1em;
	position: relative;
	width: 100% !important;

	.item-count {
		float: right;
		position: relative;
		top: .8888em;
		margin-left: 1em;
	}
	.item-count:after {
		content: " items";
	}

	// Requires js
	&.js-keywords-bar {
		display: block !important;
    min-width: 94vw;
    height: 52px;

    @media screen and ( min-width: 768px ) {
  		min-width: 768px;
  		min-width: 66vw;
    }
	}

	&.menu--utility {

		.menu--utility__actions {

      display: none;

      @media screen and ( min-width: 768px ) {
        display: block;
        float: right;
      }
    }

		label, .form__select {
			position: relative;
			top: .5em;
		}

		.button--actions {
			background-color: rgba( black, .02 );
			color: #444;
			padding: .5em 1em !important;
			position: relative;
		}

		.button--actions span {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 5px;
			text-align: center;
			font-size: 10px;
			font-family: Arial, 'sans-serif';
		}

    @media screen and ( min-width: 768px ) {
  		.svg {
        display: none;
          display: block;
          width: 24px; top: -.25em; position: relative;
        }
      }
	}

	select {
		text-transform: capitalize;
	}

	.form__select::after {
		top: 40%;
	}

}

	.form__select--transparent {
		border: none;
		text-decoration: underline;

		select {
			padding: 0 1em 0 0;
		}

    &::after { top: 40% !important; }
	}

  .form__select--collection {
    display: none !important;

    @media screen and ( min-width: 768px ) {
      background: transparent;
      display: block !important;
      float: right;
      position: static !important;
      width: 187px !important; margin: 0;

      select { background: transparent; border: none; }

    }

    &::after { right: 0; }
  }



  /**
   * $IE and $EDGE Hacks
   */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    .browseEntry, .browseSubEntry {
      float: left;
      width: 100%;
    }

    .js-keywords-bar {
      float: left;
      margin: 1em 0;
    }

    tr.browseHeader > td.browseHeaderData.menu--utility label, tr.browseHeader > td.browseHeaderData.menu--utility .form__select {
      top: 0;
    }

    label[for="sortdropdown"] + .form__select--transparent,
    label[for="sortOptions"] + .form__select--transparent {
      top: 13px !important;
    }

    .browseList .briefCiteRow,	.browseList tr.briefCiteRow { float: left; }

  }

  // MS Edge 12+
  @supports (-ms-ime-align:auto) {

    .browseEntry, .browseSubEntry {
      float: left;
      width: 100%;
    }

    .js-keywords-bar {
      float: left;
      margin: 1em 0;
    }

    .browseList .briefCiteRow,	.browseList tr.briefCiteRow { float: left; }
  }

@media print {
  tr.browseHeader .menu--utility, .catalog__item__actions, .feedback-bar, label.catalog__result_number {
    display: none !important;
  }

  a, a:visited {
		/* show links on printed pages */
		&:after {
			content: "";
		}

		/* show title too */
		abbr[title]:after {
			content: "";
		}
	}

  td.card {
    box-shadow: none !important;
    border: none !important;
    border-bottom: 2px solid #ddd !important;

    div.card { min-height: auto !important; }
  }

  .briefCiteTitleFull__byline { padding: 0 1em !important; }
  .catalog__item__eaccess { margin-top: .5em !important; }
}
