/* ==================
 * LibGuide Version 2 Responsive and Type Unset
 * Author: Michael Schofield
 * ================== */
/* Note: If you happen to be looking at this, this
 * reset is toootally meant to be applied to our
 * specific stylesheet. So change styles where
 * appropriate.
*/

%type-inherit {
	font-family: inherit;
	font-weight: normal;
	line-height: inherit;
}

%hN {
	//text-rendering: optimizeLegibility; // voodoo to enable ligatures and kerning
	//line-height: 1; // this fixes huge spaces when a heading wraps onto two lines
	//margin-top: 0;
}

%h1 {
	//font-size: 60px;
	//font-size: 3.33333rem;
//	margin-bottom: 0.495rem;
}


body {
	@extend %type-inherit;
	font-size: 18px;
	padding: 0;
}

.universal {
	padding: .25em 0;
}
.drop-down, p {
	font-size: 18px;
}

.ui-widget, .s-lib-box-content .ui-widget {
	font-size: 12px;
}

.s-lib-footer {
	background-color: inherit;
	border-top: none;
	box-shadow: none;
	height: auto;
	padding-bottom: 3em;

	a, a:visited {
		color: #069;
	}
}

#s-lib-bc .breadcrumb, #s-lib-admin-bc .breadcrumb {
	font-size: 12px;
	margin: 1em 0;
}

#s-lg-guide-main {
	padding-top: 0;
}

.s-lib-header h1 {
	display: block;
	font-weight: bold;
}

#s-lg-guide-desc-container {
	padding-top: 0;
}

.label {
	font-weight: normal;
	line-height: inherit;
	text-align: inherit;

}

.panel-group .panel {
	display: inherit;
	float: none;
	height: auto;
	position: initial;
	width: inherit;
}

.polar .search .append .input[type="search"], .polar .search .append .input[type="text"] {
	color: #444;
	height: 38px;
}

.search .append input.icon[type="submit"], form[role="form"] .append input.icon[type="submit"] {
	border: 1px solid #e9e9e9;
	border-left: none;
	top: 0;
}

.control-label {
	word-wrap: normal;
}

.brick--full {
	padding: 0;

	.panel {
		border-radius: 0;
	}
}

.modal.semantic-content:target {
	display: inherit;
	overflow: inherit;
	overflow-y: inherit;
	position: fixed;

}

.modal.semantic-content .modal-content {
	box-shadow: none;
}

/* ==================
 * $Headings
 */ // Unsets all font-sizing for headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 { //bootstrap.min.css:76
	//@extend %hN;
	//@extend %type-inherit;
}

#s-lg-guide-header {
	//display: none;
}

#s-lg-guide-header-info {
	margin-top: 2em;
}
.s-lib-box .s-lib-box-title {
	background-color: #f9f9f9;
	border-bottom: #e9e9e9;
	color: #444;

}
#s-lg-guide-name { // springshare.common.css:285
	font-size: 36px;
	font-size: 2rem;
	font-weight: normal;

	//@extend %h1;
}

.s-lib-header h1 { // springhsare.common.css:144

	//@extend .h1;

	//margin-bottom: auto;
	//margin-top: auto;
}

.tab-content { display: inherit; }
@media screen and (min-width: 48em ) {
	.row {
		margin-right:0;
		margin-left:0;
	}
	.row #s-lg-col-1 {
		padding-left: 0;
	}

	.row #s-lg-col-3 {
		padding-right: 0;
	}
}

.label.label-info {
	border: 0 none;
	border-radius: 4px;
	color: white !important;
	cursor: pointer;
	display: inline-block;
	margin: .5em 0;
	padding: 1em 2em;
	font-size: 1em !important;
}

/* ==================
 * $Navigation
 */ // I'm being a little conservative here. I don't really want to
 // break or impress my own styles on the unset, but I want to
 // free up the specific type styles. So where there is a specific
 // px font-sizing, I'm setting it to 1em.

#s-lg-tabs-container .nav-tabs > li > a, #s-lg-tabs-container .nav-pills > li > a,
#s-lg-tabs-container .nav-tabs > .active > a, #s-lg-tabs-container .nav-pills > .active > a {
//	border-radius: 4px;
}

#s-lg-guide-tabs-title-bar .navbar { // springhsare.common.css:346
	//margin-bottom: 1em; //"auto" inherits from elsewhere.
}

.s-lg-admin-guide-page-nav {
	& > ul > li > a {
	}
}

.navbar-nav > li > a {
//	@extend %type-inherit;
}

#s-lg-guide-tabs.tabs {
	margin-bottom: 0;
}
#s-lg-guide-tabs-title-bar {
	border-top: none;
	margin-bottom: 0;
}

#s-lg-tabs-container .nav-tabs > .active > a, #s-lg-tabs-container .nav-pills > .active > a,
#s-lg-tabs-container .nav-tabs > li > a, #s-lg-tabs-container .nav-pills > li > a, p {

	font-weight: normal;

	&:hover {
		font-weight: normal;
	}
}

.dropdown-menu {
	font-size: 16px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
//	background-color: transparent;

	span {

	}
}

.nav-pills>li>a {
//	border-radius: 0;
}

.nav-pills>li.active>a .caret, .nav-pills>li.active>a:hover .caret, .nav-pills>li.active>a:focus .caret {
//	border-top-color: #444;
//	border-bottom-color: #444;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
//	background-color: #e9e9e9;
//	color: #444;
}

/* ==================
 * $Content
 */ // The jQuery UI CSS is a rabbit hole.
 // This is just minimum work right hurr.

.s-lib-box .s-lib-box-title,
.s-lib-box-content .ui-widget,
.ui-helper-reset,
.s-lib-footer {
	// @extend %type-inherit;
}

/*
If you happen to have any .footer styles in
your own stylesheet, this will inherit them.
I didn't like that because I entered my own footer
through the Group admin, so you may need to
customize this to your own liking.
*/
#s-lib-footer-public.footer {
//	background-color: inherit;
//	border: none;
//	box-shadow: none;
//	padding-top: inherit;
//	height: auto;
}


/* ==================
 * $Responsive Unset
 */ // This assumes you are already referring
 // to another stylesheet where you've already
 // defined your breakpoints.
.container {

	margin-left: 0;
	margin-right: 0;
	margin: 0 auto;
	max-width: 1366px;
	width: 96%;

	@media (min-width: 992px ) {
		width: 96%;
	}

	@media (min-width: 768px ) {
		width: 96%;
	}

	@media (min-width: 992px ) {
		width: 96%;
	}

	@media (min-width: 1200px ) {
		width: 96%;
	}
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {

	@media ( min-width: 992px ) {
//		float: auto;
	}
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
//	position: inherit;
//	min-height: inherit;
//	padding-left: inherit;
//	padding-right: inherit;
}

/* ==================
 * $Helper Classes
 */ // Unsets some of the helper classes that
 // may interfere with line-height, padding, etc.

.pad-bottom-bed {
//	padding-bottom: inherit;
}

.pad-top-med {
//	padding-top: inherit;
}

.libguide--cards {

	background-color: #f9f9f9;

	.menu--actions--public {
		display: none;
	}

	@media screen and ( min-width: 48em ) {
		.menu--actions--public {
			display: block;
		}
	}

	.s-lib-box {
		background-color: white;
		border: 1px solid #ddd;
		border-radius: 0;
		box-shadow: 0 2px 6px 0 rgba( #333, .1 );
	}

	.s-lib-box-title {
		background-color: transparent;
		font-size: 24px;
		font-size: 1.3333rem;
		font-weight: normal;
		margin-bottom: 0;
		padding: .5em;
	}

	.nav-tabs {
		background-color: white;
		border: 1px solid #ddd;
		border-radius: 0;
		box-shadow: 0 2px 6px 0 rgba( #333, .1 );
		margin: 1em .25em;
		padding: 0;

	}

	.nav-tabs>li {
		float: none;
	}

	.nav-tabs a {
		border: none !important;

		&:hover {
			border: none !important;
		}
	}

	.nav-tabs > li > a {
		border-bottom: 2px solid white !important;
		border-right: 1px solid #ddd !important;

		&:hover, &:focus, &:active {
			border-bottom: 2px solid #ddd !important;
		}
	}

	.nav-tabs >li:last-child > a {
		border-right: none !important;
	}

	.nav-tabs > .active > a {
		border-bottom: 2px solid #069 !important;

		&:hover, &:focus, &:active {
			background-color: white !important;
			color: #069 !important;
		}
	}

	@media screen and ( min-width: 35em ) {
		.nav-tabs>li {
			float: left;
		}
	}


	#s-lg-tabs-container .nav-tabs > li > a,
	#s-lg-tabs-container .nav-pills > li > a {
		background-color: white;
		border-right: 1px solid #ddd;
		color: #069;
		padding: .5em 1em;

		&::last-child {
			border-right: none;
		}
	}

}

.libguide--subjects {

	.chosen-container {
		font-size: 18px;
	}

 #s-lg-sb-content-guides {
	 > div:nth-of-type( odd ) .s-lib-box {
		 background-color: #f9f9f9;
	 }
 }

	.s-lib-box {
		border: none;
		box-shadow: none;
	}

	.bold {
		font-weight: 400;
	}

	.s-lg-small, .s-lib-debug, .s-lib-small {
		font-size: 80%;
	}

	.s-lib-color-lt-grey {
		color: rgba(68, 68, 68, 0.5);
	}

}
.pill-menu .primary > .label > span {
	left: 13px;
}

._libapps_login {
	float: right;
	margin-top: -3em;

	a {
		color: #91cdeb;
	}
}

.libguide--single {
	.nav-stacked>li+li {
		margin: 0;
	}

	#s-lg-guide-tabs .s-lg-tabs-side .s-lg-subtab-ul {

		margin-top: 0;
		margin-left: 0;

		li a {
			border-left: 3px solid #e9e9e9;
			padding-left: 1em;
		}
	}

	#s-lg-tabs-container .nav-tabs > li > a, #s-lg-tabs-container .nav-pills > li > a {
		background-color: white;
		color: #555;
		font-size: 21px;
		padding: .25em 0;
		-webkit-transition: all .2s ease-out;
		transition: all .2s ease-out;

		&:hover, &:focus {

			background-color: #e9e9e9;
			color: #555;

		}

		&.active:hover {
			background-color: inherit;
			border-radius: 0;

		}
	}

	#s-lg-guide-tabs .dropdown-menu {
		margin: auto !important;
		left: 1em;

		.s-lg-subtab-ul li a {
			border-left:none;
		}
	}

	.dropdown-menu {
		border: 1px solid #ddd;
		border-radius: 0;
		box-shadow: 0 2px 6px 0 rgba( #333, .1 );

	}
	.dropdown-menu>li>a {
		font-weight: normal;

	}

	.s-lib-box {

		border: none;
		box-shadow: none;
		background-color: transparent;
		border-radius: 0;

	}

	p {
		font-size: 21px;
		margin-bottom: 1.41429rem;
	}

	.s-lib-box-title {
		display: none;
	}

	.s-lib-box-content {
		padding: 0;
	}


}

@media all and (max-width: 767px) {
	.hidden-xs {
		display: block !important;
	}
}
@media all and (max-width: 991px) and (min-width: 768px) {
	.hidden-sm {
		display: block !important;
	}
}

@media all and (max-width: 1199px) and (min-width: 992px) {
	.hidden-md {
		display: block !important;
	}

}
@media all and ( min-width: 1200px ) {
	.hidden-lg {
		display: block !important;
	}
}
