/**
 * CONTENTS
 *
 * BASE
 * Body.......................
 *
 * COMPONENTS
 * Citations...................Writing style manual citation example elements.
 * Tabs........................
 */

.col--centered {
	float: none;
	margin: 0 auto;
}

/*------------------------------------*\
	#BASE
\*------------------------------------*/
body {

	&.single-reference,
	&.search {
		background-color: #f5f5f5;
	}
}

/*------------------------------------*\
	#CITATIONS
\*------------------------------------*/
.citation {}

	.citation__example {

	}

	.citation__example p {
		border-left: .5em solid #e9e9e9;		
		margin-bottom: 0;
		padding-left: 4em;
		text-indent: -2em;
	}

	.citation__example--alt p {
		border-left: .5em solid #e9e9e9;		
		margin-bottom: 0;
		padding-left: 2em;
		text-indent: 0;
	}


.tabs .citation__example p {
	border-color: #f5f5f5;
}

/*------------------------------------*\
	#ACCORDION
\*------------------------------------*/

.accordion {
	border: 1px solid #ddd;
	box-shadow: 0 2px 5px -2px rgba(0,0,0,.16),0 2px 10px -4px rgba(0,0,0,.12);
	position: relative;
}

.accordion__section {

	&__content {
		background-color: #fcfcfc;
		height: 0em;
		height: 0rem;
		overflow: hidden;
	}
}

.accordion p {
	font-size: 18px;
}

.accordion__section:target .accordion__section__content {
	border-bottom: 1px solid #ddd;
	height: 10em;
	height: 10rem;
	padding: 1em;
	overflow-y: auto;
}

.accordion__section__title {
	background-color: white;
	border-bottom: 1px solid #ddd;
	border-left: 3px solid #e9e9e9;
	font-size: 18px;
	height: 3em;
	height: 3rem;
	margin: 0;
	padding: 1em;
	-webkit-transition: all .2s ease-out;
			transition: all .2s ease-out;

	&:hover, &:focus {
		border-left-color: #F3787A;
	}
}

.accordion__section:last-child 
	.accordion__section__title {
		border-bottom: none;
	}

.accordion__section:target
	.accordion__section__title {
		border-left-color: #F3787A;
	}

/*------------------------------------*\
	#SEARCH
\*------------------------------------*/

.search article {
	position: relative;
}

.search article > header a {
	text-decoration: none; 
}

.search .type-reference > header:before {
	content: "Example";
}

.search .type-page > header:before {
	content: "Article";
}

@media screen and ( min-width: 48em ) {
	.search .card--alt > header:before {
		right: 1em;
		position: absolute;
	}
}

/*------------------------------------*\
	#PAGE
\*------------------------------------*/
.type-page .card--alt {
	margin-bottom: 1em;
}

/*------------------------------------*\
	#SIDE-DRAWER
\*------------------------------------*/
.top-menu--from-side {

	/**
	 * Abstract this to this should probably be default
	 */
	.menu > li {
		float: none;
	}

}

@media only screen and ( min-width: 48em ) {

	.top-menu--from-side {

		background-color: white;
		border-top: 2px solid #069;
		
		box-shadow: 0 6px 6px 0 rgba( #333, .3 );  
		height: 100%;
		
		min-width: 16em;
		overflow-y: auto;
		padding-left: 1em;
		position: absolute;		
		transform: translateX( -100% );
		visibility: visible;
		width: 20%;		
		z-index: 2;

		a, a:visited,
		.top-menu__link a,
		.top-menu__link a:visited,
		.menu > li > a {
			color: #069;

			&:hover, &:active, &:focus {
				color: lighten( #069, 9% );		
				text-decoration: underline;	
			}
		}

		.menu-item-has-children {
			border-bottom: 1px solid #ddd;
		}

	}

	input[id="top-menu"]:checked ~ .top-menu.top-menu--from-side {
		
		transform: translateX( 0 );

	}

}


@media only screen and (min-width: 64em ) {
	input[id="top-menu"]:checked ~ .top-menu.top-menu--from-side {
		height: 100%;
	}
}

.footer {
	position: relative;
	z-index: 2;
}

/*------------------------------------*\
	$SEARCH
\*------------------------------------*/

.search__search-field--apa {
	border-bottom: 2px solid #1fbaf2 !important;
}

input.search__search-field--apa::-webkit-input-placeholder {
	color: #455268;	
}
input.search__search-field--apa:-moz-placeholder {
	color: #455268;
}
input.search__search-field--apa::-moz-placeholder {
	color: #455268;
}
input.search__search-field--apa:-ms-input-placeholder {
	color: #455268;	
}

/*------------------------------------*\
	Customizations
\*------------------------------------*/
.menu--actions--public {
	display: none;

	@media only screen and ( min-width: 48em ) {
		display: block;
	}
}