/**
 * NovaCat Lists
 # This css shoudld only load in NovaCat's add, save, or export
 - screen. RequireJS adds the class "is-list" to the .browseList selector.
 */

input[name="save"] {
  position: static;
}

.is-list { font-size: 18px; }

tr.browseEntry.marked:nth-of-type( 4 ) {

  // Creates room for pseudo content
  margin-top: 3em;
  position: relative;

  td:before {
    font-family: Arial, 'sans-serif';
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    top: -2em;
  }
  .browseEntryMark:before { content: "Mark" }
  .browseEntryData:before { content: "Titles"; }
  .browseEntryMedia:before { content: "Type"; }
  .browseEntryYear:before { content: "Year"; }
  .browseEntryEntries:before { content: "Entries"; }

}
