div.menu.menu--banner, .header[role="banner"] { display: none; }

.s-friends--background {
  background-color: #eea54b;
}

.s-friends {
  &__logo {
    background-color: #eecb4b;
    border-radius: 100%;
    height: 250px;
    padding: 1em;
    width: 250px;
  }

  &--chihuly {
    align-items: center;
    display: flex;
    height: 367px;
    justify-content: center;
    position: relative;
  }
  &--chihuly::before {
    content: "";
    background-attachment: fixed;
    background-image: url( '//sherman.library.nova.edu/cdn/media/images/chihuly.jpg' );
    background-size: cover;
    filter: grayscale( 75% );
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  &--chihuly .blockquote {
    background-color: rgba( #eea54b, .9 );
    padding: 1em;
  }
}

.has-background--media {}
.has-background--overlay {
  position: relative;
  overflow: hidden;
}

.has-background--overlay::before {
  filter: blur( 1px ) grayscale( 80% ); // no ie11
}
.has-background--overlay::after {
  //background-color: rgba( black, .2 );
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
}
