[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*------------------------------------*\
	#LISTS
\*------------------------------------*/
.list {
	&--nowrap li {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

/*------------------------------------*\
	#HOURS
\*------------------------------------*/
.menu--actions--public__menu-item.hours {

	bottom: .5em;
	position: relative;

	.hours__message {

		bottom: -1em;
		font-weight: bold;
		left: 0;
		position: absolute;
		text-align: center;
		width: 100%;
	}

}

/*------------------------------------*\
	#MAIN
\*------------------------------------*/

//@media screen and ( min-width: 1024px ) {

	#main {
    padding-top: 18.25%;
    position: relative;
    background-image: url( 'http://sherman.library.nova.edu/cdn/media/images/test2.jpg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    width: 100%;

    @media screen and ( min-width: 618px ) {
      padding-top: 0;
    }

    @media screen and ( min-width: 1024px ) {
      background-size: auto;
    }

    @media screen and ( min-width: 1382px ) {
      background-size: 100% auto;
    }

	}

//}

.button--flat {
	box-shadow: none;
}

.button--unselect {
	border-color: #ddd;
	color: rgba(68,68,68, 0.5);
}

.checkbox-toggle:checked ~ .button--unselect {
	border-color: #069 !important;
	color: #069 !important;
}

.accordion { border: none; }
