/*------------------------------------*\
	$Holocaust Memorial
\*------------------------------------*/

/**
 * Variables, mixins
 */
@import 'core/_variables';
@import '_mixins';

.card.menu__item {
  border: none;
}

.carousel__item{
  overflow:hidden;
  padding:0;
  margin: .35% 0;
  display: inline-block;
  width: 120px;
  margin-right: .25em;

  &:last-child {
    margin-right: 50px;
  }
}

.carousel__item img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
  width: 100%;
}

.carousel__item__content{
  background-color:white;
 bottom:0;
  color:#444;
  height:0;
  left:0;
  position:absolute;
  white-space: normal;
  width:100%;
  -webkit-transition:all .2s ease-out;
  transition:all .2s ease-out;
}

.carousel__item__title, .carousel__item__description {
  color:#313547;
  font-size: 16px;
  margin: 0;
  overflow:hidden;
  padding: .5em;
}


.carousel__item:hover .carousel__item__content,.carousel__item:focus .carousel__item__content{
  height:100%
}

.carousel {
  position: relative;
  &__container--js.carousel__container--is-overflown {
    padding: 0 50px;
  }
    &__container--js {
      position: relative;
      overflow: hidden;
      white-space: nowrap;
    }

    &__button { display: none; }

    &__container--is-overflown ~ &__button {

      background-color: rgba( white, .8 );
      border: none;
      bottom: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 50px;

      &--next {
        right: 0px;
      }

      &--prev {
        left: 0;
      }
    }

    &__item {
      border: none;
    }
}
