/**
 * Angular
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

/*------------------------------------*\
	#LINKS
\*------------------------------------*/

/*------------------------------------*\
	#BUTTONS
\*------------------------------------*/
.button {
	&--link--disabled {
		color: inherit !important;
		cursor: default;
	}

	&--link--disabled:hover,
	&--link--disabled:focus {
		color: inherit !important;
		text-decoration: none;
	}
}

.room {
	.button {
		display: block;
		width: 100%;

		&.room__slot {
			color: #313547;
			transition: none;
		}

		&.room__slot:hover {
			background-color: white;
			text-decoration: none;
		}
	}
}

/*------------------------------------*\
	#SCHEDULE
\*------------------------------------*/
.schedule {
	
	&__calendar {

		background-color: #313547;
		color: white;
		padding: 1em 0; // .hero--small
		
		@media screen and ( min-width: 37.375em ) {

			background-color: white;
			color: #444;

			span + span::before {
				content: "|";		
			}
		}
		
		&__header {

			border-bottom: 1px solid white;
			font-size: 1.33333rem;
			margin-bottom: 1em;

			& > span {
				border-bottom: 3px solid #313547;
				position: relative;
				bottom: -4px;
			}

			@media screen and ( min-width: 37.375em ) {
				display: none;
			}
		}

		&__other-dates/*, &__capacity, &__time*/ {
			display: none;
		}

		&__other-dates {
			.schedule__calendar__dates {
				border: 1px solid white;
				display: inline;
				float: left;
				font-size: 16px;
				margin: .25em !important;
				padding: 1em .5em !important;
				width: 23%;

				@media screen and ( min-width: 37.375em ) {
					
					border: none;					
					display: inline-block;
					float: none;
					font-size: 18px;
					margin-bottom: auto !important;
					padding: 0 !important;
					width: auto;
				}

			}
		}

		&__dates {

			background-color: rgba( white, .1 );
			color: white !important;
			display: block;
			font-size: 21px;
			margin-bottom: .5em !important;
			padding: 1em 2em !important;
			text-align: center;
			width: 100%;

			&:hover {
				background-color: rgba( white, .4 );
				color: white !important;
			}

			@media screen and ( min-width: 37.375em ) {
				background-color: none;
				color: #069 !important;				
				display: inline-block;
				font-size: 18px;
				margin-bottom: auto !important;
				padding: 0 !important;
				width: auto;

				&:hover {
					background-color: none;
					color: lighten( #069, 9% ) !important;
				}
			}
		}

	}

}

input[id="other-dates"]:checked ~ .schedule__calendar__other-dates
/*input[id="choose-capacity"]:checked ~ .schedule__calendar__capacity,
input[id="choose-time"]:checked ~ .schedule__calendar__time*/ {
	display: block;
}

/*------------------------------------*\
	#ROOM
\*------------------------------------*/
.room {
	
	margin-bottom: 1em;
	padding: 0;
	transition: all .2s ease-out;

	&:hover {
		background-color: #fafafa;
	}

	@media screen and ( min-width: 37.375em ) {
		margin-bottom: auto;
	}

	&__header {
		background-color: white;
		padding: .25em 1em;
	}

	&__slot, .button.room__slot {		
		padding: .25em 1em !important;
	} 

	&__slot {
		border-top: 1px solid #ddd;

		&--reserved {
			background-color: #f5f5f5;
			color: #bbb;
			//box-shadow: inset 0px 2px 6px 0px rgba(51, 51, 51, 0.1);	

			.svg--lock {
				fill: #ddd;
			}		
		}

		&--reservation {
			background-color: #DFF0D8;
			color: #3C763D !important;
		}
	}

}

/*------------------------------------*\
	#ICONS
\*------------------------------------*/
.svg {
	&--lock,
	&--key {
		fill: #313547;
		float: left;
		height: 18px;
		position: relative;
		top: 6px;
		width: 18px;
	}
}