/* ==================
 * $MEDIA-QUERY VARIABLES
 * Base font of 16px. */
$handheld: 30.062em; // 481px
$handheld-end: $handheld - .1em;
$snapscreen: 37.375em; // 16 base
$snapscreen-end: $snapscreen - .1em;
$tablet: 37.375em;
$squarescreen: 64em; // 1024px
$widescreen: 64.375em; // 1030px+
$cinemascreen: 77.5em; // 1240px

@mixin breakpoint($media-query) {
  @if $media-query == handheld {
    @media only screen and (min-width: $handheld) { @content; }
  }

  @if $media-query == handheld-end {
    @media only screen and (max-width: $handheld-end) { @content; }
  }

  @if $media-query == snapscreen {
    @media only screen and (min-width: $snapscreen) { @content; }
  }

  @if $media-query == snapscreen-end {
    @media only screen and (max-width: $snapscreen-end) { @content; }
  }

  @if $media-query == tablet {
    @media only screen and (min-width: $tablet) { @content; }
  }

  @if $media-query == squarescreen {
    @media only screen and (min-width: $squarescreen) { @content; }
  }

  @if $media-query == widescreen {
    @media only screen and (min-width: $widescreen) { @content; }
  }

  @if $media-query == cinemascreen {
    @media only screen and (min-width: $cinemascreen) { @content; }
  } 

}  

.s--teacher-resources {}

.menu__item {
  border: 0;
  box-shadow: none;
  height: 200px;  
  overflow: hidden;
  padding: 0;
  
  &__content {
    background-color: white;
    bottom: 0;
    color: #444;
    height: 61px;
    left: 0;
    padding: 1em;
    position: absolute;
    width: 100%;
    //z-index: 1;
    //transform: translateY(2em);
    transition: all .2s ease-out;
  }

  &__title {
    color: #313547;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  
    @include breakpoint( squarescreen ) {
      font-size: 1.5rem;
    }
    
  }
  
  &:hover &__content,
  &:focus &__content {
      height: 100%;      
  }
  
}

.link--grade {
  color: #E1E8ED;
  font-weight: bold;

  &--pre {
    color: #E2624F;
  }

  &--e {
    color: #50afdf;
  }

  &--ms {
    color: #FFAE3D;
  }

  &--hs {
    color: #21AABD;
  }

}

