@import 'core/_variables';
@import '_mixins';


.event > .image,
.event .card,
.panel,
.slide-panel-menu,
.feature-event article header ,
.top-menu,
.transition {	@include css-transition(all, .2s, ease-out); }


.has-cards {
	background-color: #f5f5f5;
}

.shadow { box-shadow: 0 5px 11px rgba(0, 0, 0, 0.3); }
.inset {
	box-shadow: inset 0px 0 11px rgba(0,0,0,0.3);
}



.force-ratio {
	height: 0; 
	padding-bottom: 56.25%; 
	position: relative;	
}

.emphasis {
	font-style: italic;
}

dt { font-weight: bold; }

.inline {
	dd, dt {
		display: inline;
		margin: 0;
	}

	
	dt:after{
		content: ": ";
	}

	dd:before {
		content: ' ';
	}
	dt:before {
		content:"\A";
		white-space: pre;
	}
	dt:first-child:before {
		content: none;
	}
}

/*------------------------------------*\
	$Uncritical
\*------------------------------------*/
@import 'core/_normalize-uncritical'; // TODO ABSTRACT

#container {
	min-height: 100%;
	margin-bottom: -12em;
	
	&:after { 
		content: "";
		display: block;
	}
}

.footer, #container:after {
	height: 12em;
}

@import 'core/_list';
@import 'core/_table';


/**
 * Common abstractions
 */
@import 'objects/_buttons';
@import 'objects/_card';
@import 'layout/_grid';
@import 'layout/_zindex';
@import 'objects/_alerts';
@import 'layout/_content'; // !TODO Lint
@import 'objects/_forms';
@import 'objects/_media';

/**
 * Rare abstractions
 */ 
@import 'objects/_accordion';
@import 'objects/_modal';
@import 'objects/_pagination';
@import 'core/_code';

//@import 'objects/_author';
//@import 'objects/_list--books'; // !TODO Abstract to Book List File
//@import 'objects/_menus--slide-panel';

/*------------------------------------*\
	$Site Specific
\*------------------------------------*/
//@import 'objects/_menus--panels'; // !TODO Lint
//@import 'objects/_menu--global'; // !TODO Lint
//@import 'objects/_media--mejs'; // Media Elements JS Styles
//@import 'objects/_spotlight--event'; 

 	
//@import 'layout/_header--logo'; // !TODO Lint
 //@import 'layout/_features'; // !TODO Lint
 @import 'layout/_footer'; // !TODO Lint


/*------------------------------------*\
	$Shapes
\*------------------------------------*/
//@import 'objects/_shapes';
//@import 'objects/_datepicker';

@import 'objects/_social';

@media print { 
	* { 
		background: transparent !important; 
		color: black !important; 
		 font-size: 16px !important;
		 text-align: left !important;
		text-shadow: none !important; 
		filter:none !important; 
		-ms-filter: none !important; 
	} 
	
	a, a:visited { 
		color: #444 !important; 
		text-decoration: underline; 
		
		/* show links on printed pages */
		&:after { 
			content: " (" attr(href) ")"; 
		}
		
		/* show title too */
		abbr[title]:after { 
			content: " (" attr(title) ")"; 
		}
	} 
	
	.ir a:after, 
	a[href^="javascript:"]:after, 
	a[href^="#"]:after { 
		content: ""; 
	} 
	
	pre, blockquote { 
		border: 1px solid #999; 
		page-break-inside: avoid; 
	} 
	
	thead { 
		display: table-header-group; 
	} 
	
	tr, img { 
		page-break-inside: avoid; 
	} 
	
	img { 
		max-width: 400px !important; 
	}

    @page { 
    	margin: 0.5cm;
    } 
    
    p, h2, h3 { 
    	orphans: 3; 
    	widows: 3; 
    } 
    
    h2, 
    h3 { 
    	page-break-after: avoid; 
    }

    .details {
    	time, a {
    		border: none;
    		float: none;
    		display: block;
    	}
    }
    
    /* hide content people who print don't need to see */
    .header,
    .footer, 
    .search, 
    .sidebar,
    .page-navigation,
    .panel, 
    .panels,
    .wp-prev-next,
    .respond-form,
    nav {
    	display: none;
    }
}