<ul class="list list--alternate" style="margin-bottom: 1em;">
  <li><a class="link link--undecorated" href="/account">Overview</a></li>
  <li><a class="link link--undecorated" href="/checkouts">Checkouts</a></li>
  <li><a class="link link--undecorated" href="/holds">Holds</a></li>
  <li><a class="link link--undecorated" href="/fees" target="_self">Fees and Payment History</a></li>
  <li><a class="link link--undecorated" href="/settings">Settings</a></li>
  <li><a class="link link--undecorated" href="/staffMockup">Staff</a>
    <ul>
      <li><a href="#">Brand, Style, and Voice</a></li>
      <li><a href="#">Calendars</a></li>
      <li><a href="#">Committees</a></li>
      <li><a href="#">Data</a></li>
      <li><a href="#">Directories</a></li>
      <li><a href="#">Forms</a></li>
      <li><a href="#">Policies and Procedures</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Systems Status</a></li>
      <li><a href="#">Tools</a></li>
    </ul>
  </li>
</ul>
