.alert {

	border: 1px solid;
	margin-bottom: 1em;
	padding: .5em;
	position: relative;

	&--success {
		color: #3c763d;
		background-color: #dff0d8;
		border-color: darken(#dff0d8, 3%);
	}

	&--info {
		color: $dark-blue-tinsley;
		background-color: #d9edf7;
		border-color: #bce8f1;
	}

	&--warning {
		color: #8a6d3b;
		background-color: #fcf8e3;
		border-color: #faebcc;
	}

	&--danger {
		color: #a94442;
		background-color: #f2dede;
		border-color: #ebccd1;
	}
}

.wrap .alert {	
	border-radius: 4px;
}