/* ==================
 * $Ask a Librarian */
.ask-a-librarian {
	border-top: 2px solid $blue-tropical;
	margin-bottom: 1em; 

	header {
		background-color: $dark-blue-base; 
		padding: .5em 1em; 

		h3 { 
			color: white; 
			&:before { color: $green; }
		}
	}
}
 .ask-badge {

 	border-bottom: 1px solid $border-color-light;
 	span { 
 		color: $dark-blue-base; 
 		cursor: pointer;
 		font-size: 1.6666em;
 		font-size: 1.6666rem;

 		&:hover {
 			color: $sea-green;
 		}

 		&.active { color: $green; }
 	}
 }