.author {

	background-color: #f9f9f9;

	header {
		background-color: white;
		border-bottom-color: $blue-tropical;
		border-left-color: $dark-blue-tinsley;
		border-right-color: $blue-tropical;
		border-top-color: $dark-blue-tinsley;
		border-style: solid;
		border-width: 2px;
		padding: .5em 1em;
	}

	.author__photo {
		border: 2px solid $dark-blue-tinsley;
	}

	.author__bio {
		padding: 1em;
	}
}