/*------------------------------------*\
	#BUTTONS
\*------------------------------------*/
@mixin button( $button-background-color: $dark-blue-tinsley ) {
	background-color: $button-background-color;

	&:active, &:hover{
		background-color: lighten( $button-background-color, 9% );
	}

	&:visited, &:active, &:hover {
		color: white;
	}

}

.button, a.button, label.button, input.button {

	border: none;
	border-radius: 2px;
	display: inline-block;
	margin: .5em 0;
	padding: 1em 2em;

}

.button {

	@extend .transition;
	box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.16), 
				0 2px 10px -4px rgba(0, 0, 0, 0.12);
	color: white;
	text-decoration: none;

	&:active, &:hover, &:focus {
		box-shadow: 0 5px 11px -2px rgba(0, 0, 0, 0.18), 
					0 4px 12px -7px rgba(0, 0, 0, 0.15);
		color: white;
		text-decoration: none;
	}

	&--primary {

		@include button();
	}

	&.base {
		@include button( $dark-blue-base );
	}

	&.blue {
		@include button( $soft-blue-base );
	}

	&.green {
		@include button( $green );
	}

	&.mint-green {
		@include button( $mint-green );
	}

	&.orange {
		@include button( $orange );
	}

	&.coral {
		@include button( $coral );
	}

	&.peach {
		@include button( $peach );
	}

	&--primary--alt {
		background-color: $content-contrast-background;

		&:hover, &:active, &:focus {
			background-color: lighten( $content-contrast-background, 9% );
		}
	}

  &--tab { // .button--tab
    border-bottom: none;
    margin: 0 .125em;
    width: 100%;

    &--selected { // .button--tab--selected
      background-color: white;
      color: #455268;

      &:hover, &:focus {
        background-color: white;
        box-shadow: none;
        color: #455268;
      }

    }

    @media screen and ( min-width: 1024px ) {

      width: auto;

      &--selected {
        bottom: -1px;
        position: relative;
        z-index: 1;
      }
    }
  }


}

/**
 * A small button.
 */

.button--small {
	padding: .5em 1em !important;
}

a.button--default, button.button--default {
	background-color: white;
	border: 1px solid $dark-blue-tinsley;
	color: $dark-blue-tinsley;

	&:hover, &:active, &:focus {
	//	background-color: $border-color-light;
	}

	&:hover, &:active, &:focus, &:visited {
		color: $dark-blue-tinsley;
	}



}

.button--transparent, a.button--transparent, input.button--transparent {
	background-color: transparent;
	border: 2px solid white;
}


a.button--success {
	color: #3c763d !important;
	background-color: #dff0d8;
	border: 1px solid darken(#dff0d8, 3%);a

	&:before {
		content: "\2713";
		margin-right: .5em;
	}
}

/**
 * An incognito button masquerading as a link 
 */
.button--link, input.button--link {
	background-color: transparent;
	box-shadow: none;
	color: $dark-blue-tinsley !important; // Too specific
	margin: 0 !important;
	padding: 0 !important;

	&:hover {
		box-shadow: none;
		color: lighten( $dark-blue-tinsley, 9% ) !important; // Too specific
		text-decoration: underline;

	}

}

.button--disabled {
	cursor: default;
	box-shadow: none;
	opacity: .5;

	&:hover {
		box-shadow: none;
	}
}

.button--flat {
	box-shadow: none;
}

.spacer { // scrap
	margin: 2em 0 auto;

	.button { 

		margin: 0 .5em;

		&:first-child { margin-left: 0;}
		&:last-child { margin-right: 0; }
	}
}