.card, .card--alt {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: .35rem;
    overflow: hidden;
    padding: 1em;
    position: relative;

    &--shadow {
      box-shadow: 0 2px 6px 0 rgba( #333, .1 );
    }

    &__header a[rel="tag"] {
      text-decoration: none;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }

    .content p {
      font-size: 16px;
      font-size: 1rem;
    }

    &__color-code, &__header__color-code {

      /**
       * A CSS Left Triangle
       */
       border-bottom: 16px solid transparent;
       border-top: 16px solid transparent;
       border-right: 16px solid;
       border-right-color: #ddd; // default
       height: 0;
       position: absolute;
       transform: rotate(45deg);
       width: 0;

       &--kids {
         border-right-color: #e2624f;
       }
       &--teens {
         border-right-color: #ffae3d;
       }

    }

    &__color-code {
      left: -3px;
      top: -11px;
    }

    &__header__color-code {
      left: -21px;
      top: -26px;
    }

}

.card__media, .ad__media {
  margin-bottom: 1em;
  padding-bottom: 56.25%;
  overflow: hidden;
  //position: relative;

  img, video {
    left: 0;
    position: absolute;
    top: 0;
    vertical-align: bottom;
    width: 100%;
  }
}

.card--excerpt {

  .card__title {
    margin-bottom: .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .content, .card__content {
    height: 5em;
    margin-bottom: 1em;
    overflow-y: auto;
  }

}

.link .card {

  color: #444;
  transition: box-shadow .2s ease-out;

  &:hover, &:focus {
    box-shadow: 0 2px 16px 0 rgba(51,51,51,0.2);
  }

}

@media screen and ( min-width: 768px ) {

  .ad {
    align-items: center;
    display: flex;
    padding: 0;

    .wrap { display: flex; align-items: center; }

    &--hero {
      border: none;
    }

    &--transparent {
      background: none;
    }

    &__copy {
      order: 1;
    }
    &__media {
      margin: 0;
      order: 2;
      padding-bottom: 0;
    }
    &__media img {
      max-width: 100%;
      position: static;
      width: auto;
    }
  }

  .s--holocaust-ad {
    background: #1a0e04;
    color: white;
  }

  .s--holocaust-ad h2 { color: white; }

  .menu__item__title {
    font-size: 2rem;
  }


}
