  .datepicker + .dropdown-menu {
    background-color: white;
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: .5em;
    position: absolute;
    z-index: 1;
  }

  .datepicker + .dropdown-menu td,
  .datepicker + .dropdown-menu th {
    border: none;
    padding :0;
  }

  .datepicker + .dropdown-menu .btn-group button,
  .datepicker + .dropdown-menu .btn-group + button {
    background-color: transparent;
    border: 1px solid #069;
    border-radius: 2px;
    padding: .25em .5em;
  }

  button[id^="datepicker"], td[id^="datepicker"] button, button[class^="glyphicon"]{
    background-color: white;
    border:none;
    color: #069;
    padding: .25em .75em;
  }

  td[id^="datepicker"] button:hover,
  td[id^="datepicker"] button:focus {
    background-color: #f5f5f5;
  }

  td[id^="datepicker"] button.active {
    background-color: #069;
    color: white;
  }

  td[ng-if^="showWeeks"] {
    border-right: 1px solid #ddd !important;
    padding-right: .5em !important;
  }

  .glyphicon-chevron-right:after {
    content: ">>";
  }
  .glyphicon-chevron-left:after {
    content: "<<";
  }