
.label {
  cursor: pointer;
}

.form {

  position: relative;

  fieldset {
    border: 1px solid $border-color-light;
  }

  ul, li {
    margin-left: 0; list-style-type: none;
    padding: 0;
    margin-top: 0;
  }

  &__field {
    position: relative;
    max-width: 100%;
    margin-bottom: 1em;
    vertical-align: middle;
  }

  &__field--danger .form__input {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;border-color: #ca3838; background: #f0c5c5;
  }

  &__field--danger:after {
    content: "\2716";
    color: #a94442;
  }

  &__field--warning .form__input {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }

  &__field--success .form__input {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: darken(#dff0d8, 3%);
  }

  &__field--success:after {
    content: "\2713";
    color: #3c763d;
  }


  &__input, &__select {
    appearance: none;
    background-color: white;
    border: 1px solid #ddd;
    height: 44px;
    line-height: 44px;
    outline: none;
    padding: 0 1em;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;

  }

  &__input:focus {
    border-color: #006699;
  }

  &__input--full-width {
    width: 100%;
  }

  &__input + .form__submit--inside {
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__input.textarea {
    min-height: 150px;
  }

  &__label {
    display: block;
    cursor: pointer;
    margin-bottom: .25em;
    padding-bottom: 0;
  }

  &__field--inline {
    @include breakpoint( snapscreen ) {
      float: left;
      margin-right: 2.762430939%;
    }
  }

  &__input--prepend {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__input--append {

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
    margin-left: -5px;

    @include breakpoint( snapscreen ) {
      float: right;
      margin-left: 0;
    }
  }

  &__select {
    display: inline-block;
    padding: 0;
  }

  &__select--full-width {
    display: block;
  }

  &__select select {
    position: relative;
    display: block;
    width: 100%;
    height: 34px; padding: 0 45px 0 10px; color: #444; border: none; background: transparent; outline: none; -webkit-appearance: none; z-index: 99; cursor: pointer; -moz-appearance: none;
  }

  &__select select::-ms-expand {
    display: none;
  }

  &__select:after {
    content: "\25BE"; z-index: 0; position: absolute; right: .5em; top: 0; color: #444;
  }

}


.tab-content .label {
  @extend .zeta;

  &.inline { bottom: .75em;}
}



.checkbox {
  cursor: pointer;
}
.checkbox.checked span:before {
  font-family: 'icomoon';
  content: "m";
  position: absolute;
  top: -8px;
  color: $dark-blue-tinsley;
}

input[type="search"] {
  box-sizing: border-box;
}


input[type="submit"] {
  &.icon {
    font-family: 'icomoon';
  }
}

.search, form[role="form"] {

  margin: .5em 0;

  .append input[type="submit"] {
    //background-color: $border-color-light;
    background-color: $dark-blue-tinsley;
    //border: 1px solid $border-color-light;
    border-radius: 0 4px 4px 0;
    color: white;
    height: 38px;
    width: auto;
    line-height: 34px;
    //padding: 0 5px;
    padding: 0 .5em;
    position: relative;
    font-size: 1rem;

    &.orange {
      background-color: darken($orange, 9%);
    }

    &.mint-green {
      background-color: $mint-green;
    }

    &.icon {
      font-family: 'icomoon';
      position: relative;
      top: 2px;
    }
  }

  &.hero {
    background-color: white;
    padding: 1em 0;
    position: relative;

    .label {

      @extend .gamma;
      color: $dark-blue-tinsley;
      margin:0;
      line-height: 1;

    }
  }

  &.hero form {
    margin: 1em 0;
  }

}

.sidebar .search,
.sidebar form[role="form"] {
  .form__field .input {
    height: 38px;
  }
}
.polar .search {

  margin: 0;

  form {
    margin: .75em 0;

     @include breakpoint( tablet ) {
      margin: .25em 0;
     }
  }

  .append .input[type="search"],
  .append .input[type="text"] {
    border: 1px solid $border-color-light;
    height: 34px;
  }

}

.header .search form {
  margin: .25em 0;
}


.universal .search {

  display: none;
  @include breakpoint( widescreen ) {
    display: block;
    margin-top: 4em;
  }

}


.search {
  .input[type="text"],
  .input[type="search"] {
    //outline: 1px solid $border-color-light;
    //outline-offset: -1px;
  }
}

.site-search {

  @include breakpoint( cinemascreen ) {

   .form__field .label, .input { position: relative; }
   .form__field .label {
      float: left;
      margin-left: 0;
      width: 31.491712705%; // fourcol
    }

    .input {
      float: right;
      margin-left: 2.762430939%;
      width: 65.74585634900001%; //eightcol
    }
  }
}


.widget-title {
  position: relative;
  top: 2px !important;

  &:before {
    position: relative;
    top: 4px;
  }
}


.login-error{background-color:rgba(226,98,79,0.5);color:#454545;margin:0 auto 2em;padding:1em;width:66%}
.login{
  color:white;
  padding: .5em .5em 0;

}

    .login .title{color:white;line-height:1}
    .login input[type="text"],.login input[type="password"]{-webkit-appearance:none !important;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;border-style:none;color:#454545;display:block;min-height:36px;padding:0 .25em;width:100%}

//.login input[type=submit]{border:none;color:#454545;margin-top:1em;padding:.5em}

    .login .shark-logo{background:transparent url("brand/shark-logo(2x).png") no-repeat}.js p#login-error{display:none}
    .public-gradient{background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #336d46), color-stop(100%, #428c5a)); }


  .public-gradient {
    background-color: #336d46;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(lighten(#336d46,9%)), to(#336d46));
    background-image: -webkit-linear-gradient(top, lighten(#336d46,9%), #336d46);
    background-image:    -moz-linear-gradient(top, lighten(#336d46,9%), #336d46);
    background-image:     -ms-linear-gradient(top, lighten(#336d46,9%), #336d46);
    background-image:        linear-gradient(top, lighten(#336D46, 9%), #336d46);
  }

  /* ==================
   * HPD Gradient */
   .HPD-gradient {

    background-color: #74a3ff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(lighten(#74a3ff,9%)), to(#74a3ff));
    background-image: -webkit-linear-gradient(top, lighten(#74a3ff,9%), #74a3ff);
    background-image:    -moz-linear-gradient(top, lighten(#74a3ff,9%), #74a3ff);
    background-image:     -ms-linear-gradient(top, lighten(#74a3ff,9%), #74a3ff);
    background-image:        linear-gradient(top, lighten(#74a3ff, 9%), #74a3ff);

   }

  /* ==================
   * UNS Gradient */
   .UNS-gradient {
    background-color: #002F4E;
   }


 /*------------------------------------*\
   $Search-Widget
 \*------------------------------------*/
.hero--search-widget {

    @include breakpoint( widescreen ) {

      &:before {
        background-color: rgba( black, .1 );
        bottom: 0;
        content: "";
        display: block !important;
        position: absolute;
        top: 0;
        width: 100%;
      }

      background-image: url('http://public.library.nova.edu/wp-content/uploads/2013/11/public-services.jpg'); background-position: bottom center;
      padding: 3em 0;
      position: relative;

    }

}

.search-widget {

  position: relative;

  .label {
    text-align: center;
  }

  @include breakpoint( squarescreen ) {

    background-color: white;

    &:before {
      content: "Search the Library Catalog";
      color: white;
      font-size: 36px;
      position: absolute;
      right: 0;
      top: -1.1em;

    }

    border-left: 3px solid $dark-blue-tinsley;
    box-shadow: 0 5px 11px rgba(0,0,0,0.3);
    margin: 3em auto !important;
    width: 48.618784527%;

    &__title {
      position: absolute !important;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
    }


    .form__field .input--transparent {
      border-bottom: none;
    }
  }

  @include breakpoint( cinemascreen ) {

    margin: 3em auto !important; // shame
    width: 48.618784527%;
  }

    .picker, .input {
      position: relative;
    }

    .input {
      float: right;
      width: 100%;
    }

}

.search__label {
  left: 0;
  position: absolute;
  z-index: 1;
}

.search__button--inside, .input__button--inside {
  background-color: transparent;
  border: none;
  color: #d8d8d8 !important; //shame
  margin-right: .25em !important; //shame
  padding: .35em .5em;
  position: absolute;
  right: 0;
  width: auto !important; //shame
}



.search__button--inside:not( .icon ), .input__button--inside  {
  border-bottom: 2px solid rgba( white, .5 );
  border-radius: 0;
  color: white !important; //shame
  margin-top: 0 !important; //shame
  margin-right: .25em !important; //shame
  padding: .35em .5em !important;
  position: absolute;
  right: 0;
  width: auto !important; //shame
}

.input__button--inside {
  background-color: $orange;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 .5em !important;
  margin-right: 0 !important;

  &:hover, &:focus {
    background-color: lighten( $orange, 9% );
  }
}

.search__link--options {

  font-size: 80%;
  color: #d8d8d8;
  float: right;
  margin: -1em auto 0;

  &:before {
    content: "\f013";
    font-family: 'FontAwesome';
    margin-right: .1em;
  }

}

.header .form__field {  margin: .5em 0; }
.header .form__input { height: 34px; }
.header .search__button--inside {
  top: 0;
}

/**
 * Transparent input
 */ // <input class="input input--transparent">

.form__field .input--transparent, .form__field .search__search-field--transparent {
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid $border-color-light;
  border-radius: 4px;
}

.has-background .form__field .input--transparent,
.has-background .form__field .search__search-field--transparent {
  border-bottom: none;
  color: white;
}



.has-background input.input--transparent::-webkit-input-placeholder {
  color: rgba( white, .8 );
}
.has-background input.input--transparent:-moz-placeholder {
  color: rgba( white, .8 );
}
.has-background input.input--transparent::-moz-placeholder {
  color: rgba( white, .8 );
}
.has-background input.input--transparent:-ms-input-placeholder {
  color: rgba( white, .8 );
}



.form__field .input--large {
  height: 44px;
  line-height: 44px;
}

.header .search {
  float: right;
  position: relative;
}

/*------------------------------------*\
  #TABS
\*------------------------------------*/

.card--alt.tab-content {
  margin-top: 0;
}


.tabs { display: block; margin-bottom: 1em;}
.tab-nav,
.js-overlay .tab-nav {
  display: block;
  margin: 0;
  padding: 0;

 @media screen and ( min-width: 768px ) {
    display: flex;
    flex-direction: row-reverse;
    right: 1em;
    position: relative;
    z-index: 1;
  }

  & > li {
    display: block;
    width: auto;
    padding: 0;
    margin: 0 2.12766% 0 0;
    cursor: default;
    top: 1px;

    @media screen and ( min-width: 768px ) {

      display: inline-block;
      display: flex;

    }

}

}


.tab-content { display: none; padding: 20px 10px; }
.tab-content.active { display: block; }

.tab-nav > li > li { display: inline-block; width: auto; padding: 0; margin: 0 2.12766% 0 0; cursor: default; top: 1px; -webkit-box-shadow: 0 1px 0 white; -moz-box-shadow: 0 1px 0 white; box-shadow: 0 1px 0 white; }
.tab-nav > li > li > a {
  display: block;
  width: auto;
  padding: 0 .5em;
  margin: 0;
  color: $body-copy-color;
  //border: 1px solid $border-color-light;
  background: #f2f2f2;
  cursor: pointer;
  border-radius: 4px 4px 0 0;
}

.tab-nav > li > li > a:hover {
  text-decoration: none;
}
.tab-nav > li > li > a:active {
  background: $border-color-light; }

.tab-nav > li > li.active > a {

  border-bottom: none;
}
.tab-nav > li > li:last-child { margin-right: 0; }
.tab-nav > li:last-child { margin-right: 0; }

.tab-nav > li > a {
  display: block;
  width: auto;
  padding: 0 .5em;
  margin: 0;
  color: $body-copy-color;
  border-width: 1px 1px 0 1px;

  background: white;
  cursor: pointer;
  border-radius: 4px 4px 0 0;
}

.tab-nav > li > a:hover { text-decoration: none; background: whitesmoke; }
.tab-nav > li > a:active { background: #ededed; }

.tab-nav > li.active > a {
  border-bottom: none;
}

.tab-nav .menu--actions--public__menu-item {

  &.active {

    a {
    border-bottom: 1px solid white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
      border-top: 2px solid #069;
      color: darken( #069, 9%);
      margin-bottom: -1px;
      position: relative;

      &:hover, &:focus {
        color: darken( #069, 9%);
        border-top-color: #069;
      }
    }
  }

  &:first-child a {
    border-left: 1px solid #ddd;
  }

  &:last-child a {
    border-right: 1px solid #ddd;
  }

  a {

    border-top: 2px solid #ddd;
    //border-bottom: 2px solid white;
    border-radius: 0;
    color: rgba( #444, .5 );
    padding: .25em 1em;
    text-decoration: none;

    &:hover, &:focus {
      background-color: white;
      border-top-color: #f3787a;
      color: #444
    }

  }
}


form[name="novacat_search"] {

  .svg--info {
    top: -5px;
  }

  .form__select {

    &::after {
      top: .333em;
    }
    display: block;
    margin-bottom: 2em;
    //position: absolute;

    @media screen and ( min-width: 768px ) {
      border: none;
      //display: inline-block;
      //margin-bottom: 0;
      //position: absolute;
      //width: 25%;
      height: auto;
    }
  }

  .form__submit--inside {
    height: 55px;
  }

  .button svg {
    fill: white;
    position: relative;
    left: -5px;
    top: 5px;
  }

  input[name="searcharg"], input[name="q"] {
    -webkit-appearance: none;
    //border-radius: 2px;
    height: 55px;

    @media screen and ( min-width: 768px ) {
      //border-left: none;
      //border-radius: 0 2px 2px 0;
      //float: right;
      //width: 75%;
    }
  }

  select[name="searchtype"] {
    height: 55px;
    line-height: 55px;
    width: 100%;

    @media screen and ( min-width: 768px ) {
      border: 1px solid #ddd;
      //border-radius: 2px 0 0 2px;
      padding: 0 2em 0 1em;
    }
  }

}

form[id="novacat_search"].search-hero {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
input[id="search-hero"]:checked ~ form[id="novacat_search"].search-hero {
  height: auto;
  visibility: visible;
}
