/*------------------------------------*\
	Book Lists
\*------------------------------------*/
.list__books,
.list--books {

	/**
	 * !TODO
	 * Remove ".list__books", but make sure it's replaced with
	 * .list--books where used. On Lists? 
	 */

	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		border-color: $border-color-light;
		border-style: solid;
		border-width: 1px;
		margin: 1em 0;
		padding: .5em;
		position: relative;
	}

	li:first-child {
		margin-top: 0; 
	}


	li:nth-child(odd) {
		background-color: #f9f9f9;
	}

	.thumbnail img {
		border: 1px solid $dark-blue-base;
		max-width: 125px;
	}
} 

/**
 * GB API Classes 
 */
.gbs-thumbnail-large img {
	max-width: 200px;
}

/* ==================
 * $Page Navigation */
.bones_page_navi {
	list-style-type: none;

	li { 
	
		display: inline-block; 
		margin: 0 .5em;

	}
}