.media {
	img, video, .fluid-embed-wrapper { max-width: 100%; width: 100%; height: auto; vertical-align: bottom; }
	ul { list-style-type: none; padding: 0; margin: 0;}

	.fluid-embed-wrapper {
		padding-top: 56.25%; // magic number that forces 16:9 ratio
		position: relative;
		width: 100%;

		iframe {
			left: 0;
			height: 100%;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
} // universal rules that apply to all media


figure {

	margin: 0 0 1em;
	padding: .5em;

	@include breakpoint( widescreen ) {
		&.alignleft, &.alignright { // Align Right doesn't need to exist!
			float: left;
			margin: 0 2em 0 0;
		}
	}

}
