/* ==================
 * $Slide-Panel Menu
 * ================== */
.slide-panel {

	& > label {
		display: block;
		margin-top: 0;
		padding: .5em;
		text-align: center;

		@include breakpoint(tablet) {			
			float: right;
			margin: .5em auto;
			padding: .5em 2em;
		}
	}

	&.polar {
		@include breakpoint( tablet ) {
			float: left;
			margin: 0; 
		}
	}

	&.polar > label {
		@include breakpoint( tablet ) {

			&:before { 
				background-color: lighten($dark-blue-tinsley,9%);
				border-radius: 4px;
				color: white;
				content: '☰';
				height: 36px;
				margin-left: -2.3em;
				padding: 0 .5em;
				position: absolute;
			}

			background-color: $dark-blue-tinsley;
			color: white !important;
			float: none;
			height: 36px;
			margin-left: 1.3em;
			padding: 0 1em;

			&:hover, &:focus {
				background-color: lighten($dark-blue-tinsley, 9%);
			}
		}
	}

	@include breakpoint( widescreen ) { .checkbox-toggle, .label { display: none; }	}
}


.slide-panel-menu {

	background-color: $dark-blue-base;
	border-right: 2px solid white;
	bottom: 0;
	position: fixed;
	left: -100%;
	overflow-y: auto;
	padding: 1em;
	text-align: left;
	top: 0;
	width: 90%;
	z-index: 5; 

	.menu li:not(:first-child) {
		border-top: 1px solid white;
	}

	a, a:visited { 
		@extend .epsilon;
		color: white;
		margin-bottom: auto;

		&:hover, &:focus { 
			color: white;
			outline: 1px solid white;
		}
	}

	& > label {
		cursor: pointer;
	}


	.menu-mobile-fly-out {
		padding: 0;
	}

	label { color: $border-color-light; }

	@include breakpoint( tablet ) {
		width: 33%; 
		.menu-mobile-menu-container {
			width: 100%;
		}
	}

	@include breakpoint( widescreen ) {
		box-shadow: none;
		background-color: transparent;
		border: none;
		padding: 0;
		position: static;
		width: auto;

		.menu-mobile-fly-out-container { display: none; }		
	}


	ul li {
	  list-style-type: none;

	    margin: 0 auto 1em;

	    a { 
	    	display: block;
	    	padding: .25em .5em; 
	    }

	    .sub-menu { 
	      margin: .5em auto; 
	    }

	    .sub-menu li {
	    	margin-bottom: .5em;
	    }
	}

}

.slide-panel input.checkbox-toggle:checked ~ .slide-panel-menu {
  left: 0;
} 

/* ==================
 * Fallback */