/* ==================
 * $Drop-Down Menu */

.drop-down {

  @extend .transition;

  background-color: $dark-blue-base;
  border-right: 2px solid white;
  bottom: 0;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed !important;
  overflow-y: auto;
  text-align: left;
  top: 0;
  width: 90%;
  z-index: 5; 

   @media only screen and (max-width: $widescreen ) { 
    box-shadow: 0 0 13px #000;
    transform: translateX( -100% );
    -ms-transform: translateX( -100% );
    -moz-transform: translateX( -100% );
    -webkit-transform: translateX( -100% );
   }

  a, a:visited {

    @media only screen and (max-width: $widescreen ) { 
      color: white ;
      display: block;
      font-size: 21px;    
      margin-bottom: auto;
      padding: .5em 1em;

      &:hover, &:focus {
        background-color: lighten( $dark-blue-base, 9% );
        color: white;
      }

    }

  }

  & > li:not(:first-child) {
    @media only screen and (max-width: $widescreen ) { 
      border-top: 1px solid lighten( $dark-blue-base, 9% );
    }
  }

  .sub-menu {
    display: none;
    list-style-type: none;
    padding-left: 1em;
  }

  @include breakpoint( widescreen ) {
    background-color: white;
    border-right: none;
    position: relative !important;
    color: $body-copy-color;
    display: inline;
    margin: 0;
    left: 0;
    line-height: 2.75;
    padding: 0 0 0 .5em;
    overflow-y: visible;

    & > li {
      border-right: 2px solid $soft-blue-base;
      display: inline-block;
      padding: 0 1em;

      &:first-of-type { padding-left: 0; }
      &:last-child { border-right: none; }
    }

    .sub-menu {
      background-color: white;
      list-style-type: none;
      margin-left: -1.4em;
      padding: 0;
      position: absolute;

      & > li {
        border-left: 2px solid $dark-blue-tinsley;
        border-bottom: 1px solid $dark-blue-base;
        border-right: 1px solid $border-color-light;
        padding: 0 1em;

        &:last-child {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
  } // breakpoint
} // .drop-down

// .no-js hover fallback
.no-js .drop-down > li:hover {
  .sub-menu { display: block; }
}
