/* ==================
 * $PANELS
 * ================== */

.menu--panels {
	@include breakpoint( squarescreen ) {
	}
}

.panel {

	//border: 3px solid rgba( white, .3 );
	display: block;
	height: 250px; // Alternative to hardcoding?
	//margin: 0.35%;
	position: relative;
	width: 100%;

	&:not( .panel--status ) {
		box-shadow: 0 5px 11px -5px rgba(0,0,0,0.3);
		height: 145px; 
	}

	&.background-green:hover { background-color: lighten( $green, 9% ); }

	&__link {

		@extend .epsilon;
		background-color: rgba( white, .1 );
		color: white;
		display: block;
		height: 128px;
		margin: 0 auto;
		padding-left: 128px;
		padding-top: 2.5em;
		position: absolute;
		width: 100%;
		word-wrap: normal;

	}


	@include breakpoint( snapscreen ) {
		float: left;	
		width: 50%;
	}

	@include breakpoint( squarescreen ) {

		&:not( .panel--status ):hover,
		&:not( .panel--status ):focus {
			box-shadow: 0 5px 11px rgba(0,0,0,0.3);
		}

	    &.one-half {
        	//width: 49.3%;
        	width: 50%;
    	}
    
    	&.one-third {
        	//width: 32.6%;
        	width: 33.33333%
    	}

    	&.one-fourth {
       		//width: 24.3%;
       		width: 25%;
   		}
	}
	a.button {
		color: white !important;
		display: block;
		margin: 0 auto;
		position: absolute;
		width: 100%;
		word-wrap: normal;

		&.align-bottom { bottom: 10%; }

		@include breakpoint( tablet ) {
			border: 2px solid white; 
			left: 10%;
			right: 10%;
			width: 80%;
		}

		@include breakpoint( squarescreen ) {

			font-size: 21px;
			font-size: 1.16667rem;

		}
	}

	&.ask,
	&.audiobooks,
	&.bus,
	&.books,
	&.books,
	&.compose,
	&.catalog,
	&.citation-management,
	&.dictionary,
	&.ebooks,
	&.event,
	&.games,
	&.genealogy,
	&.guides,
	&.heart,
	&.help,
	&.homework-helpers,
	&.kids,
	&.library-card,
	&.movies,
	&.music,
	&.new-and-good,
	&.periodical,
	&.piechart,
	&.research,
	&.scholar,
	&.support,
	&.teens,
	&.status-hours,
	&.status-calendar,
	&.status-contact,
	&.status-directions {
		background-repeat: no-repeat;
	}
	
	&.audiobooks { background: $sea-green url('media/music.png') no-repeat;
		
		&:hover { background-color: lighten($sea-green, 5%); }
		.button:hover { background-color: lighten($sea-green, 9%); }
	}

	&.bus { 

		background-color: $mint-green; 
		background-image: url('media/bus.png');
		
		&:hover { background-color: lighten($mint-green, 5%); }
		.button:hover { background-color: lighten($mint-green, 9%); }
	}

	&.books { 

		background-color: $coral;
		background-image: url('media/dictionary(2x).png');
		
		&:hover { background-color: lighten($coral, 5%); }
		.button:hover { background-color: lighten($coral, 9%); }
	}

	&.compose { 
		background-color: $sea-green; 
		background-image: url('media/compose.png');
		
		&:hover { background-color: lighten($sea-green, 5%); }
		.button:hover { background-color: lighten($sea-green, 9%); }
	}

	&.catalog { 
		
		background-color: $sea-green; 
		background-image: url('media/search(2x).png');
		
		&:hover { background-color: lighten( $sea-green, 5% ); }
		.button:hover { background-color: lighten( $sea-green, 9% ); }

	}

	&.citation-management { 
		
		background: #4CC3FF url('media/compose.png') no-repeat;
		
		&:hover { background-color: lighten( $sea-green, 5% ); }
		.button:hover { background-color: lighten( $sea-green, 9% ); }

	}

	&.dictionary { background: transparent url('media/dictionary(2x).png') no-repeat; }

	&.ebooks { background: $blue-tropical url('media/ebooks.png') no-repeat;
		
		&:hover { background-color: lighten($blue-tropical, 5%); }
		.button:hover { background-color: lighten($blue-tropical, 9%); }
	}


	&.event {
		background-color: $green;
		background-image: url('media/event(2x).png');

		&:hover {
			background-color: lighten($green, 5%);
		}

		.button:hover {
			background-color: lighten( $green, 9% );
		}
	}

	&.games { background: $orange url('media/games(2x).png') no-repeat; 
		
		&:hover { background-color: lighten($orange, 5%); }
		.button:hover { background-color: lighten($orange, 9%); }

	}

	&.genealogy { background: $green url('media/genealogy.png') no-repeat;
		
		&:hover { background-color: lighten($green, 5%); }
		.button:hover { background-color: lighten($green, 9%); }
	}

	&.guides { background: $light-blue-object url('media/guides.png') no-repeat;
		
		&:hover { background-color: lighten($light-blue-object, 5%); }
		.button:hover { background-color: lighten($light-blue-object, 9%); }
	}

	&.heart { background: $coral url('media/heart.png') no-repeat;
		
		&:hover { background-color: lighten($coral, 5%); }
		.button:hover { background-color: lighten($coral, 9%); }
	}

	&.help { 

		background-color: lighten($green, 5%);
		background-image: url('media/help.png');
		
		&:hover { background-color: lighten($green, 5%); }
		.button:hover { background-color: lighten($green, 9%); }
	}

	&.homework-helpers {
		background: $orange url('media/scholar(2x).png') no-repeat;

		&:hover { background-color: lighten( $orange, 5%); }

		.button:hover { background-color: lighten( $orange, 9% ); }
	}


	&.kids { 
		background-color: $coral;
		background-image: url('media/kids(2x).png');

		&:hover { background-color: lighten($coral, 3%); } 
		.button:hover { background-color: lighten( $coral, 9% ); } 
	}


	&.movies { background: $gray url('media/movies.png') no-repeat;
		
		&:hover { background-color: lighten($gray, 5%); }
		.button:hover { background-color: lighten($gray, 9%); }
	}

	&.music { background: $mint-green url('media/record.png') no-repeat;
		
		&:hover { background-color: lighten($mint-green, 5%); }
		.button:hover { background-color: lighten($mint-green, 9%); }
	}


	&.new-and-good { 

		background: #4CC3FF url('media/picks(2x).png') no-repeat;

		&:hover {
			background-color: lighten(#61D4E4, 3%);
		}

		.button:hover {
			background-color: lighten( #61D4E4, 9% );
		} 

	}

	&.periodical { background: $dark-blue-tinsley url('media/periodical.png') no-repeat;
		
		&:hover { background-color: lighten($dark-blue-tinsley, 5%); }
		.button:hover { background-color: lighten($dark-blue-tinsley, 9%); }
	}

	&.piechart { background: $gray url('media/piechart.png') no-repeat;
		
		&:hover { background-color: lighten($gray, 5%); }
		.button:hover { background-color: lighten($gray, 9%); }
	}

	&.research {
		background-color: $border-color-dark;
		background-image: url('media/scholar(2x).png');

		&:hover {
			background-color: lighten( $border-color-dark, 5%);
		}

		.button:hover {
			background-color: lighten( $border-color-dark, 9% );
		}
	}

	&.scholar { background: $orange url('media/scholar(2x).png') no-repeat}

	&.support { background: $dark-blue-tinsley url('media/support.png') no-repeat;
		
		&:hover { background-color: lighten($dark-blue-tinsley, 5%); }
		.button:hover { background-color: lighten($dark-blue-tinsley, 9%); }
	}

	&.teens {
		background-color: $orange;
		background-image: url('media/rocket.png');

		&:hover {
			background-color: lighten( $orange, 5%);
		}

		.button:hover {
			background-color: lighten( $orange, 9% );
		}
	}
	

	/* ==================
	 * Status Buttons
	 */ // Hours
	 	&.status-hours { background: url('media/hours(2x).png') no-repeat center center; } 

	 	// Calendar
	 	&.status-calendar { background: url('media/support.png') no-repeat center center; }
	 	// Contact Us
	 	&.status-contact { background: url('media/contact(2x).png') no-repeat center center; }

	 	// Directions
	 	&.status-directions { background: url('media/directions(2x).png') no-repeat center center; }

	 	@include breakpoint(squarescreen) {
		 	&.status-hours, &.status-calendar, &.status-contact, &.status-directions {

		 		background-size: 50%; 
		 		&:hover {
		 			background-size: 60%;
		 		}
		 	}
	 	}

	.label {
		bottom: 0;
		color: $dark-link-color;
		position: absolute;		
		left: 0;
		right: 0;
	}

}

.sidebar .panel { height: 150px; width: 50%; }