/*------------------------------------*\
  #Logo
\*------------------------------------*/
.nsu > img {
  max-width: 600px;
  width: 100%;
}

.logo {

  &:hover {
    background-color: rgba( white, .1 );
  }

  &--nsu {
    display: block;
    text-align: center;

    @media screen and (min-width: 618px ) {
      display: inline-block;
      text-align: left;
    }
  }

  &--asl {
    display: none;

    @media screen and (min-width: 618px )  {
      display: inline-block;
    }
  }

}

.top-menu {

  display: none;
  overflow: hidden;

    background-color: $dark-blue-base;
    //border-bottom: 2px solid white;
    display: block;
    height: 0;
    visibility: hidden;

    .menu { padding: 0; }
    .menu > li {

      list-style-type: none;

      @include breakpoint( tablet ) {
        float: left;
        margin-right: 3em;
      }

      &:last-child { margin-right: 0; }

      & > a {
        background-color: transparent;
        color: white;
        font-size: 1.1667em; // .epsilon
      }
    }

    .sub-menu {

      padding: 0;

      @include breakpoint( tablet ) {
        border-left: 2px solid white;
        padding: 0 0 0 1em;
      }

     }

     small {
      color: white;
      display: block;
      position: relative;
      top: -.25em;
    }

    .current-page-ancestor > a,
    .current-menu-item > a {
      color: white;
    }

}

.top-menu .menu-item {
  list-style-type: none;
}

.top-menu .sub-menu .sub-menu {
  border-left: none;
  margin-top: -.5em;
  padding-left: 0;
}

.top-menu .sub-menu .sub-menu .menu-item {
  display: inline-block;
  font-size: 80%;

  @include breakpoint( tablet ) {
    &::after {
      color: white;
      content: ",";
    }
  }

  &:last-child::after {
    content: "";
  }

  & > a {
    color: white;
  }
}

input[id="top-menu"]:checked ~ .top-menu {

  height: auto;
  visibility: visible;

  @include breakpoint( squarescreen ) {
    height: 18em;
  }
}

.top-menu__link, .top-menu {

  a, a:visited {
    background-color: rgba( white, .05 );
    color: $soft-blue-base;
    display: block;
    margin: .25em 0;
    padding: .5em 1em1em;
    text-decoration: none;

    &:hover, &:active {
      color: lighten($soft-blue-base, 9%);
    }

    @include breakpoint( tablet ) {
      background-color: transparent;
      display: inline;
      font-size: 1em;
      margin: 0;
      padding: 0;
    }
  }

}


.top-menu__link--ancillary a,
.top-menu__link--ancillary a:visited { // to-do, despecify.
  color: white;
}


.pill-menu {

  line-height: 1;

  & > ul > li {
    display: inline-block;
    padding: 1em 0;
  }

  .sub-menu { width: 100%; }

  .primary {
    border-right: 1px solid #ddd;
    margin-right: .5em;
  }

 .primary > .label {

   @extend .transition;

    color: #4b5971;
    cursor: pointer;
    padding: 0 1em;
    position: relative;
    top: 4px;


    & > span {

      @extend .transition;

      bottom: -4px;
      left: 17px;
      font-family: Arial, 'sans-serif';
      font-size: 10px;
      position: absolute;
    }

  }

  &__title {
    display: inline-block;
    font-size: 24px;
    font-size: 1.33333rem;
    overflow: hidden;
    padding-left: .5em;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    top: .33333em;
    white-space: nowrap;
    width: 75%;

    @media screen and ( min-width: 500px ) {
      max-width: 25%;
    }

    @include breakpoint( tablet ) {
      max-width: 25%;
    }
  }


}

.header:hover, .header:focus {
  .pill-menu .primary > .label {

    & > span {
      opacity: 1;
    }
  }
}

input#drop-panel:checked ~ .drop-down {
  @extend .transition;
  transform: translateX( 0 );
}

.label[for="drop-panel"] {

  margin-left: 2.2em;
  padding: .25em .5em .25em 1.5em;
  position: relative;


  &.open:before {
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 18px solid white;
    content: "";
    height: 0;
    left: 0;
    top: 0;
    position: absolute;
    width: 0;
    z-index: 0;
  }

  &.close {
    margin-right: 1em;
  }

  span {
    background-color: $light-blue-object;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    display: inline-block;
    left: -2.2em;
    padding: .25em .5em;
    position: absolute;
    top: 0;

    &:after {
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
      border-left: 18px solid $light-blue-object;
      content: "";
      height: 0;
      right: -1em;
      top: 0;
      position: absolute;
      width: 0;
      z-index: 1;
    }
  }

  &.open {

  //  float: right;

    @include breakpoint( tablet ) {
      float: none;
    }
  }

  @include breakpoint( widescreen ) {
    display: none;
  }
}

.menu--sidebar {
  box-shadow: -8px 1px 14px -7px rgba(51,51,51,0.1);

  .link {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    display: block;
    padding: .5em 1em;

    &:hover, &:focus {
      background-color: #eee;
    }

    &--active {
      background-color: white;
      border-left: 2px solid #f3787a;
    }
  }
}

.sidebar .menu {
  @extend .epsilon;
  margin-top: 0;

  .sub-menu { padding: 0; }
}

.header {
  background-color: white;
  margin: 0 auto;
  //text-align: center;

  .pill-menu {
    display: block;
    float: left;
    //margin: 1em auto;

    & > ul {
      margin: 0;
      padding: 0;
      position: relative;
    }

  } // .pill-menu

}

.menu--actions--public {
  float: left;
  list-style: none;
  margin: 0 0 0 1em;
  padding: 0;
  position: relative;

  @include breakpoint( tablet ) {
    float: right;
  }

  &__menu-item {
    display: inline-block;
    padding: .5em;
    padding-bottom: .6666em;
    position: relative;
  }

  .icon {

    background-color: rgba( black, .02 );
    cursor: pointer;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    transition: background-color .2s ease-out;

    &:hover {
      background-color: rgba( black, .05 );
    }

    &__label {
      bottom: 5px;
      color: #444;
      font-family: Arial, 'sans-serif';
      font-size: 10px;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .svg--search {
    fill: #4b5971;

    &:hover, &:active, &:focus {
      fill: $dark-blue-tinsley;
    }
  }
}

.menu--actions__divider {
  border-right: 1px solid #e9e9e9 !important;
}

.top-menu .search {
  border-bottom: 1px solid white;

  .svg--search {
    bottom: .5em;
    position: absolute;
  }

  .input {
    margin-left: 1em;
  }
}

.hide-accessible--sm {
  position: absolute;
  visibility: hidden;

  @include breakpoint( tablet ) {
    position: static;
    visibility: visible;
  }
}

.hide-accessible--md {
  @include breakpoint( tablet ) {
    position: absolute;
    visibility: hidden;
  }

  @include breakpoint( widescreen ) {
    position: static;
    visibility: visible;
  }
}

.hide-accessible--lg {
  @include breakpoint( widescreen ) {
    position: absolute;
    visibility: hidden;
  }
}


.menu--actions--context {

  display: flex;
  margin: 0;
  position: relative;
  float: right;
  width: auto;

  @media screen and ( min-width: $tablet ) {
    float: right;
    width: auto;
  }

  .menu--actions--public__menu-item {

    &::after {
    }

    &:last-child::after {
      content: "";
    }

  }

  .menu--actions__divider {

    display: none;

    @media screen and ( min-width: $tablet ) {
      display: inline-block;
    }

  }

}

input[id="context-menu"]:checked ~ .menu--actions--context .menu--actions--public__menu-item {

  display: block;
  position: static;
  visibility: visible;

  @media screen and ( min-width: $tablet ) {
    display: inline-block;
    position: static;
    visibility: visible;
  }

}

.context-menu-toggle {

  float: right;
  margin: 1em 0 0;

  @media screen and ( min-width: $tablet ) {

    display: none;

  }

}

.link--drop-down {
  //position: relative;
}
.link--drop-down::after {
    content: '›';
    position: absolute;
    //right: -.75em;
    right: .5em;
    transform: rotate( 90deg );
    //top: 0;
    top: .5em;
}

.menu--actions--public__menu-item.menu > .link--drop-down {

  @media screen and ( min-width: $tablet ) {
    display: inline-block;
  }

}

.menu--actions--public__menu-item.menu {
    position: relative;
}

.menu--actions--public__menu-item .menu__sub-menu {

    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0 2px 6px 0 rgba( 51, 51, 51, .1 );
    display: none;
    min-width: 12.25em;
    position: absolute;
    overflow: hidden;
    right: 0;
    white-space: nowrap;
    z-index: 5000;

}

.menu__sub-menu__content,
.menu__sub-menu__footer {
  padding: .5em 1em;
}

.menu__sub-menu__footer {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

.menu__sub-menu__footer {}

input[id="user-menu"]:checked ~ .menu__sub-menu,
input[id="notifications"]:checked ~ .menu__sub-menu,
.menu__sub-menu.menu__sub-menu--open {
  display: block;
}

.label--hamburger {
  @extend .transition;

  background-color: rgba( black, .02 );
  display: inline-block;
  //padding: .75em 1em;
  padding: 1em 1em .2em;
  position: relative;

  span {
    bottom: 6px;
    font-family: Arial, 'sans-serif';
    font-size: 10px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }

  .svg--menu {
    position: relative;
    top: -.5em;
    width: 24px;
    height: 24px;

  }

}

input[id="top-menu"]:checked ~ .header[role="banner"] .label--hamburger {
  background-color: #313547;
  color: white;
}
.label--hamburger:hover, .label--hamburger:focus, .label--hamburger:active {
  background-color: rgba( black, .05 );
}

.menu__item{overflow:hidden;padding:0; margin: .35% 0; height: 215px;}
.menu__item__content{background-color:white;bottom:0;color:#444;height:61px;left:0;padding:1em;position:absolute;width:100%;-webkit-transition:all .2s ease-out;transition:all .2s ease-out}
.menu__item__title{color:#313547;font-size:1.2rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
@media only screen and (min-width: 64em){.menu__item__title{font-size:1.5rem}}.menu__item:hover
.menu__item__content,.menu__item:focus .menu__item__content{height:100%}

.menu--tabs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    flex-grow: 1;
  }

  @media screen and ( min-width: 1024px ) {
    justify-content: flex-end;
    padding-right: 1em;

    &__item {
      flex-grow: inherit;
    }
  }
}