/**
 * CSS Modal
 * Modal as reusable module
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 * @version 1.0.4
 *
 * Usage:
 *    selector {
 *        @extend %modal;
 *    }
 */


/*
 * Configuration
 */
$modal-border-color: #ddd;
$modal-max-width: 768px;
$modal-mobile-header: #006699;
$modal-layer: 9000; // Set high z-index to appear above all other content

.has-overlay {
	overflow: hidden;

	> body {
		height: 100%;
		overflow-y: scroll;
	}
}

%modal {
	// Hide initially
	-webkit-transform: translate(0, 100%);
	   -moz-transform: translate(0, 100%);
	     -o-transform: translate(0, 100%);
	    -ms-transform: translate(0, 100%);
	        transform: translate(0, 100%);
	-webkit-transform: translate3d(0, 100%, 0); // iOS
	        transform: translate3d(0, 100%, 0);

	// Maintain a fixed position
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $modal-layer;

	visibility: hidden;
	opacity: 0;

	//color: #222;
	//line-height: 1.3;

	// Show modal when requested
	&:target {

	-webkit-transform: translate(0, 0);
	   -moz-transform: translate(0, 0);
	     -o-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	        transform: translate(0, 0);

		opacity: 1;
		visibility: visible;
	}

	// Internet Explorer 8
	display: none\9;

	&.is-active {
		display: block;
		transform: translate(0, 0);
		opacity: 1;
		visibility: visible;
	}

	// Overwrite IE8 hack for IE9 and IE10
	&:target {
		display: block\9;
	}


	// Content Area
	.modal-inner {
		color: white;
		position: absolute;
		top: 50px;
		left: 50%;
		z-index: 20;
		margin-left: ($modal-max-width / 2) * -1;

		width: $modal-max-width;
		overflow-x: hidden;

		background: #006699;
		box-shadow: 0 2px 6px 0 rgba(51,51,51,0.1);

		> img,
		> video,
		> iframe {
			width: 100%;
			height: auto;
			min-height: 300px;
		}

		> img {
			width: auto;
			max-width: 100%;
		}
	}

	// Header
	header, footer, #modal-label, .modal-label {
		background-color: rgba(255, 255, 255, 0.1);
		padding: 1em;
		text-align: center;

		h2,h3,h4,h5 {
			color: white;
			margin: 0;
		}
	}


	// Content
	.modal-content {
		max-height: 400px;
		max-height: 70vh;
		//padding: 1em .5em;
		overflow-x: hidden;
		overflow-y: auto;

		padding: 2em;

		> * {
			max-width: 100%;
		}

		a, a:visited {
			color: $body-copy-color;

			&:hover, &:focus, &:active {
				color: lighten($green, 9%);
			}

			&:before {
				color: $green;
				border: 1px solid $green;
				border-radius: 50%;
				font-size: 25px;
				margin-right: .5em;
				padding: .25em;
				top: 4px;
			}

			&.error, &.error:before {
				color: $coral;
				cursor: text;
				border-color: $coral;
			}
		}
	}

	.hero {
		padding: .5em;
	}


	// Footer
	footer {

		.link, a { color: white; }

	}


	// A close button
	.modal-close {
		display: block;
		text-indent: -100px;
		overflow: hidden;

		// Background as close
		&:before {
			background: rgba( 0 , 0, 0, .5 );
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 10;

			// Background for overlay – Data URI because of IE8 not supporting rgba
			background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AAAAAMwA0QDNTiUx4gAAAABJRU5ErkJggg==');
		}

		// Actual close button on modal
		&:after {
			content: '\00d7';
			color: white;
			position: absolute;
			top: 55px;
			left: 50%;
			z-index: 20;
			margin-left: ($modal-max-width / 2) - 40;
			border-radius: 2px;
			font-size: 1.2em;
			text-decoration: none;
			text-indent: 0;
			padding: 0 10px;
		}
	}


	// When screen isn't as wide as the modal anymore
	@media screen and (max-width: $modal-max-width + 40) {
		.modal-inner {
			width: auto;
			left: 20px;
			right: 20px;
			margin-left: 0;
		}

		.modal-close {
			left: auto;
			right: 33px;
			margin-left: 0;

			&:after {
				margin-left: 40%;
			}
		}
	}

	// For small screens adjust the modal
	@media screen and (max-width: 30em) {
		-webkit-transform: translate(0, 400px); // Use px to work around Android 2.3 bug
		-webkit-transform: translate3d(0, 100%, 0); // And overwrite px if 3D transforms are supported
		        transform: translate3d(0, 100%, 0);

		-webkit-transition: -webkit-transform .25s ease-in-out, opacity 1ms .25s;
		   -moz-transition:    -moz-transform .25s ease-in-out, opacity 1ms .25s;
		     -o-transition:      -o-transform .25s ease-in-out, opacity 1ms .25s;
		    -ms-transition:     -ms-transform .25s ease-in-out, opacity 1ms .25s;
		        transition:         transform .25s ease-in-out, opacity 1ms .25s;

		display: block;
		height: 100%;
		bottom: auto;

		&:target {
			-webkit-transition: -webkit-transform .25s ease-in-out;
			   -moz-transition:    -moz-transform .25s ease-in-out;
			     -o-transition:      -o-transform .25s ease-in-out;
			    -ms-transition:     -ms-transform .25s ease-in-out;
			        transition:         transform .25s ease-in-out;
		}

		&:before {
			background-color:  $modal-mobile-header;
			background-image: -webkit-gradient(linear, left top, left bottom, from($modal-mobile-header), to(darken($modal-mobile-header, 5%)));
			background-image: -webkit-linear-gradient(top, $modal-mobile-header, darken($modal-mobile-header, 5%));
			background-image:    -moz-linear-gradient(top, $modal-mobile-header, darken($modal-mobile-header, 5%));
			background-image:      -o-linear-gradient(top, $modal-mobile-header, darken($modal-mobile-header, 5%));
			background-image:         linear-gradient(to bottom, $modal-mobile-header, darken($modal-mobile-header, 5%));

			content: '';
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 30;
			height: 3em;
		}

		.modal-inner {
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;

			top: 0;
			left: 0;
			right: 0;
			padding-top: 3em;
			height: 100%;
			overflow: scroll;
			-webkit-box-shadow: none;
			        box-shadow: none;
		}

		.modal-content {
			max-height: none;
		}

		.modal-close {
			right: auto;
			text-decoration: none;

			&:before {
				display: none;
			}

			&:after {
				content: attr(data-close);
				top: 0.4em;
				left: 1em;
				z-index: 40;
				margin-left: 0;
				font-size: 1em;
				padding: 0.5em 1em;
			}
		}
	}

	// For small heights
	@media screen and (max-height: 46em) and (min-width: 30em) {
		.modal-content {
			max-height: 340px;
			max-height: 50vh;
		}
	}

	@media screen and (max-height: 36em) and (min-width: 30em) {
		.modal-content {
			max-height: 265px;
			max-height: 40vh;
		}
	}
}


// Fade in the modal
%modal-fade {
	@media screen and (min-width: 30em) {
		-webkit-transition: opacity 0.4s;
		     -o-transition: opacity 0.4s;
		        transition: opacity 0.4s;
	}


	@extend %modal;
}

.modal {
	@extend %modal-fade;
}
