.pagination {

	&__link {
		background-color: white;
		border: 1px solid #ddd;
		//border-right: none;
		display: inline-block;
		margin-bottom: -1px;
		margin-right: -1px;
		padding: .5em 1em;
		position: relative;
		text-decoration: none;
	}

	&__link:first-child {
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}

	&__link:last-child {
		border-right: 1px solid #ddd;
		border-bottom-right-radius: 2px;
		border-top-right-radius: 2px;
	}

	&__link:hover, &__link:focus {
		background-color: #f5f5f5;
	}

	&__link.is-active,
	&__link.active {
		background-color: #069;
		border-color: #069;
		color: white;
		cursor: default;
		z-index: 1;
	}

	&__link._mind-the-gap {
		margin-right: -6px;
	}


}