.share .svg {
  
  @extend .transition;

  fill: #e1e8ed;
  vertical-align: bottom;
}

.share {
  
  margin-top: .5em;
  .svg--twitter:hover,
  .svg--twitter:focus {
    fill: #55acee;
  }
  
  .svg--facebook:hover,
  .svg--facebook:focus {
    fill: #3B5998;
  }
}
