.time {
	border: 1px solid $border-color-light;
	border-left: transparent;
	border-right: transparent;
	display: block;
	margin: 0 auto 1em;
	text-align: center;

	@include breakpoint( tablet ) {
		border: none;
		text-align: left;
	}
}

.time__hours {
	@include breakpoint( tablet ) {
		display: block; 
	}

}

.event__header {
	margin: 1em auto 0;

	@include breakpoint( tablet ) {
		margin: 0;
	}
}

.event__header__title {
	margin-bottom: .25em;
}