/*------------------------------------*\
    $SVG-ICONS
\*------------------------------------*/
.svg {
    display: inline-block;
    width: 32px;
    height: 32px;
    fill: currentColor;

    &--search {
        width: 16px;
        height: 16px;
        fill: #e9e9e9;
    }

    // Presumes viewbox 0 0 16 16
    &--menu {

        &[viewBox="0 0 32 32"] {
          height: 41px;
          position: absolute;
          width: 41px;
        }

        &[viewBox="0 0 16 16"] {
          height: 24px;
          width: 24px;
        }
    }

    &--user,
    &--bell {
        width: 22px;
        height: 24px;
        position: relative;
    }

    &--bell {
        fill: #ddd;

        &--ring {

            animation: ringing .5s ease-in 3s 4;
            fill: #e2624f;
        }
    }

}


.svg--info {
  fill: #21aabd;
  float: left;
  width: 16px;
  margin-right: .5em;
  position: relative;
}

.svg.svg--activity { float: left; width: 24px; margin-right: .5em;}

@keyframes ringing {
    0% {
        transform: rotate( 0deg );
    }
    25% {
        transform: rotate( 45deg );
    }

    50% {
        transform: rotate( 0deg );
    }

    75% {
        transform: rotate( -45deg );
    }

    100% {
        transform: rotate( 0deg );
    }
}
