/* ================== Utilities! ================== */
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ========================================================================== HTML5 display definitions ========================================================================== */
/* Corrects `block` display not defined in IE6/7/8/9 & FF3. */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

/* Corrects `inline-block` display not defined in IE6/7/8/9 & FF3. */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* Prevents modern browsers from displaying `audio` without controls. Remove excess height in iOS5 devices. */
audio:not([controls]) { display: none; height: 0; }

/* Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4. Known issue: no IE6 support. */
[hidden] { display: none; }

/* ========================================================================== Base ========================================================================== */
/* 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using `em` units. 2. Prevents iOS text size adjust after orientation change, without disabling user zoom. */
html { font-size: 100%; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }

/* Addresses `font-family` inconsistency between `textarea` and other form elements. */
html, button, input, select, textarea { font-family: sans-serif; }

/* Addresses margins handled incorrectly in IE6/7. */
body { margin: 0; }

/* ========================================================================== Links ========================================================================== */
/* Addresses `outline` inconsistency between Chrome and other browsers. */
a:focus { outline: thin dotted; }

/* Improves readability when focused and also mouse hovered in all browsers. people.opera.com/patrickl/experiments/keyboard/test */
a:active, a:hover { outline: 0; }

/* ========================================================================== Typography ========================================================================== */
/* Addresses font sizes and margins set differently in IE6/7. Addresses font sizes within `section` and `article` in FF4+, Chrome, S5. */
h1 { font-size: 2em; margin: 0.67em 0; }

h2 { font-size: 1.5em; margin: 0.83em 0; }

h3 { font-size: 1.17em; margin: 1em 0; }

h4 { font-size: 1em; margin: 1.33em 0; }

h5 { font-size: 0.83em; margin: 1.67em 0; }

h6 { font-size: 0.75em; margin: 2.33em 0; }

/* Addresses styling not present in IE7/8/9, S5, Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/* Addresses style set to `bolder` in FF3+, S4/5, Chrome. */
b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

/* Addresses styling not present in S5, Chrome. */
dfn { font-style: italic; }

/* Addresses styling not present in IE6/7/8/9. */
mark { background: #ff0; color: #000; }

/* Addresses margins set differently in IE6/7. */
p, pre { margin: 1em 0; }

/* Corrects font family set oddly in IE6, S4/5, Chrome. en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improves readability of pre-formatted text in all browsers. */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/* Addresses CSS quotes not supported in IE6/7. */
q { quotes: none; }

/* Addresses `quotes` property not supported in S4. */
q:before, q:after { content: ''; content: none; }

small { font-size: 75%; }

/* Prevents `sub` and `sup` affecting `line-height` in all browsers. gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* ========================================================================== Lists ========================================================================== */
/* Addresses margins set differently in IE6/7. */
dl, menu, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

/* Addresses paddings set differently in IE6/7. */
menu, ol, ul { padding: 0 0 0 40px; }

/* Corrects list images handled incorrectly in IE7. */
nav ul, nav ol { list-style: none; list-style-image: none; }

/* ========================================================================== Embedded content ========================================================================== */
/* 1. Removes border when inside `a` element in IE6/7/8/9, FF3. 2. Improves image quality when scaled in IE7. code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
img { border: 0; /* 1 */ -ms-interpolation-mode: bicubic; /* 2 */ }

/* Corrects overflow displayed oddly in IE9. */
svg:not(:root) { overflow: hidden; }

/* ========================================================================== Figures ========================================================================== */
/* Addresses margin not present in IE6/7/8/9, S5, O11. */
figure { margin: 0; }

/* ========================================================================== Forms ========================================================================== */
/* Corrects margin displayed oddly in IE6/7. */
form { margin: 0; }

/* Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/* 1. Corrects color not being inherited in IE6/7/8/9. 2. Corrects text not wrapping in FF3. 3. Corrects alignment displayed oddly in IE6/7. */
legend { border: 0; /* 1 */ padding: 0; white-space: normal; /* 2 */ *margin-left: -7px; /* 3 */ }

/* 1. Corrects font size not being inherited in all browsers. 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome. 3. Improves appearance and consistency in all browsers. */
button, input, select, textarea { font-size: 100%; /* 1 */ margin: 0; /* 2 */ vertical-align: baseline; /* 3 */ *vertical-align: middle; /* 3 */ }

/* Addresses FF3/4 setting `line-height` on `input` using `!important` in the UA stylesheet. */
button, input { line-height: normal; }

/* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Corrects inability to style clickable `input` types in iOS. 3. Improves usability and consistency of cursor style between image-type `input` and others. 4. Removes inner spacing in IE7 without affecting normal text inputs. Known issue: inner spacing remains in IE6. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ *overflow: visible; /* 4 */ }

/* Re-set default cursor for disabled elements. */
button[disabled], input[disabled] { cursor: default; }

/* 1. Addresses box sizing set to content-box in IE8/9. 2. Removes excess padding in IE8/9. 3. Removes excess padding in IE7. Known issue: excess padding remains in IE6. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ *height: 13px; /* 3 */ *width: 13px; /* 3 */ }

/* 1. Addresses `appearance` set to `searchfield` in S5, Chrome. 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/* Removes inner padding and search cancel button in S5, Chrome on OS X. */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* Removes inner padding and border in FF3+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 1. Removes default vertical scrollbar in IE6/7/8/9. 2. Improves readability and alignment in all browsers. */
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

/* ========================================================================== Tables ========================================================================== */
/* Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
ul, ol { padding: 0; list-style-type: none; }

dd { margin: 0; }

.sidebar ul, .sidebar ol, .commentlist { list-style: none; }

/* proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens) */
p { -webkit-hyphens: auto; -moz-hyphens: auto; -epub-hyphens: auto; hyphens: auto; }

b, strong, .strong { font-weight: bold; }

dfn, em, .em { font-style: italic; }

small, .small { font-size: 75%; }

/* ================== Variables ================== */
/* ================== Tools ================== */
.hide-text { line-height: 0; font-size: 0; color: transparent; }

.shadow { -webkit-box-shadow: 0 2px 2px 0 #555555; -moz-box-shadow: 0 2px 2px 0 #555555; box-shadow: 0 2px 2px 0 #555555; }

.tinsley-gradient, .menu { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #006699), color-stop(100%, #50afdf)); background-image: -webkit-linear-gradient(top, #006699, #50afdf); background-image: -moz-linear-gradient(top, #006699, #50afdf); background-image: -o-linear-gradient(top, #006699, #50afdf); background-image: -ms-linear-gradient(top, #006699, #50afdf); background-image: linear-gradient(top, #006699, #50afdf); }

.align-center { text-align: center; }

.box { background: #dceef5; border-left: 3px solid #a2d4ee; margin: 0 auto 1em; text-align: center; width: 100%; }
.box:hover, .box:active, .box:focus { border-left: 3px solid #77c1e6; }

/* ================== Clearfix */
.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

/* ================== Texture and Depth */
.inset { -webkit-box-shadow: inset 0 0 2px 0 rgba(68, 68, 68, 0.8); -moz-box-shadow: inset 0 0 2px 0 rgba(68, 68, 68, 0.8); box-shadow: inset 0 0 2px 0 rgba(68, 68, 68, 0.8); }

/* ================== CSS Transitions ================== */
/* @include transition(all,2s,ease-out); */
/* ================== Modules ================== */
@font-face { font-family: 'OpenSansLight'; src: url("fonts/sans/OpenSans-Light-webfont.eot"); src: url("fonts/sans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sans/OpenSans-Light-webfont.woff") format("woff"), url("fonts/sans/OpenSans-Light-webfont.ttf") format("truetype"), url("fonts/sans/OpenSans-Light-webfont.svg#OpenSansLight") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'OpenSansRegular'; src: url("fonts/sans/OpenSans-Regular-webfont.eot"); src: url("fonts/sans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sans/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/sans/OpenSans-Regular-webfont.ttf") format("truetype"), url("fonts/sans/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'OpenSansSemibold'; src: url("fonts/sans/OpenSans-Semibold-webfont.eot"); src: url("fonts/sans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sans/OpenSans-Semibold-webfont.woff") format("woff"), url("fonts/sans/OpenSans-Semibold-webfont.ttf") format("truetype"), url("fonts/sans/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg"); font-weight: normal; font-style: normal; }

/* ================== Typography ================== */
body { font-size: 18px; }

/* ================== Heading Styles */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 { font-family: Georgia, sans-serif; text-rendering: optimizelegibility; font-weight: 500; /* 
if you're going to use webfonts, be sure to check your weights 
http://css-tricks.com/watch-your-font-weight/
*/ /* removing text decoration from all headline links */ }
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a { text-decoration: none; }

h1, .h1 { font-size: 2.5em; line-height: 1.333em; }

h2, .h2 { font-size: 1.75em; line-height: 1.4em; margin-bottom: 0.375em; }

h3, .h3 { font-size: 1.125em; }

h4, .h4 { font-size: 1.1em; font-weight: 700; }

h5, .h5 { font-size: 0.846em; line-height: 2.09em; text-transform: uppercase; letter-spacing: 2px; }

/* ==================
* Larger Mobile Devices
* ================== */
/* ================== Tablets and Small Laptops ================== */
@media only screen and (min-width: 48em) { body { font-size: 14px; } }
/* ================== Widescreen Monitors ================== */
/* ================== Large Viewing Size ================== */
/* ================== Header ================== */
header[role="banner"] { background: white; }
header[role="banner"] .title { color: white; line-height: 0; margin-top: -20px; padding: 0 .5em; text-decoration: none; }
header[role="banner"] .title:hover, header[role="banner"] .title:active, header[role="banner"] .title:focus { color: white; }

.tinsley-gradient, .menu { background: #21348a; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */ background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxMzQ4YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iIzMzNjZjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzY2Y2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(left, #21348a 0%, #3366cc 42%, #3366cc 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, right top, color-stop(0%, #21348a), color-stop(42%, #3366cc), color-stop(100%, #3366cc)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(left, #21348a 0%, #3366cc 42%, #3366cc 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(left, #21348a 0%, #3366cc 42%, #3366cc 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(left, #21348a 0%, #3366cc 42%, #3366cc 100%); /* IE10+ */ background: linear-gradient(to right, #21348a 0%, #3366cc 42%, #3366cc 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21348a', endColorstr='#3366cc',GradientType=1 ); /* IE6-8 */ }

/* ==================
* Navigation
* ================== */
.menu { border-top: 2px solid #91cdeb; box-shadow: 0 2px 2px 0 #555555; color: white; font-family: 'OpenSansLight'; font-weight: bold; line-height: 2; margin-bottom: 1em; /* ================== Menu Icons */ /* ================== Top Level Menu Items */ /* end .menu ul li */ /* highlight current page */ /* end current highlighters */ }
.menu .menu-link { color: white; display: block; padding: 0 1em; text-align: right; text-decoration: none; }
.menu input[type='submit'] { background: none; border: none; color: white; }
.menu input[type='submit']:hover, .menu input[type='submit']:focus, .menu input[type='submit']:active { color: #e2624f; }
.menu ul { max-width: 1140px; margin: 0 auto; width: 90%; }
.menu [class^="icon-"]:before, .menu [class*=" icon-"]:before { color: #5882d5; font-weight: normal; position: relative; }
.menu .icon-calendar:before { margin-right: -0.8em; top: 1px; }
.menu .icon-book:before, .menu .icon-code:before, .menu .icon-grid-view:before, .menu .icon-help:before, .menu .icon-info:before, .menu .icon-pencil:before, .menu .icon-keyboard:before, .menu .icon-marker:before, .menu .icon-user:before, .menu .icon-wifi:before, .menu .icon-info:before, .menu .icon-library:before, .menu .icon-rocket:before, .menu .icon-mobile:before { margin-right: -12px; }
.menu .icon-keyboard:before, .menu .icon-code:before, .menu .icon-help:before, .menu .icon-home:before, .menu .icon-grid-view:before, .menu .icon-user:before, .menu .icon-wifi:before, .menu .icon-info:before, .menu .icon-library:before, .menu .icon-rocket:before, .menu .icon-pencil:before { top: 1px; }
.menu li { cursor: pointer; display: block; position: relative; z-index: 2; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; /* ================== First Sub Menu */ /* showing sub-menus */ }
.menu li:hover, .menu li:focus, .menu li:active { color: white; }
.menu li:hover:before, .menu li:focus:before, .menu li:active:before { color: #50afdf; }
.menu li:hover:first-child, .menu li:focus:first-child, .menu li:active:first-child { border-left: none; }
.menu li:first-child { border-left: none; }
.menu li a { color: #d6e0f5; text-decoration: none; padding: 0 1em; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; /*
you can use hover styles here even though this size
has the possibility of being a mobile device.
*/ }
.menu li a:hover, .menu li a:focus, .menu li a:active { color: white; }
.menu li:first-child { margin-left: 0; }
.menu li:last-child { margin-right: 0; border-right: none; border-bottom: none; }
.menu li ul.sub-menu { display: none; z-index: 1000; /* highlight sub-menu current page */ }
.menu li ul.sub-menu li { background: white; border-bottom: 2px solid #555555; text-align: left; /*
if you need to go deeper, go nuts
just remember deeper menus suck
for usability. k, bai.
*/ }
.menu li ul.sub-menu li a { border-left: 6px solid #91cdeb; color: #555555; display: block; font-weight: normal; margin: 0 auto; padding: 0 .5em; }
.menu li ul.sub-menu li a:hover, .menu li ul.sub-menu li a:focus, .menu li ul.sub-menu li a:active, .menu li ul.sub-menu li a.active { border-left: 6px solid #1fbaf2; color: #50afdf; }
.menu li ul.sub-menu li:last-child a { border-bottom: 0; }
.menu li.active > ul { top: auto; display: block; }
.menu li.has-subnav .icon-arrow-right { float: right; margin-right: 1em; }
.menu li.has-subnav ul.children { z-index: 1; display: none; }
.menu li.has-subnav ul.children li:first-child { border-top: 1px solid #555555; }
.menu li.has-subnav ul.children.active { display: block; }
.menu li.current-menu-item:before, .menu li.current_page_item:before, .menu li.current-page-ancestor:before { color: #50afdf; }
.menu li.current-menu-item a, .menu li.current_page_item a, .menu li.current-page-ancestor a { color: #50afdf; }

/* end .menu */
.persistent { position: fixed; left: 0; right: 0; top: 0; z-index: 2; }

/* ================== Mobile Menu Toggle */
.no-js .menu-link { display: none; }

.js .menu ul { display: none; }

.no-js .menu ul { display: block; }

/* ================== Form ================== */
.search { display: none; }

/* ==================
* Larger Mobile Devices
* ================== */
/* ================== Tablets and Small Laptops ================== */
@media only screen and (min-width: 48em) { #logo { background: transparent url("brand/polar-logo.png") no-repeat -112px -58px; background-size: 500px 101px; width: 388px; height: 50px; margin: 71px auto auto 112px; }
  .nsu { position: absolute; background: transparent url("brand/polar-logo.png") no-repeat 0 0; background-size: 500px 101px; width: 105px; height: 99px; margin-top: 13px; }
  /* ================== Navigation ================== */
  /* ================== Mobile Menu Toggle */
  .js .menu ul { display: block; }
  .menu { font-size: 16px; /* ================== Top Level Menu Items */ /* end .menu ul li */ /* highlight current page */ /* end current highlighters */ }
  .menu .menu-link { display: none; }
  .menu li { position: relative; display: inline-block; /* ================== First Sub Menu */ /* showing sub-menus */ }
  .menu li ul.sub-menu { position: absolute; /* highlight sub-menu current page */ }
  .menu li ul.sub-menu li { text-indent: 0; min-width: 15em; /*
if you need to go deeper, go nuts
just remember deeper menus suck
for usability. k, bai.
*/ }
  .menu li.active > ul { top: auto; display: block; }
  .menu .last > li .sub-menu li { min-width: 7em; }
  .menu li.has-subnav a[href="#parent"]:after { font-family: icomoon; color: #91CDEB; content: "o"; float: right; }
  .menu li.has-subnav ul.children { z-index: 1; display: none; width: auto; }
  .menu li.has-subnav ul.children a { border-left: 6px solid #b8dff2; }
  .menu li.has-subnav ul.children li:first-child { border-top: 1px solid #555555; }
  .menu li.has-subnav ul.children li:last-child { border-bottom: none; }
  .menu li.has-subnav ul.children.active { display: block; }
  /* end .menu */
  .menu > ul > li { border-left: 3px solid rgba(80, 175, 223, 0.2); padding: 0 0 0 1em; }
  .menu > ul > li:first-child { padding-left: 0; }
  .menu > ul > li:hover, .menu > ul > li:active, .menu > ul > li:focus { border-left: 3px solid #50afdf; }
  .search { display: block; float: right; line-height: 1; margin-top: -2.6em; }
  .search input { background-color: #eeeeee; border: none; color: #555555; width: 100%; box-shadow: 0 0 2px 0 #555555; }
  .search span, .search .icon-search:before { text-shadow: none; color: #555555; }
  .search .icon-search:before { position: relative; font-size: 25px; margin-right: -6px; top: 10px; }
  .no-js .search > span { display: none; }
  .js .search > span { position: absolute; right: 0; cursor: pointer; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); opacity: 0.2; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
  .js .search > span:hover, .js .search > span:active, .js .search > span:focus { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
  .js .search > span.active { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
  .no-js .options { display: none; }
  .js .options { display: none; color: #555555; width: 100%; }
  .js .options ul li { text-align: right; cursor: pointer; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
  .js .options ul li:hover, .js .options ul li:active, .js .options ul li:focus { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
  .js .options ul ul { margin-right: 10px; }
  .js .options .h3 { font-weight: bold; }
  .options > ul { float: right; margin-top: 2.5em; }
  .options ul li.active { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
  .options li.has-subnav > ul { display: none; } }
.no-js .menu li:hover > ul { display: block; }

.no-js .menu ul.children:hover { display: block; }

/* ================== Widescreen Monitors ================== */
/* ================== Retina, High PPI Screens ================== */
/* ================== Backward Compatibility ================== */
/* ================== Modernizr-dependent fixes */
.no-backgroundsize #logo { background: transparent url("brand/logo(small).png") 50% 50% no-repeat; width: 500px; height: 118px; margin: 0 auto auto 0; }

.no-cssgradients .tinsley-gradient, .no-cssgradients .menu { background: #006699 url("sprites/sprites.gif") repeat-x left 100%; }

#footer.footer { background: #3366CC; border-top: none; height: 100%; }
#footer.footer .contact-ribbon { background: #21348a; box-shadow: 0 1px 10px #000; height: 60px; left: 0; position: relative; right: 0; right: 0; }
#footer.footer img { width: 100%; }
#footer.footer .social-menu { font-size: 2em; margin-top: 12px; }

.portlet { background: white; margin-bottom: 1em; /* ================== Portlet Header ================== */ /* ================== Content Type: Information */ /* ================== Content Type: Article / Blog / Main */ /* ================== Content Type: Event */ /* ================== Content Type: Resource */ }
.portlet header { background: #555555 url("textures/noise.png"); border-bottom: 2px solid #50afdf; border-left: 4px solid #6c6c6c; color: white; padding: 0 1em; }
.portlet header a { color: white; }
.portlet header [class^="icon-"]:before, .portlet header [class*=" icon-"]:before { color: rgba(85, 85, 85, 0.2); float: right; line-height: 1.5; text-shadow: 1px 2px 6px #555555, 0 0 0 black, 1px 2px 6px #555555; }
.portlet header .icon-mail:before { margin-top: 2px; }
.portlet .h2, .portlet .h3, .portlet .h4, .portlet .h5, .portlet .h6 { display: inline; }
.portlet .featured-image { float: left; margin: 1em 1em 1em 0; padding: .2em .2em 0; }
.portlet .icon-help { float: right; }
.portlet .icon-help:before { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }
.portlet .icon-help:hover:before, .portlet .icon-help:focus:before, .portlet .icon-help:active:before { color: white; }
.portlet .information { background: #87bfbd url("textures/noise.png"); border-left: 6px solid #b9dad8; }
.portlet .information [class^="icon-"]:before, .portlet .information [class*=" icon-"]:before { color: rgba(135, 191, 189, 0.2); text-shadow: 1px 2px 6px #87bfbd, 0 0 0 black, 1px 2px 6px #87bfbd; }
.portlet .post-content .featured-image { background: #555555 url("textures/noise.png"); }
.portlet .article, .portlet .default { background: #50afdf url("textures/noise.png"); border-left: 6px solid #91cdeb; }
.portlet .article [class^="icon-"]:before, .portlet .article [class*=" icon-"]:before, .portlet .default [class^="icon-"]:before, .portlet .default [class*=" icon-"]:before { color: rgba(80, 175, 223, 0.2); text-shadow: 1px 2px 6px #50afdf, 0 0 0 black, 1px 2px 6px #50afdf; }
.portlet .article .icon-help:hover:before, .portlet .article .icon-help:focus:before, .portlet .article .icon-help:active:before, .portlet .default .icon-help:hover:before, .portlet .default .icon-help:focus:before, .portlet .default .icon-help:active:before { color: white; }
.portlet .post-content.article { background: none; }
.portlet .post-content.article .featured-image { background: #50afdf url("textures/noise.png"); }
.portlet .event { background: #e2624f url("textures/noise.png"); }
.portlet .event [class^="icon-"]:before, .portlet .event [class*=" icon-"]:before { color: rgba(226, 98, 79, 0.2); text-shadow: 1px 2px 6px #e2624f, 0 0 0 black, 1px 2px 6px #e2624f; }
.portlet .event .icon-help:hover:before, .portlet .event .icon-help:focus:before, .portlet .event .icon-help:active:before { color: white; }
.portlet header.event { border-bottom: 2px solid #555555; border-left: 6px solid #e88576; }
.portlet .resource { background: #87bfbd url("textures/noise.png"); }
.portlet .resource [class^="icon-"]:before, .portlet .resource [class*=" icon-"]:before { color: rgba(135, 191, 189, 0.2); text-shadow: 1px 2px 6px #87bfbd, 0 0 0 black, 1px 2px 6px #87bfbd; }
.portlet .resource .icon-help:hover:before, .portlet .resource .icon-help:focus:before, .portlet .resource .icon-help:active:before { color: white; }
.portlet .post-content.resource { background: none; }
.portlet .post-content.resource .featured-image { background: #87bfbd url("textures/noise.png"); }
.portlet .post-content.event { background: none; }
.portlet .post-content.event .featured-image { background: #e2624f url("textures/noise.png"); }

.portlet > article h3 { line-height: 1; margin: .5em auto; }
.portlet > article .excerpt { margin: 0; }

.js .help { display: none; margin-top: -0.5em; opacity: 0; padding-bottom: 1.5em; }
.js .help .icon-info { color: #555555; content: "I"; font-family: icomoon; font-size: 2em; line-height: 1.5; }
.js .help p { float: right; margin: 0 0; width: 85%; }

.portlet.standout { background: white; color: white; }
.portlet.standout .icon-help { color: rgba(85, 85, 85, 0.7); cursor: pointer; font-size: 1em; margin-top: 2px; padding-right: .5em; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }
.portlet.standout .icon-help:hover:before, .portlet.standout .icon-help:active:before, .portlet.standout .icon-help:focus:before { color: #50afdf; }
.portlet.standout header { border-left: 6px solid #91cdeb; border-bottom: none; }
.portlet.standout .wrap { color: white; margin-top: -0.8em; width: 98%; }
.portlet.standout li { border-bottom: 2px solid #666; font-size: 1.125em; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.portlet.standout li:last-child { border-bottom: none; }
.portlet.standout li a { border-left: 3px solid rgba(80, 175, 223, 0.2); color: #555555; padding: 0 .5em; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.portlet.standout li a:hover, .portlet.standout li a:active, .portlet.standout li a:focus { border-left: 3px solid #50afdf; color: #50afdf; }

.community { padding-bottom: 1.7em; }

.community a.academic, .community a.public { background: #5cacd3 url("textures/noise.png"); color: white; font-size: 1.125em; width: 50%; text-align: center; }
.community a.academic:hover, .community a.public:hover { background: #80bedd; color: white; }
.community a.academic:active, .community a.academic:focus, .community a.public:active, .community a.public:focus { color: white; }

.community > .academic { float: left; margin-left: 0; }

/*.community {
 &:after { background: url('sprites/channels.png') no-repeat -4px -2px; content: ""; height:44px; left: 0; position: absolute; width:268px; margin-top: 2em; }

}

.community.research { &:after { background: url('sprites/channels.png') no-repeat -294px -3px; width:223px; height: 51px; }
}

.community.recreation { &:after { background: url('sprites/channels.png') no-repeat -536px -2px; width: 252px; height: 44px; position: absolute; content: ""; left: auto; right: 0; }
}
.community > .public.active ~ .community > .academic:after { background: none;

}*/
.public { float: right; }

.community a.active { background: #80bedd; }

.community > .icon-library { color: white; left: 45%; font-size: 1.5em; position: absolute; margin-top: -2px; }

.no-js .icon-help[data-info]:hover:after, .no-js .icon-help[data-info]:active:after, .no-js .icon-help[data-info]:focus:after { content: attr(data-info); position: absolute; width: 100px; height: 100px; z-index: 1; }

/* ================== Portlet Sub Menu ================== */
.js .portlet.widget_nav_menu header { cursor: pointer; }

.js .portlet .menu.active { display: block; }

.js .portlet .menu.inactive { display: none; }

/* ==================
* Larger Mobile Devices
* ================== */
/* ================== Tablets and Small Laptops ================== */
/* ================== Widescreen Monitors ================== */
/* ================== Large Viewing Size ================== */
/* ================== Retina, High PPI Screens ================== 
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {}
*/
/* ================== Backward Compatibility ================== */
/* ================== Modernizr Dependent */
.no-textshadow .portlet [class^="icon-"]:before, .no-textshadow .schedule [class*=" icon-"]:before { color: white; }

.js section#carousel { background: #555555 url("textures/noise.png"); box-shadow: inset 0 2px 2px 0 #222; margin-bottom: 3em; /*&:before { background: transparent url('sprites/carousel-arrow.png') no-repeat; background-size: 206px 33px; content: ""; height: 33px; margin-left: -16px; margin-top: -35px; position: absolute; width: 206px;
}*/ }

.js .feed { background: #555555 url("textures/noise.png"); box-shadow: inset 0 2px 5px 1px #222; color: white;   /*&:before { background: transparent url('sprites/events.png') no-repeat 0 -3px; content: ""; height: 34px; left: 1em; margin-top: .5em; position: absolute; width: 176px;
 }*/ }
.js .feed a { color: white; text-decoration: underline; }
.js .feed li { margin: .5em auto; }
.js .feed .title { border-bottom: 1px solid #555; list-style-type: decimal; margin-left: 2em; }
.js .feed .date { color: white; }

/* Flexslider SLIDER STYLES */
/* ========== Flexslider Slider
This slider has been customized, tinsleyfied,
and is ready to be plugged into Sherman Library
Web Projects as needed.======================*/
/* Browser Resets */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus { outline: none; }

.slides, .flex-control-nav, .flex-direction-nav { margin: 0; padding: 0; list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider { margin: 0; padding: .5em; }

.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { width: 100%; display: block; }

/* Clearfix for the .slides element */
.slides:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

html[xmlns] .slides { display: block; }

* html .slides { height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider { background: transparent; position: relative; zoom: 1; }

.flex-viewport { max-height: 500px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease; box-shadow: 0 2px 2px 0 #111; }

.loading .flex-viewport { max-height: 300px; }

.flexslider .slides { zoom: 1; }

.carousel li { margin-right: 5px; }

/* Custom Captions */
.flex-caption { background: rgba(51, 51, 51, 0.8); position: absolute; right: 0; bottom: -24px; left: 0; padding: 0.5em; color: white; font-weight: 500; font-size: 1em; line-height: 1; }

/* Direction Nav */
.flex-direction-nav { *height: 0; }

.flex-direction-nav a { opacity: .8; width: 30px; height: 30px; display: block; background: url(sprites/bg_direction_nav.png) no-repeat 0 0; position: absolute; bottom: -2.5em; cursor: pointer; text-indent: -9999px; -webkit-transition: all .3s ease; }

.flex-direction-nav .flex-next { background-position: 100% 0; right: 0; }

.flex-direction-nav .flex-prev { right: 2em; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }

.flex-direction-nav .flex-disabled { opacity: .8; cursor: default; }

/* Control Nav */
.flex-control-nav { width: 100%; position: absolute; bottom: -40px; text-align: center; }

.flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }

.flex-control-paging li a { width: 11px; height: 11px; display: block; background: #666; background: rgba(0, 0, 0, 0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover { background: #333; background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active { background: #000; background: rgba(0, 0, 0, 0.9); cursor: default; }

.flex-control-thumbs { margin: 5px 0 0; position: static; overflow: hidden; }

.flex-control-thumbs li { width: 25%; float: left; margin: 0; }

.flex-control-thumbs img { width: 100%; display: block; opacity: .7; cursor: pointer; }

.flex-control-thumbs img:hover { opacity: 1; }

.flex-control-thumbs .flex-active { opacity: 1; cursor: default; }

.login { color: white; margin: 1em auto; padding: 0.5em; box-shadow: 0 2px 2px 0 #555555; }
.login a.icon-help { color: white; font-size: 1.1428em; text-decoration: none; text-shadow: 0 2px 2px rgba(85, 85, 85, 0.5); }
.login h4 { color: white; font-size: 1em; line-height: 1; text-shadow: 0 2px 2px rgba(85, 85, 85, 0.5); }
.login input[type="text"], .login input[type="password"] { display: block; width: 100%; }
.login input[type=submit] { background: transparent url("textures/noise.png"); border: none; box-shadow: 1px 1px 2px 0 #555555; color: white; font-size: 1.5em; margin-right: 2px; margin-top: 1em; }
.login .shark-logo { background: transparent url("brand/shark-logo(2x).png") no-repeat; }

.js p#login-error { display: none; }

/* ================== Each login form on the "quad-screen" has a certain color scheme. Instead of drafting a totally custom class, let's make a reusable gradient. The form markup might look like this:
 <div id="browardform" class="login public-gradient"; */
/* ================== Tinsley Gradient Commented out because it's already included in _mixins.scss */
/* ================== Public (Broward) Gradient */
.public-gradient { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #336d46), color-stop(100%, #428c5a)); background-image: -webkit-linear-gradient(top, #336d46, #428c5a); background-image: -moz-linear-gradient(top, #336d46, #428c5a); background-image: -o-linear-gradient(top, #336d46, #428c5a); background-image: -ms-linear-gradient(top, #336d46, #428c5a); background-image: linear-gradient(top, #336d46, #428c5a); }

/* ================== HPD Gradient */
.HPD-gradient { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #74a3ff), color-stop(100%, #a2c1ff)); background-image: -webkit-linear-gradient(top, #74a3ff, #a2c1ff); background-image: -moz-linear-gradient(top, #74a3ff, #a2c1ff); background-image: -o-linear-gradient(top, #74a3ff, #a2c1ff); background-image: -ms-linear-gradient(top, #74a3ff, #a2c1ff); background-image: linear-gradient(top, #74a3ff, #a2c1ff); }

/* ================== UNS Gradient */
.UNS-gradient { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5ab27), color-stop(100%, #f7bc53)); background-image: -webkit-linear-gradient(top, #f5ab27, #f7bc53); background-image: -moz-linear-gradient(top, #f5ab27, #f7bc53); background-image: -o-linear-gradient(top, #f5ab27, #f7bc53); background-image: -ms-linear-gradient(top, #f5ab27, #f7bc53); background-image: linear-gradient(top, #f5ab27, #f7bc53); }

/* ================== Backward Compatibility ================== */
.no-cssgradients .public-gradient { background: #336d46 url("sprites/public-sprite.png") repeat-x left 100%; }
.no-cssgradients .HPD-gradient { background: #74a3ff url("sprites/alum-sprite.png") repeat-x left 100%; }
.no-cssgradients .UNS-gradient { background: #f5ab27 url("sprites/uns-sprite.png") repeat-x left 100%; }

.ask-badge [class^="icon-"]:before, .ask-badge [class*=" icon-"]:before { display: block; font-size: 2em; margin-bottom: .8em; margin-top: .2em; text-align: center; }
.ask-badge span { cursor: pointer; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }
.ask-badge span:hover, .ask-badge span:active, .ask-badge span:focus { color: #87bfbd; }
.ask-badge span.active { color: #87bfbd; }

.ask-badge ~ footer { border-top: 2px solid #444; }

.no-textshadow .ask-badge [class^="icon-"]:before, .no-textshadow .ask-badge [class*=" icon-"]:before { color: #555555; }
.no-textshadow .ask-badge span.active { color: #87bfbd; }

.alert { border-radius: .366em; color: #555555; padding: 0 .5em; border: 1px solid #cc6; line-height: 1; margin-bottom: 14px; position: relative; text-align: left; }
.alert p { margin: .5em auto; }

.alert--notice { background: #ffff7f; }

.alert--fixed { position: absolute; left: 0; right: 0; }

.lib-success { display: block; line-height: 1.5em; margin: -0.5em 0 1.6em 0; padding: 1em 1.6em; background: #b2ff7f; border: 1px solid #8acc66; text-align: left; color: #444; }

.lib-alert { display: block; line-height: 1.5em; margin: -0.5em 0 1.6em 0; padding: 1em 1.6em; background: #ffff7f; border: 1px solid #cc6; text-align: left; color: #444; }

.lib-error { display: block; line-height: 1.5em; margin: -0.5em 0 1.6em 0; padding: 1em 1.6em; background: #ff7f7f; border: 1px solid #cc6666; text-align: left; color: #444; }

.lib-error a { color: #841b1b; }

.lib-note { display: block; line-height: 1.5em; margin: -0.5em 0 1.6em 0; padding: 1em 1.6em; background: #7fc1ff; border: 1px solid #6694cc; text-align: left; color: #444; }

.lib-error a { color: #154e96; }

.lib-button, .lib-button-small, .lib-button-wide { background: #0090D2; background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #52a8e8), color-stop(1, #2e76cf)); background: -moz-linear-gradient(center top, #52a8e8 20%, #2e76cf 100%); border: 1px solid #4081af; border-bottom-color: #20559a; border-radius: 4px; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 0 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.29); color: white; display: inline-block; font-weight: normal; text-decoration: none; cursor: pointer; }
.lib-button a, .lib-button-small a, .lib-button-wide a { color: #d6e0f5; }

.lib-button-grey, .lib-button-small-grey { background: #eee; background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))); background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); background: linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); border: 1px solid #aaa; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-radius: .25em; color: #444; display: inline-block; font-weight: bold; text-decoration: none; text-shadow: 0 1px rgba(255, 255, 255, 0.75); cursor: pointer; margin-bottom: 1.25em; }

.lib-button, .lib-button-grey { padding: .5em 1.4em; font-size: 1.3em; line-height: 1.7em; }

.lib-button-small, .lib-button-small-grey { padding: .333em .75em; font-size: 1em; line-height: 1.3125em; }

.lib-button-wide { font-size: 1.2em; line-height: 1.3125em; padding: .333em 0; text-align: center; width: 100%; }

/* ================== Icon Font ================== */
@font-face { font-family: 'icomoon'; src: url("fonts/icons/icomoon.eot"); src: url("fonts/icons/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icons/icomoon.woff") format("woff"), url("fonts/icons/icomoon.svg#icomoon") format("svg"), url("fonts/icons/icomoon.ttf") format("truetype"); font-weight: normal; font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before { font-family: 'icomoon'; font-style: normal; speak: none; font-weight: normal; -webkit-font-smoothing: antialiased; line-height: 0; position: relative; }

.icon-arrow-right-2:before { content: "q"; }

.icon-book:before { content: "+"; }

.icon-books:before { content: ","; }

.icon-bubbles:before { content: "7"; }

.icon-calendar:before { content: "P"; }

.icon-cancel:before { content: "k"; }

.icon-cancel-2:before { content: "l"; }

.icon-checkmark:before { content: "m"; }

.icon-chrome:before { content: "E"; }

.icon-clock:before { content: "M"; }

.icon-code:before { content: "F"; }

.icon-cog:before { content: "]"; }

.icon-comments:before { content: "V"; }

.icon-ie:before { content: "C"; }

.icon-facebook:before { content: "u"; }

.icon-facebook-2:before { content: "v"; }

.icon-feed:before { content: "|"; }

.icon-film:before { content: "\'"; }

.icon-firefox:before { content: "D"; }

.icon-happy:before { content: "e"; }

.icon-help:before { content: "i"; }

.icon-help-2:before { content: "{i}"; }

.icon-home:before { content: "\21"; }

.icon-info:before { content: "j"; }

.icon-keyboard:before { content: "4"; }

.icon-key:before { content: "Y"; }

.icon-leaf:before { content: "?"; }

.icon-library:before { content: "-"; }

.icon-locked:before { content: "["; }

.icon-mail:before { content: "J"; }

.icon-marker:before { content: "K"; }

.icon-map:before { content: "3"; }

.icon-twitter:before { content: "w"; }

.icon-rss:before { content: "x"; }

.icon-mobile:before { content: "Q"; }

.icon-neutral:before { content: "g"; }

.icon-office:before { content: "\""; }

.icon-pencil:before { content: "H"; }

.icon-phone:before { content: "I"; }

.icon-play:before { content: "&"; }

.icon-plus:before { content: "o"; }

.icon-rocket:before { content: "_"; }

.icon-safari:before { content: "A"; }

.icon-search:before { content: "X"; }

.icon-smiley:before { content: "f"; }

.icon-stats:before { content: ">"; }

.icon-thumbs-up:before { content: "d"; }

.icon-unlocked:before { content: "Z"; }

.icon-user:before { content: "\2190"; }

.icon-users:before { content: "\3b"; }

.icon-wifi:before { content: "*"; }

.icon-grid-view:before { content: "c"; }

.hint { position: relative; display: inline-block;   /**
	 * tooltip arrow
	 */   /**
	 * tooltip body
	 */ }

.hint:before, .hint:after { position: absolute; opacity: 0; z-index: 1000000; pointer-events: none; -webkit-transition: 0.3s ease; -moz-transition: 0.3s ease; }

.hint:hover:before, .hint:hover:after { opacity: 1; }

.hint:before { content: ''; position: absolute; background: transparent; border: 6px solid transparent; z-index: 1000001; }

.hint:after { content: attr(data-hint); background: #383838; color: white; text-shadow: 0 -1px 0px black; padding: 8px 10px; font-size: 12px; line-height: 12px; white-space: nowrap; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); }

/** source: hint-position.scss  Defines the positoning logic for the tooltips.  Classes added: 	1) hint--top 	2) hint--bottom 	3) hint--left 	4) hint--right */
/** set default color for tooltip arrows */
.hint--top:before { border-top-color: #383838; }

.hint--bottom:before { border-bottom-color: #383838; }

.hint--left:before { border-left-color: #383838; }

.hint--right:before { border-right-color: #383838; }

/** top tootip */
.hint--top:before { margin-bottom: -12px; }

.hint--top:after { margin-left: -18px; }

.hint--top:before, .hint--top:after { bottom: 100%; left: 50%; }

.hint--top:hover:before, .hint--top:hover:after { -webkit-transform: translateY(-8px); -moz-transform: translateY(-8px); transform: translateY(-8px); }

/** bottom tootip */
.hint--bottom:before { margin-top: -12px; }

.hint--bottom:after { margin-left: -18px; }

.hint--bottom:before, .hint--bottom:after { top: 100%; left: 50%; }

.hint--bottom:hover:before, .hint--bottom:hover:after { -webkit-transform: translateY(8px); -moz-transform: translateY(8px); transform: translateY(8px); }

/** right tootip */
.hint--right:before { margin-left: -12px; margin-bottom: -6px; }

.hint--right:after { margin-bottom: -14px; }

.hint--right:before, .hint--right:after { left: 100%; bottom: 50%; }

.hint--right:hover:before, .hint--right:hover:after { -webkit-transform: translateX(8px); -moz-transform: translateX(8px); transform: translateX(8px); }

/** left tootip */
.hint--left:before { margin-right: -12px; margin-bottom: -6px; }

.hint--left:after { margin-bottom: -14px; }

.hint--left:before, .hint--left:after { right: 100%; bottom: 50%; }

.hint--left:hover:before, .hint--left:hover:after { -webkit-transform: translateX(-8px); -moz-transform: translateX(-8px); transform: translateX(-8px); }

/** source: hint-color-types.scss  Contains tooltips of various types based on color differences.  Classes added: 	1) hint--error 	2) hint--warning 	3) hint--info 	4) hint--success 	 */
/** Error */
.hint--error:after { background-color: #b34e4d; text-shadow: 0 -1px 0px #5a2626; }

.hint--error.hint--top:before { border-top-color: #b34e4d; }

.hint--error.hint--bottom:before { border-bottom-color: #b34e4d; }

.hint--error.hint--left:before { border-left-color: #b34e4d; }

.hint--error.hint--right:before { border-right-color: #b34e4d; }

/** Warning */
.hint--warning:after { background-color: #c09854; text-shadow: 0 -1px 0px #6d5228; }

.hint--warning.hint--top:before { border-top-color: #c09854; }

.hint--warning.hint--bottom:before { border-bottom-color: #c09854; }

.hint--warning.hint--left:before { border-left-color: #c09854; }

.hint--warning.hint--right:before { border-right-color: #c09854; }

/** Info */
.hint--info:after { background-color: #3986ac; text-shadow: 0 -1px 0px #193c4c; }

.hint--info.hint--top:before { border-top-color: #3986ac; }

.hint--info.hint--bottom:before { border-bottom-color: #3986ac; }

.hint--info.hint--left:before { border-left-color: #3986ac; }

.hint--info.hint--right:before { border-right-color: #3986ac; }

/** Success */
.hint--success:after { background-color: #458746; text-shadow: 0 -1px 0px #1a331a; }

.hint--success.hint--top:before { border-top-color: #458746; }

.hint--success.hint--bottom:before { border-bottom-color: #458746; }

.hint--success.hint--left:before { border-left-color: #458746; }

.hint--success.hint--right:before { border-right-color: #458746; }

/** source: hint-always.scss  Defines a persisted tooltip which shows always.  Classes added: 	1) hint--always 	 */
.hint--always:after, .hint--always:before { opacity: 1; }

.hint--always.hint--top:after, .hint--always.hint--top:before { -webkit-transform: translateY(-8px); -moz-transform: translateY(-8px); transform: translateY(-8px); }

.hint--always.hint--bottom:after, .hint--always.hint--bottom:before { -webkit-transform: translateY(8px); -moz-transform: translateY(8px); transform: translateY(8px); }

.hint--always.hint--left:after, .hint--always.hint--left:before { -webkit-transform: translateX(-8px); -moz-transform: translateX(-8px); transform: translateX(-8px); }

.hint--always.hint--right:after, .hint--always.hint--right:before { -webkit-transform: translateX(8px); -moz-transform: translateX(8px); transform: translateX(8px); }

/* ================== Foundation ================== */
/* ================== Load here only the most basic styles.*/
/* ====================== * Foundational Styles ====================== */
/* ====================== * Be considerate of very small screens. */
/* ================== General Styles ================== */
body { background: rgba(80, 175, 223, 0.1); color: #555555; font-family: Georgia, serif; line-height: 1.5; }
body:after { content: "phone"; display: none; }

/* ================== Wordpress Body Classes ================== */
/* for sites that are read right to left (i.e. hebrew) */
/* home page */
/* blog template page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
.page-template-default, .single, .archive { /* default page template */ }
.page-template-default article.page, .page-template-default article.post, .page-template-default .video_tinsleyfied, .single article.page, .single article.post, .single .video_tinsleyfied, .archive article.page, .archive article.post, .archive .video_tinsleyfied { border-left: 3px solid rgba(145, 205, 235, 0.2); padding-left: 1em; }
.page-template-default article.page header h1, .page-template-default article.post header h1, .page-template-default .video_tinsleyfied header h1, .single article.page header h1, .single article.post header h1, .single .video_tinsleyfied header h1, .archive article.page header h1, .archive article.post header h1, .archive .video_tinsleyfied header h1 { line-height: 1; margin: 0; }
.page-template-default article.page .post-content h2, .page-template-default article.page .post-content h3, .page-template-default article.post .post-content h2, .page-template-default article.post .post-content h3, .page-template-default .video_tinsleyfied .post-content h2, .page-template-default .video_tinsleyfied .post-content h3, .single article.page .post-content h2, .single article.page .post-content h3, .single article.post .post-content h2, .single article.post .post-content h3, .single .video_tinsleyfied .post-content h2, .single .video_tinsleyfied .post-content h3, .archive article.page .post-content h2, .archive article.page .post-content h3, .archive article.post .post-content h2, .archive article.post .post-content h3, .archive .video_tinsleyfied .post-content h2, .archive .video_tinsleyfied .post-content h3 { border-left: 3px solid #50afdf; margin-left: -0.655em; padding-left: .655em; }
.page-template-default article.page .post-content h3, .page-template-default article.post .post-content h3, .page-template-default .video_tinsleyfied .post-content h3, .single article.page .post-content h3, .single article.post .post-content h3, .single .video_tinsleyfied .post-content h3, .archive article.page .post-content h3, .archive article.post .post-content h3, .archive .video_tinsleyfied .post-content h3 { margin-left: -1.1em; padding-left: 1.1em; }

.no-rgba .page-template-default article.page { border-left: 3px solid #dceef5; }

/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/* ================== Layout and Grid ================== */
.wrap { width: 90%; margin: 0 auto; }

/* ================== Links ================== */
a, a:visited { color: #006699; text-decoration: none; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; /* on hover */ /* on click */ /* mobile tap color */ }
a:hover, a:focus, a:visited:hover, a:visited:focus { color: #50afdf; }
a:active, a:visited:active { color: #50afdf; }
a:link, a:visited:link { /* 
this highlights links on iPhones/iPads. 
so it basically works like the :hover selector
for mobile devices.
*/ -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* ================== Media ================== */
.video { border-left: 6px solid #a5cfcd; }

.video > header [class^="icon-"]:before, .video > header [class*=" icon-"]:before { color: inherit; float: inherit; text-shadow: none; }

.video > header h2 { background: rgba(135, 191, 189, 0.9) url("textures/noise.png"); color: white; left: 0; line-height: 1; padding-bottom: .1em; position: absolute; right: 0; text-align: center; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.video > header h2:before { top: 2px; float: inherit; }
.video > header h2:hover, .video > header h2:active, .video > header h2:focus { background: #87bfbd url("textures/noise.png"); }
.video > header h2 small { display: block; }
.video > header h2 a { color: white; }
.video > header h2 a:hover, .video > header h2 a:active, .video > header h2 a:focus { color: white; }

/* ================== Badge ================== */
.badge { margin-left: -12px; margin-right: 1em; }
.badge:before { content: attr(data-badge); background: #e2624f url("textures/noise.png"); border-radius: 10px; padding: 0 6px; }

a.button { color: #444; font-size: .8em; position: relative; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; /* on click */ }
a.button:hover, a.button:focus { color: #e2624f; }
a.button:active { color: #e2624f; }
a.button span:before { bottom: -14px; position: relative; font-size: 4em; line-height: 0; }

/*********************
POSTS & CONTENT STYLES
*********************/
/* end .hentry */
/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
.post { border-left: 3px solid rgba(145, 205, 235, 0.2); padding-left: 1em; }
.post header h1 { line-height: 1; margin: 0; }
.post .post-content h2, .post .post-content h3 { border-left: 3px solid #50afdf; margin-left: -0.655em; padding-left: .655em; }

/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
.meta { color: #999; }

/* post content */
.post-content { /*
image alignment on a screen this size may be
a bit difficult. It's set to start aligning
and floating images at the next breakpoint,
but it's up to you. Feel free to change it up.
*/ }
.post-content ul, .post-content ol { list-style-type: disc; margin-left: 2em; }
.post-content dd { margin-left: 0; font-size: 0.9em; color: #787878; margin-bottom: 1.5em; }
.post-content img { max-width: 100%; height: auto; }
.post-content video, .post-content object { max-width: 100%; height: auto; }
.post-content pre, .post-content code { background: #eee; border: 1px solid #cecece; padding: 10px; }

/* end .post-content */
.wp-caption { background: #eee; padding: 5px; /* images inside wp-caption */ }
.wp-caption img { margin-bottom: 0; width: 100%; }
.wp-caption p.wp-caption-text { font-size: 0.85em; margin: 4px 0 7px; text-align: center; }

/* end .wp-caption */
/* image gallery styles */
/* end .gallery */
/* gallery caption styles */
/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.page-navigation, .wp-prev-next { margin: 1.1em 0 2.2em; }

.bones_page_navi { /* current page link */ /* end .bones_page_navi .bpn-current */ /* common styles for page-navi links */ /* remove the bg on end links */ /* previous link */ /* next page link */ /* first page link */ /* last page link */ }
.bones_page_navi li { float: left; margin-left: 10px; }
.bones_page_navi li a { padding: 3px 6px; display: block; text-decoration: none; position: relative; }
.bones_page_navi li a:hover, .bones_page_navi li a:focus { color: #f01d4f; text-decoration: underline; }
.bones_page_navi li.bpn-current { padding: 3px 6px; border-bottom: 2px solid #f01d4f; position: relative; }
.bones_page_navi li.bpn-current a { /* hovering on current page link */ }
.bones_page_navi li.bpn-prev-link, .bones_page_navi li.bpn-next-link { font-weight: 700; }
.bones_page_navi li.bpn-prev-link a, .bones_page_navi li.bpn-next-link a { padding: 0; }
.bones_page_navi li.bpn-prev-link a:hover, .bones_page_navi li.bpn-next-link a:hover, .bones_page_navi li.bpn-first-page-link a:hover, .bones_page_navi li.bpn-last-page-link a:hover { background: none; }

/* end .bones_page_navi */
/* fallback previous & next links */
.wp-prev-next .prev-link { float: left; }
.wp-prev-next .next-link { float: right; }

/* end .wp-prev-next */
/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
#comments { /* number of comments span */ }

.commentlist { /* general comment classes */ /* vcard */ /* end .commentlist .vcard */ /* comment meta */ /* comment content */ /* end .commentlist .comment_content */ /* comment reply link */ /* end .commentlist .comment-reply-link */ }
.commentlist li { position: relative; clear: both; overflow: hidden; list-style-type: none; margin-bottom: 1.5em; padding: 0.7335em 10px; /* end .commentlist li ul.children */ }
.commentlist li:last-child { margin-bottom: 0; }
.commentlist li ul.children { margin: 0; /* variations */ /* change number for different depth */ }
.commentlist li[class*=depth-] { margin-top: 1.1em; }
.commentlist li.depth-1 { margin-left: 0; margin-top: 0; }
.commentlist li:not(.depth-1) { margin-right: -10px; margin-left: -10px; margin-top: 0; padding-bottom: 0; }
.commentlist .odd { background: #eee; }
.commentlist .even { background: #fefefe; }
.commentlist .vcard { margin-left: 50px; }
.commentlist .vcard cite.fn { font-weight: 700; font-style: normal; }
.commentlist .vcard time { float: right; }
.commentlist .vcard time a { color: #999; text-decoration: none; }
.commentlist .vcard time a:hover { text-decoration: underline; }
.commentlist .vcard img.avatar { position: absolute; left: 10px; padding: 2px; border: 1px solid #cecece; background: #fff; }
.commentlist .comment_content { margin-left: 50px; }
.commentlist .comment_content p { margin: 0.7335em 0 1.5em; font-size: 1em; line-height: 1.5em; }
.commentlist .comment-reply-link { text-decoration: none; float: right; background: #4598bb; padding: 3px 5px; color: #fff; opacity: 0.65; margin-bottom: 10px; font-weight: 700; font-size: 0.9em; }
.commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus { opacity: 1; }

/* end .commentlist */
/******************************************************************
COMMENT FORM STYLES
******************************************************************/
.respond-form { margin: 1.5em 10px; padding-bottom: 2.2em; }
.respond-form form { margin: 0.75em 0; }
.respond-form form li { list-style-type: none; clear: both; margin-bottom: 0.7335em; }
.respond-form form li label, .respond-form form li small { display: none; }
.respond-form form input[type=text], .respond-form form input[type=email], .respond-form form input[type=url], .respond-form form textarea { padding: 3px 6px; background: #efefef; border: 2px solid #cecece; line-height: 1.5em; /* form validation */ }
.respond-form form input[type=text]:focus, .respond-form form input[type=email]:focus, .respond-form form input[type=url]:focus, .respond-form form textarea:focus { background: #fff; }
.respond-form form input[type=text]:invalid, .respond-form form input[type=email]:invalid, .respond-form form input[type=url]:invalid, .respond-form form textarea:invalid { outline: none; border-color: #fbc2c4; background-color: #f6e7eb; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; box-shadow: none; }
.respond-form form input[type=text], .respond-form form input[type=email], .respond-form form input[type=url] { max-width: 400px; min-width: 250px; }
.respond-form form textarea { resize: none; width: 97.3%; height: 150px; }

/* comment submit button */
/* comment form title */
#comment-form-title { margin: 0 0 1.1em; }

/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
#allowed_tags { margin: 1.5em 10px 0.7335em 0; }

/* no comments */
.nocomments { margin: 0 20px 1.1em; }

/*********************
SIDEBARS & ASIDES
*********************/
/* ================== Search Widget, Portlet ================== */
.search-widget { /* ================== Submit Button with Search Icon */ position: relative; z-index: 1; }
.search-widget form { margin: 1em auto; }
.search-widget input[type="submit"] { font-family: icomoon; }
.search-widget .limit { display: block; margin-bottom: -0.5em; text-align: right; }
.search-widget .limit span { cursor: pointer; font-size: .8em; opacity: .7; }
.search-widget .limit span.active { opacity: 1; }
.search-widget .limit span.active:before { color: #e2624f; }
.search-widget .limit span.hidden { opacity: 0; }
.search-widget .keyword-search { text-align: center; }
.search-widget .keyword-search .icon-help { float: none; }
.search-widget label { color: #006699; cursor: pointer; font-size: .8em; margin: auto .5em; opacity: .7; }
.search-widget label:first-child { margin-left: 0; }
.search-widget label:last-child { margin-right: 0; }
.search-widget label.active { border-bottom: 2px solid #444; opacity: 1; }
.search-widget input[type=text] { width: 100%; }
.search-widget input[name="searchtype"], .search-widget input[id="call-numbers"] { opacity: 0; position: absolute; }
.search-widget .call-numbers { display: none; -webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; -o-transition: all 1s ease-out; transition: all 1s ease-out; }
.search-widget input[id="call-numbers"]:checked ~ .call-numbers { display: block; }

.search-actions { background: white; box-shadow: 0 2px 2px 0 #555555; height: 3em; position: relative; top: -3.3em; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }
.search-actions:before { background: #91CDEB; color: rgba(145, 205, 235, 0.2); content: "X"; font-family: 'icomoon'; font-size: 2em; height: 1.375em; margin-top: 4px; position: absolute; text-shadow: 1px 4px 6px #91CDEB, 0 0 0 #000, 1px 4px 6px #91CDEB; }
.search-actions ul { color: #555555; line-height: 3.5; text-align: center; }
.search-actions li { cursor: pointer; display: inline; margin: 0 .5em; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.search-actions li:hover, .search-actions li:active, .search-actions li:focus { color: #50afdf; }
.search-actions li:first-child { margin-left: 0; }
.search-actions li:last-child { margin-right: 0; }
.search-actions li.active { color: #50afdf; border-bottom: 2px solid #91cdeb; }

.no-textshadow .search-actions:before { color: white; }

.search-options { background: none; border: none; color: #555555; cursor: pointer; font-family: Georgia, serif; margin-top: -3.5em; }
.search-options:hover .icon-search, .search-options:focus .icon-search, .search-options:active .icon-search { color: #e2624f; }
.search-options .icon-search { -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; transition: all 0.5s ease-out; font-size: 1.5em; top: .5em; margin-right: -0.25em; position: relative; }

input[id="search-options"] { opacity: 0; position: absolute; visibility: hidden; }

input[id="search-options"]:checked ~ div.search-actions { top: -1.5em; }

.widgettitle { border-bottom: none; }

.widget ul, .widget .textwidget { margin: 0 auto; width: 90%; }
.widget ul li, .widget .textwidget li { z-index: 1; /* deep nesting */ }

/* ================== Ultraspecific Hack. Bad Form. */
ul.menu.active ul.sub-menu li a { border-left: 3px solid rgba(80, 175, 223, 0.2); }

ul.menu li ul.sub-menu li { width: auto; }

.widget_nav_menu { color: #555555; /* ================== Help Icon */ /* ================== A Wordpress Widget Hack */ /* ================== Parent Menu Item */ }
.widget_nav_menu header { background: #50afdf url("textures/noise.png"); border-left: 6px solid #91cdeb; }
.widget_nav_menu header [class^="icon-"]:before, .widget_nav_menu header [class*=" icon-"]:before { color: rgba(80, 175, 223, 0.2); text-shadow: 1px 2px 6px #50afdf, 0 0 0 black, 1px 2px 6px #50afdf; }
.widget_nav_menu header .icon-help:hover:before, .widget_nav_menu header .icon-help:focus:before, .widget_nav_menu header .icon-help:active:before { color: white; }
.widget_nav_menu .icon-help:before { color: rgba(85, 85, 85, 0.7); margin-right: 1em; text-shadow: none; }
.widget_nav_menu .icon-help:before:hover, .widget_nav_menu .icon-help:before:active, .widget_nav_menu .icon-help:before:focus { color: #50afdf; }
.widget_nav_menu .icon-coffee:before { content: "\3d"; margin-right: 5px; top: 2px; }
.widget_nav_menu li { border-left: none; display: block; }
.widget_nav_menu li:hover { border-left: none; }
.widget_nav_menu li.current-menu-parent > ul.sub-menu { display: block; position: relative; }
.widget_nav_menu li.current-menu-parent > a[href="#parent"]:after { content: "\4d"; }
.widget_nav_menu a[href="#parent"]:after { font-family: icomoon; color: #50afdf; content: "o"; float: right; padding-right: 1em; }
.widget_nav_menu a[href="#parent"].active:after { content: "n"; }
.widget_nav_menu ul.sub-menu [class^="icon-"]:before, .widget_nav_menu ul.sub-menu [class*=" icon-"]:before { color: #50afdf; text-shadow: none; }
.widget_nav_menu ul.sub-menu li { border-left: none; }
.widget_nav_menu ul.sub-menu li:last-child { border-bottom: none; }
.widget_nav_menu ul.sub-menu li a { border-left: none; }
.widget_nav_menu ul.sub-menu .wrap a { border-left: none; color: #555555; padding-left: 0; }
.widget_nav_menu ul.sub-menu .wrap .icon-phone { font-size: .9em; }
.widget_nav_menu .sub-menu.hours li { border-bottom: none; }
.widget_nav_menu .sub-menu table { color: #555555; font-size: .85em; margin-left: 1em; margin-bottom: 1em; width: 90%; }
.widget_nav_menu .sub-menu li .icon-help:before { margin-right: 0; }

.widget_nav_menu > ul { background: white; box-shadow: none; width: 98%; }
.widget_nav_menu > ul li { border-bottom: 2px solid #666; }
.widget_nav_menu > ul li:hover, .widget_nav_menu > ul li:focus, .widget_nav_menu > ul li:active { background: white; }
.widget_nav_menu > ul li a { border-left: 3px solid rgba(80, 175, 223, 0.2); color: #555555; display: block; margin: .25em auto; padding: 0 .5em; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.widget_nav_menu > ul li a:hover, .widget_nav_menu > ul li a:focus, .widget_nav_menu > ul li a:active { border-left: 3px solid #50afdf; }

div.widget_nav_menu ul.sub-menu > li.menu-item { width: 90%; }

.widget_rss header { background: #e2624f url("textures/noise.png"); }
.widget_rss header [class^="icon-"]:before, .widget_rss header [class*=" icon-"]:before { color: rgba(226, 98, 79, 0.2); text-shadow: 1px 2px 6px #e2624f, 0 0 0 black, 1px 2px 6px #e2624f; }
.widget_rss header .icon-coffee:before { content: "\2a"; }
.widget_rss a.rsswidget img { display: none; }
.widget_rss li { border-bottom: 1px solid #eeeeee; }
.widget_rss li:last-child { border-bottom: none; }

.exhibit { border: 2px solid #555; padding: .5em; }
.exhibit h2 { line-height: 0; }
.exhibit .thumbnail { background: #e2624f url("textures/noise.png"); box-shadow: 2px 2px 10px -2px #444444; float: left; margin: .5em 1em .5em 0; padding: .2em; width: 20%; }

/* ================== Footer Styles ================== */
.footer { background: #555555 url("textures/gray-noise.png"); border-top: 3px solid #50afdf; color: white; margin-top: 6em; -webkit-box-shadow: inset 0 1px 3px 0 #222222; -moz-box-shadow: inset 0 1px 3px 0 #222222; box-shadow: inset 0 1px 3px 0 #222222; /*[class^="icon-"]:before, [class*=" icon-"]:before { color: rgba(#444444, 0.2); 	font-size: 2em; position: relative; text-shadow: 1px 2px 6px #444, 0 0 0 #000, 1px 2px 6px #444;
}*/ }
.footer a { color: white; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.footer a:hover, .footer a:focus, .footer a:active { color: #50afdf; }
.footer p.icon { margin: 1em auto; }

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to
override these styles for the desktop
view.
*/
/* end .footer-links */
/* ================== Larger Mobile Devices ================== */
/* ================== If needed, from here we can tweak for phones or really small tablets. */
/* ================== Tablets and Small Laptops ================== */
/* ================== From here on, these are really the more common viewing windows. We can begin to  work in more resource intensive styles */
@media only screen and (min-width: 48em) { .wrap { max-width: 1140px; }
  .row { width: 100%; margin: 0 auto; overflow: hidden; }
  /* This is a combination of the 1140 grid and Twitter Boostrap. I liked 1140 but Boostrap's grid was way more detailed so I merged them together, let's see how this works out. If you want to use 1140, the original values are commented out on each line. */
  .onecol { width: 5.801104972%; }
  /* 4.85%;  } /* grid_1  */
  .twocol { width: 14.364640883%; }
  /* 13.45%; } /* grid_2  */
  .threecol { width: 22.928176794%; }
  /* 22.05%; } /* grid_3  */
  .fourcol { width: 31.491712705%; }
  /* 30.75%; } /* grid_4  */
  .fivecol { width: 40.055248616%; }
  /* 39.45%; } /* grid_5  */
  .sixcol { width: 48.618784527%; }
  /* 48%;    } /* grid_6  */
  .sevencol { width: 57.182320438000005%; }
  /* 56.75%; } /* grid_7  */
  .eightcol { width: 65.74585634900001%; }
  /* 65.4%;  } /* grid_8  */
  .ninecol { width: 74.30939226%; }
  /* 74.05%; } /* grid_9  */
  .tencol { width: 82.87292817100001%; }
  /* 82.7%;  } /* grid_10 */
  .elevencol { width: 91.436464082%; }
  /* 91.35%; } /* grid_11 */
  .twelvecol { width: 99.999999993%; }
  /* 100%;   } /* grid_12 */
  /* layout & column defaults */
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol { position: relative; float: left; margin-left: 2.762430939%; }
  .first { margin-left: 0; }
  .last { float: right; }
  /****************************************************************** Site Name:  Author:   Stylesheet: Tablet & Small Desktop Stylesheet  Here's where you can start getting into the good stuff. This size will work on iPads, other tablets, and desktops. So you can start working with more styles, background images, and other resources. You'll also notice the grid starts to come into play. Have fun!  *****************************************************************/
  /********************* GENERAL STYLES ********************/
  body:after { content: 'tablet'; }
  /* ====================== * Layout ====================== */
  #main { width: 100%; }
  #sidebar { width: 100%; }
  /******************** WORDPRESS BODY CLASSES style a page via class *******************/
  /* home page */
  /* blog page */
  /* archive page */
  /* date archive page */
  /* replace the number to the corresponding page number */
  /* search page */
  /* search result page */
  /* no results search page */
  /* individual paged search (i.e. body.search-paged-3) */
  /* 404 page */
  /* single post page */
  /* individual post page by id (i.e. body.postid-73) */
  /* individual paged single (i.e. body.single-paged-3) */
  /* attatchment page */
  /* individual attatchment page (i.e. body.attachmentid-763) */
  /* style mime type pages */
  /* author page */
  /* user nicename (i.e. body.author-samueladams) */
  /* paged author archives (i.e. body.author-paged-4) for page 4 */
  /* category page */
  /* individual category page (i.e. body.category-6) */
  /* replace the number to the corresponding page number */
  /* tag page */
  /* individual tag page (i.e. body.tag-news) */
  /* replace the number to the corresponding page number */
  /* custom page template page */
  /* individual page template (i.e. body.page-template-contact-php */
  /* replace the number to the corresponding page number */
  /* replace the number to the corresponding page number */
  /* if user is logged in */
  /* paged items like search results or archives */
  /* individual paged (i.e. body.paged-3) */
  /********************* SIDEBARS & ASIDES ********************/
  .widgettitle { margin-bottom: 0.75em; }
  .widget ul li { line-height: 1.5; /* deep nesting */ }
  /* links widget */
  /* meta widget */
  /* pages widget */
  /* recent-posts widget */
  /* archives widget */
  /* tag-cloud widget */
  /* calendar widget */
  /* category widget */
  /* recent-comments widget */
  /* search widget */
  /* text widget */
  /********************* FOOTER STYLES ********************/
  /* you'll probably need to do quite a bit of overriding here if you styled them for mobile. Make sure to double check these! */
  .footer-links ul li { /* 
be careful with the depth of your menus.
it's very rare to have multi-depth menus in
the footer.
*/ }
  /* end .footer-links */ }
/* ================== Widescreen Monitors ================== */
@media only screen and (min-width: 64.375em) { /****************************************************************** Site Name:  Author:   Stylesheet: Desktop Stylsheet  This is the desktop size. It's larger than an iPad so it will only be seen on the Desktop.   *****************************************************************/
  body:after { content: "squarescreen"; }
  /* ====================== * Layout ====================== */
  #main { margin-left: 0; width: 74.30939226%; }
  #sidebar { float: right; width: 22.928176794%; }
  #sidebar > .fourcol { width: 100%; margin-left: auto; }
  .hint { position: relative; display: inline-block;   /**
	 * tooltip arrow
	 */   /**
	 * tooltip body
	 */ }
  .hint:before, .hint:after { position: absolute; opacity: 0; z-index: 1000000; pointer-events: none; -webkit-transition: 0.3s ease; -moz-transition: 0.3s ease; }
  .hint:hover:before, .hint:hover:after { opacity: 1; }
  .hint:before { content: ''; position: absolute; background: transparent; border: 6px solid transparent; z-index: 1000001; }
  .hint:after { content: attr(data-hint); background: #383838; color: white; text-shadow: 0 -1px 0px black; padding: 8px 10px; font-size: 12px; line-height: 12px; white-space: nowrap; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); }
  /** source: hint-position.scss  Defines the positoning logic for the tooltips.  Classes added: 	1) hint--top 	2) hint--bottom 	3) hint--left 	4) hint--right */
  /** set default color for tooltip arrows */
  .hint--top:before { border-top-color: #383838; }
  .hint--bottom:before { border-bottom-color: #383838; }
  .hint--left:before { border-left-color: #383838; }
  .hint--right:before { border-right-color: #383838; }
  /** top tootip */
  .hint--top:before { margin-bottom: -12px; }
  .hint--top:after { margin-left: -18px; }
  .hint--top:before, .hint--top:after { bottom: 100%; left: 50%; }
  .hint--top:hover:before, .hint--top:hover:after { -webkit-transform: translateY(-8px); -moz-transform: translateY(-8px); transform: translateY(-8px); }
  /** bottom tootip */
  .hint--bottom:before { margin-top: -12px; }
  .hint--bottom:after { margin-left: -18px; }
  .hint--bottom:before, .hint--bottom:after { top: 100%; left: 50%; }
  .hint--bottom:hover:before, .hint--bottom:hover:after { -webkit-transform: translateY(8px); -moz-transform: translateY(8px); transform: translateY(8px); }
  /** right tootip */
  .hint--right:before { margin-left: -12px; margin-bottom: -6px; }
  .hint--right:after { margin-bottom: -14px; }
  .hint--right:before, .hint--right:after { left: 100%; bottom: 50%; }
  .hint--right:hover:before, .hint--right:hover:after { -webkit-transform: translateX(8px); -moz-transform: translateX(8px); transform: translateX(8px); }
  /** left tootip */
  .hint--left:before { margin-right: -12px; margin-bottom: -6px; }
  .hint--left:after { margin-bottom: -14px; }
  .hint--left:before, .hint--left:after { right: 100%; bottom: 50%; }
  .hint--left:hover:before, .hint--left:hover:after { -webkit-transform: translateX(-8px); -moz-transform: translateX(-8px); transform: translateX(-8px); }
  /** source: hint-color-types.scss  Contains tooltips of various types based on color differences.  Classes added: 	1) hint--error 	2) hint--warning 	3) hint--info 	4) hint--success 	 */
  /** Error */
  .hint--error:after { background-color: #b34e4d; text-shadow: 0 -1px 0px #5a2626; }
  .hint--error.hint--top:before { border-top-color: #b34e4d; }
  .hint--error.hint--bottom:before { border-bottom-color: #b34e4d; }
  .hint--error.hint--left:before { border-left-color: #b34e4d; }
  .hint--error.hint--right:before { border-right-color: #b34e4d; }
  /** Warning */
  .hint--warning:after { background-color: #c09854; text-shadow: 0 -1px 0px #6d5228; }
  .hint--warning.hint--top:before { border-top-color: #c09854; }
  .hint--warning.hint--bottom:before { border-bottom-color: #c09854; }
  .hint--warning.hint--left:before { border-left-color: #c09854; }
  .hint--warning.hint--right:before { border-right-color: #c09854; }
  /** Info */
  .hint--info:after { background-color: #3986ac; text-shadow: 0 -1px 0px #193c4c; }
  .hint--info.hint--top:before { border-top-color: #3986ac; }
  .hint--info.hint--bottom:before { border-bottom-color: #3986ac; }
  .hint--info.hint--left:before { border-left-color: #3986ac; }
  .hint--info.hint--right:before { border-right-color: #3986ac; }
  /** Success */
  .hint--success:after { background-color: #458746; text-shadow: 0 -1px 0px #1a331a; }
  .hint--success.hint--top:before { border-top-color: #458746; }
  .hint--success.hint--bottom:before { border-bottom-color: #458746; }
  .hint--success.hint--left:before { border-left-color: #458746; }
  .hint--success.hint--right:before { border-right-color: #458746; }
  /** source: hint-always.scss  Defines a persisted tooltip which shows always.  Classes added: 	1) hint--always 	 */
  .hint--always:after, .hint--always:before { opacity: 1; }
  .hint--always.hint--top:after, .hint--always.hint--top:before { -webkit-transform: translateY(-8px); -moz-transform: translateY(-8px); transform: translateY(-8px); }
  .hint--always.hint--bottom:after, .hint--always.hint--bottom:before { -webkit-transform: translateY(8px); -moz-transform: translateY(8px); transform: translateY(8px); }
  .hint--always.hint--left:after, .hint--always.hint--left:before { -webkit-transform: translateX(-8px); -moz-transform: translateX(-8px); transform: translateX(-8px); }
  .hint--always.hint--right:after, .hint--always.hint--right:before { -webkit-transform: translateX(8px); -moz-transform: translateX(8px); transform: translateX(8px); } }
/* ================== Large Viewing Size ================== */
@media only screen and (min-width: 77.5em) { /****************************************************************** Site Name:  Author:   Stylesheet: Super Large Monitor Stylesheet  You can add some advanced styles here if you like. This kicks in on larger screens.  *****************************************************************/
  body:after { content: "widescreen"; } }
/* ================== Retina, High PPI Screens ================== */
/* ================== Print Stylesheet ================== */
@media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; /* show links on printed pages */ /* show title too */ }
  a:after, a:visited:after { content: " (" attr(href) ")"; }
  a abbr[title]:after, a:visited abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  /* hide content people who print don't need to see */
  .sidebar, .page-navigation, .wp-prev-next, .respond-form, nav { display: none; } }
