/******************************************************************
So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* ====================== *
 * $VARIABLES
 * ====================== */
/* ==================
 * $COLORS 
 */
/* ==================
 * Typography
 */
/* ==================
 * $MEDIA-QUERY VARIABLES
 * Base font of 16px.
  */
/* ==================
 * $MIXINS
 * ================== */
/* ==================
 * Media Query 
 */
/* ==================
 * Tools
 * ================== */
.hide-text {
  line-height: 0;
  font-size: 0;
  color: transparent;
}

.shadow {
  -webkit-box-shadow: 0 4px 15px -4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 15px -4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 15px -4px rgba(0, 0, 0, 0.4);
}

.flat {
  box-shadow: none !important;
}

.align-center {
  text-align: center;
}

/* ==================
 * Clearfix */
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* ==================
 * Texture and Depth */
.inset {
  -webkit-box-shadow: inset 0 0 2px 0 rgba(68, 68, 68, 0.8);
  -moz-box-shadow: inset 0 0 2px 0 rgba(68, 68, 68, 0.8);
  box-shadow: inset 0 0 2px 0 rgba(68, 68, 68, 0.8);
}

/* ====================== *
 * Media Query
 * ====================== */
/* ====================== *
 * @include breakpoint(palm) { style shere } */
/* ==================
 * CSS Transitions
 * ================== */
/* @include transition(all,2s,ease-out); */
.wrap {
  max-width: 1140px;
}

.row {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/*
    This is a combination of the 1140 grid and Twitter Boostrap.
    I liked 1140 but Boostrap's grid was way more detailed so
    I merged them together, let's see how this works out.
    If you want to use 1140, the original values are commented
    out on each line.
*/
.onecol {
  width: 5.801104972%;
}

/* 4.85%;  } /* grid_1  */
.twocol {
  width: 14.364640883%;
}

/* 13.45%; } /* grid_2  */
.threecol {
  width: 22.928176794%;
}

/* 22.05%; } /* grid_3  */
.fourcol {
  width: 31.491712705%;
}

/* 30.75%; } /* grid_4  */
.fivecol {
  width: 40.055248616%;
}

/* 39.45%; } /* grid_5  */
.sixcol {
  width: 48.618784527%;
}

/* 48%;    } /* grid_6  */
.sevencol {
  width: 57.182320438000005%;
}

/* 56.75%; } /* grid_7  */
.eightcol {
  width: 65.74585634900001%;
}

/* 65.4%;  } /* grid_8  */
.ninecol {
  width: 74.30939226%;
}

/* 74.05%; } /* grid_9  */
.tencol {
  width: 82.87292817100001%;
}

/* 82.7%;  } /* grid_10 */
.elevencol {
  width: 91.436464082%;
}

/* 91.35%; } /* grid_11 */
.twelvecol {
  width: 99.999999993%;
}

/* 100%;   } /* grid_12 */
/* layout & column defaults */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}

.first {
  margin-left: 0;
}

.last {
  float: right;
}

.typeplate {
  float: none;
  margin: 0 auto;
}

/******************************************************************
Site Name: 
Author: 

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/* ====================== *
 * Layout
 * ====================== */
#main {
  width: 100%;
}

#sidebar {
  width: 100%;
}

.wrap {
  width: 90%;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
/* home page */
/* blog page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*********************
SIDEBARS & ASIDES
*********************/
.widgettitle {
  margin-bottom: 0.75em;
}

.widget ul li {
  line-height: 1.5;
  /* deep nesting */
}

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links ul li {
  /* 
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}

/* end .footer-links */
/******************************************************************
Site Name: 
Author: 

Stylesheet: Square Monitor Stylsheet

This is a small desktop size. It will be seen on tablets with 1024px resolution.

******************************************************************/
/* ====================== *
 * Layout
 * ====================== */
#main {
  margin-left: 0;
  width: 74.30939226%;
}

#sidebar {
  float: right;
  width: 22.928176794%;
}

.no-touch {
  /**
   * source: hint-position.scss
   *
   * Defines the positoning logic for the tooltips.
   * 
   * Classes added:
   *  1) hint--top
   *  2) hint--bottom
   *  3) hint--left
   *  4) hint--right
   */
  /**
   * set default color for tooltip arrows
   */
  /**
   * top tooltip
   */
  /**
   * bottom tooltip
   */
  /**
   * right tooltip
   */
  /**
   * left tooltip
   */
  /**
   * source: hint-color-types.scss
   *
   * Contains tooltips of various types based on color differences.
   * 
   * Classes added:
   *  1) hint--error
   *  2) hint--warning
   *  3) hint--info
   *  4) hint--success
   *  
   */
  /**
   * Error
   */
  /**
   * Warning
   */
  /**
   * Info
   */
  /**
   * Success
   */
  /**
   * source: hint-always.scss
   *
   * Defines a persisted tooltip which shows always.
   * 
   * Classes added:
   *  1) hint--always
   *  
   */
  /**
   * source: hint-rounded.scss
   *
   * Defines rounded corner tooltips.
   * 
   * Classes added:
   *  1) hint--rounded
   *  
   */
}
.no-touch .hint, .no-touch [data-hint] {
  position: relative;
  display: inline-block;
  /**
   * tooltip arrow
   */
  /**
   * tooltip body
   */
}
.no-touch .hint:before, .no-touch .hint:after, .no-touch [data-hint]:before, .no-touch [data-hint]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
.no-touch .hint:hover:before, .no-touch .hint:hover:after, .no-touch [data-hint]:hover:before, .no-touch [data-hint]:hover:after {
  visibility: visible;
  opacity: 1;
}
.no-touch .hint:before, .no-touch [data-hint]:before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
}
.no-touch .hint:after, .no-touch [data-hint]:after {
  content: attr(data-hint);
  background: #383838;
  color: white;
  text-shadow: 0 -1px 0px black;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.no-touch .hint--top:before {
  border-top-color: #383838;
}
.no-touch .hint--bottom:before {
  border-bottom-color: #383838;
}
.no-touch .hint--left:before {
  border-left-color: #383838;
}
.no-touch .hint--right:before {
  border-right-color: #383838;
}
.no-touch .hint--top:before {
  margin-bottom: -12px;
}
.no-touch .hint--top:after {
  margin-left: -18px;
}
.no-touch .hint--top:before, .no-touch .hint--top:after {
  bottom: 100%;
  left: 50%;
}
.no-touch .hint--top:hover:before, .no-touch .hint--top:hover:after {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px);
}
.no-touch .hint--bottom:before {
  margin-top: -12px;
}
.no-touch .hint--bottom:after {
  margin-left: -18px;
}
.no-touch .hint--bottom:before, .no-touch .hint--bottom:after {
  top: 100%;
  left: 50%;
}
.no-touch .hint--bottom:hover:before, .no-touch .hint--bottom:hover:after {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px);
}
.no-touch .hint--right:before {
  margin-left: -12px;
  margin-bottom: -6px;
}
.no-touch .hint--right:after {
  margin-bottom: -14px;
}
.no-touch .hint--right:before, .no-touch .hint--right:after {
  left: 100%;
  bottom: 50%;
}
.no-touch .hint--right:hover:before, .no-touch .hint--right:hover:after {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px);
}
.no-touch .hint--left:before {
  margin-right: -12px;
  margin-bottom: -6px;
}
.no-touch .hint--left:after {
  margin-bottom: -14px;
}
.no-touch .hint--left:before, .no-touch .hint--left:after {
  right: 100%;
  bottom: 50%;
}
.no-touch .hint--left:hover:before, .no-touch .hint--left:hover:after {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px);
}
.no-touch .hint--error:after {
  background-color: #b34e4d;
  text-shadow: 0 -1px 0px #5a2626;
}
.no-touch .hint--error.hint--top:before {
  border-top-color: #b34e4d;
}
.no-touch .hint--error.hint--bottom:before {
  border-bottom-color: #b34e4d;
}
.no-touch .hint--error.hint--left:before {
  border-left-color: #b34e4d;
}
.no-touch .hint--error.hint--right:before {
  border-right-color: #b34e4d;
}
.no-touch .hint--warning:after {
  background-color: #c09854;
  text-shadow: 0 -1px 0px #6d5228;
}
.no-touch .hint--warning.hint--top:before {
  border-top-color: #c09854;
}
.no-touch .hint--warning.hint--bottom:before {
  border-bottom-color: #c09854;
}
.no-touch .hint--warning.hint--left:before {
  border-left-color: #c09854;
}
.no-touch .hint--warning.hint--right:before {
  border-right-color: #c09854;
}
.no-touch .hint--info:after {
  background-color: #3986ac;
  text-shadow: 0 -1px 0px #193c4c;
}
.no-touch .hint--info.hint--top:before {
  border-top-color: #3986ac;
}
.no-touch .hint--info.hint--bottom:before {
  border-bottom-color: #3986ac;
}
.no-touch .hint--info.hint--left:before {
  border-left-color: #3986ac;
}
.no-touch .hint--info.hint--right:before {
  border-right-color: #3986ac;
}
.no-touch .hint--success:after {
  background-color: #458746;
  text-shadow: 0 -1px 0px #1a331a;
}
.no-touch .hint--success.hint--top:before {
  border-top-color: #458746;
}
.no-touch .hint--success.hint--bottom:before {
  border-bottom-color: #458746;
}
.no-touch .hint--success.hint--left:before {
  border-left-color: #458746;
}
.no-touch .hint--success.hint--right:before {
  border-right-color: #458746;
}
.no-touch .hint--always:after, .no-touch .hint--always:before {
  opacity: 1;
  visibility: visible;
}
.no-touch .hint--always.hint--top:after, .no-touch .hint--always.hint--top:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px);
}
.no-touch .hint--always.hint--bottom:after, .no-touch .hint--always.hint--bottom:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px);
}
.no-touch .hint--always.hint--left:after, .no-touch .hint--always.hint--left:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px);
}
.no-touch .hint--always.hint--right:after, .no-touch .hint--always.hint--right:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px);
}
.no-touch .hint--rounded:after {
  border-radius: 4px;
}

/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
body {
  font-size: 12px;
}

.lt-ie9 .utilities > .lib-button-small {
  display: none;
}
.lt-ie9 .tinsley-gradient {
  background: #21348a;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMjEzNDhhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMzM2NmNjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmYmFmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, #21348a 1%, #3366cc 50%, #1fbaf2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(1%, #21348a), color-stop(50%, #3366cc), color-stop(100%, #1fbaf2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #21348a 1%, #3366cc 50%, #1fbaf2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #21348a 1%, #3366cc 50%, #1fbaf2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #21348a 1%, #3366cc 50%, #1fbaf2 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #21348a 1%, #3366cc 50%, #1fbaf2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21348a', endColorstr='#1fbaf2',GradientType=1 );
  /* IE6-8 fallback on horizontal gradient */
}
.lt-ie9 .alert span.buttons {
  display: inline;
}
.lt-ie9 .menu > .menu-link {
  display: none;
}
.lt-ie9 .menu {
  font-size: 14px;
}
.lt-ie9 .menu ul {
  display: block;
}
.lt-ie9 .menu ul li {
  display: inline-block;
}
.lt-ie9 .menu .sub-menu {
  position: absolute;
  z-index: 1;
  z-index: 1000;
}
.lt-ie9 .menu .sub-menu li {
  min-width: 15em;
  text-indent: 0;
}
.lt-ie9 .menu .last .sub-menu li {
  min-width: 7em;
}
.lt-ie9 .widget_nav_menu {
  color: #555 !important;
  font-size: inherit;
  border-bottom: none;
  border-top: none;
}
.lt-ie9 .widget_nav_menu > ul {
  background: white !important;
  filter: none !important;
}
.lt-ie9 .widget_nav_menu > ul li {
  border-bottom: 2px solid #666 !important;
}
.lt-ie9 .widget_nav_menu > ul li a {
  border-left: 3px solid #d5e8f2 !important;
}
.lt-ie9 .widget_nav_menu .sub-menu li {
  min-width: auto;
}
.lt-ie9 .widget_nav_menu li a {
  display: block;
  margin: .25em auto;
}

.no-rgba body {
  background: #edf6fb;
}
.no-rgba .inset {
  -webkit-box-shadow: inset 0 0 2px 0 #444444;
  -moz-box-shadow: inset 0 0 2px 0 #444444;
  box-shadow: inset 0 0 2px 0 #444444;
}

.lt-ie8 {
  /* ==================
   *  Layout Fixes
   */
  /* ==================
   * Layout Compromises
   */
  /* ==================
   * Fixes Background Colors
   */
}
.lt-ie8 .menu ul > li ul.sub-menu {
  position: relative;
}
.lt-ie8 header .utilities {
  display: none;
}
.lt-ie8 .gradient--rtl {
  background: #3366cc;
}
.lt-ie8 .tinsley-gradient {
  background: #21348a;
}
