<section class="col-md--twelvecol col-lg--eightcol clearfix">

  <nav class="clearfix menu menu--tabs" data-ng-init="activeTab = 'catalog'" role="tablist">

    <li class="menu--tabs__item" role="presentation">
      <button class="button button--flat button--small button--tab button--primary--alt" data-ng-attr-aria-selected="{{ activeTab === 'catalog' ? true : false }}"  data-ng-class="{'button--tab--selected' : activeTab === 'catalog'}" data-ng-click="activeTab = 'catalog'" id="tab-catalog" role="tab">Catalog</button>
    </li>

    <li class="menu--tabs__item" role="presentation">
      <button class="button button--flat button--small button--tab button--primary--alt" data-ng-attr-aria-selected="{{ activeTab === 'ftf' ? true : false }}" data-ng-class="{'button--tab--selected' : activeTab === 'ftf'}" data-ng-click="activeTab = 'ftf'" id="tab-ftf" role="tab">Full Text Finder</button>
    </li>

    <li class="menu--tabs__item" role="presentation">
      <button class="button button--flat button--small button--tab button--primary--alt" data-ng-attr-aria-selected="{{ activeTab === 'google' ? true : false }}" data-ng-class="{'button--tab--selected' : activeTab === 'google'}" data-ng-click="activeTab = 'google'" id="tab-google" role="tab">Google Scholar</button>
    </li>

    <li class="menu--tabs__item" role="presentation">
      <button class="button button--flat button--small button--tab button--primary--alt" data-ng-attr-aria-selected="{{ activeTab === 'apa' ? true : false }}" data-ng-class="{'button--tab--selected' : activeTab === 'apa'}" data-ng-click="activeTab = 'apa'" id="tab-apa" role="tab">APA</button>
    </li>

  </nav><!--/.tab-nav-->

  <section aria-labelledby="tab-catalog" class="card" data-ng-show="activeTab === 'catalog'" role="tabpanel">

    <header>
      <h2 class="delta no-margin">NovaCat</h2>
      <p class="zeta">Search our main catalog for <b>books, media, and periodicals</b>.</p>
    </header>

    <form class="form" action="https://novacat.nova.edu/search/" method="get" id="search-widget" name="search">

      <ul class="clearfix">
        <div class="col-md--threecol">
          <li class="form__field">
            <div class="form__select form__input--full-width">
              <select name="searchtype">
                <option value="X" selected="">Keyword</option>
                <option value="a">Author</option>
                <option value="t">Title</option>
                <option value="d">Subject</option>
              </select>
            </div>
          </li>
        </div>

        <div class="col-md--ninecol">
          <li class="form__field">
            <label class="hide-accessible">Search the Catalog</label>
            <input class="form__input form__input--full-width" name="searcharg" type="search" data-ng-model="searcharg" required>
            <button class="button form__submit button--small form__submit--inside no-margin" data-ng-class="{ 'button--primary--alt' : searcharg, 'button--disabled' : !searcharg }" onclick="ga( 'send', 'event', 'Search Widget', 'Submit', 'NovaCat Search' );">
              <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18" fill="#fff">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
              </svg>
              <span class="button__text">Search</span>
            </button>
          </li>
        </div>

        <div class="col-md--sixcol">
          <li class="clearfix form__field no-margin">
            <input class="checkbox-toggle" type="checkbox" id="m" name="m" value="n" />
            <label class="button button--small small-text button--flat button--unselect no-margin" for="m" style="border: 1px solid #ddd; color: rgba( 68, 68, 68, 0.5);">Just <b>Ebooks</b></label>
          </li>
        </div>

        <div class="col-md--sixcol align-right">
          <a href="//novacat.nova.edu:2082" class="links small-text link--undecorated">Use Classic NovaCat</a> /
          <a href="//novacat.nova.edu/search/X" class="button button--link small-text" onclick="ga( 'send', 'event', 'Search Widget', 'click', 'Advanced Search' );">Advanced Search</a>
        </div>

      </ul>

      <input type="hidden" name="sortdropdown" value="r">

    </form>

  </section><!--/.tab-content-->

  <section aria-labelledby="tab-ftf" class="card" data-ng-show="activeTab === 'ftf'" ng-controller="ftfController as fc" role="tab" style="overflow: visible;">
    <header>
      <h2 class="delta no-margin">Full Text Finder</h2>
      <p class="zeta">Enter the <b>publication title</b> to see if the full text is available.</p>
    </header>

    <form id="ftf-form" class="form js-full-text-finder" action="api/ftf.php" target="_self" method="post">

      <input type="hidden" name="action" value="ftf_search">

      <ul class="clearfix">
        <div class="col-md--threecol">
          <li class="form__field">
            <div class="form__select form__input--full-width">
              <select name="filter" ng-model="fc.filterTitle">
                <option value="startsWith">Exact Phrase</option>
                <option value="">Contains</option>
              </select>
            </div>
          </li>
        </div>

        <div class="col-md--ninecol">
          <li class="form__field">

            <label class="form__label hide-accessible" for="searchtext">Search title</label>
            <input autocomplete="off" id="searchtext" class="form__input form__input--full-width" name="searchtext" type="text" size="23" placeholder="Enter title"
                   ng-model="fc.model"
                   ng-model-options="{ debounce: 300 }"
                   ng-change="fc.getTitles(fc.model)">
            <input type="text" style="display:none" name="meta" value="{{fc.metadata}}">

            <ul class="card list list--alternate" ng-hide = "!fc.model.length || fc.selected" style="margin-top: .25em; position: absolute; z-index: 1000;">

              <div ng-hide="fc.items" style="width:100%; padding: 5%;">
                <img style="display:block;margin:auto;" src="//sherman.library.nova.edu/cdn/media/images/sprites/loader.gif">
              </div>

              <li style="width:100%;cursor:pointer; padding-left: 10px;"
                  ng-repeat="item in fc.items | filter:fc.model:(fc.filterTitle == 'startsWith' ? fc.startsWith : '')| orderBy: 'title'"
                  ng-click="fc.setCurrent(item)">
                <span class="zeta" ng-bind-html="item.title"></span>
              </li>

            </ul>

          </li>
        </div>

        <li class="form__field ">
          <div class="col-md--sixcol">
            <input class="checkbox-toggle" type="checkbox" id="chkPeerReviewed" name="chkPeerReviewed"  />
            <label class="button button--small small-text button--flat button--unselect no-margin" for="chkPeerReviewed" style="border: 1px solid #ddd; color: rgba( 68, 68, 68, 0.5);">Only <b>Peer Reviewed</b></label>
          </div>
          <div class="col-md--sixcol align-right">
            <button class="button button--primary button--small no-margin" value="Search" type="submit">Search </button>
          </div>
        </li>
      </ul>
    </form>

  </section>

  <section aria-labelledby="tab-google" class="card" data-ng-show="activeTab === 'google'" role="tab">
    <header>
      <h2 class="delta no-margin">Google Scholar</h2>
      <p class="zeta">Search for <b>articles</b>, then use the link <b>Find It! @ NSU</b> to see full-text availability.</p>
    </header>

    <form action="//ezproxylocal.library.nova.edu/form?qurl=http%3a%2f%2fscholar.google.com%2fscholar" class="form" name="f" method="post" role="form">
      <ul>

        <li class="clearfix form__field no-margin">
          <label class="hide-accessible" for="q">Find select scholarly articles</label>
          <input class="form__input form__input--full-width" name="q" maxlength="256" type="text">
        </li>

        <input name="hl" value="en" type="hidden">
        <input name="inst" value="webbridge-NOVAL" type="hidden">

        <div class="align-right">
          <button class="button button--small button--primary" onclick="ga( 'send', 'event', 'Search Widget', 'Submit', 'Google Scholar Search' );" type="submit">Search <b>Google Scholar</b></button>
        </div>

        <input name="as_sfid" value="AAAAAAUbUHZd6G7_hFTf0dayJ1IjeClt4h_wSwbP59E_RWHtKu3Mz-wcBhMe7URffez0f0hEvSUxJxvL4SIL9OInC3TsMZzqZtcETpYzSeS1uIXPyw==" type="hidden"><input name="as_fid" value="nEjI6YIV8Nwf_3bOFgiB" type="hidden">

        <input type="hidden" name="inst" value="9360586080373841453">
      </ul>

    </form>

    <footer>
      <p class="small-text no-margin"><b>Tip:</b> To see full-text availability use the "Find It @ NSU" button.</p>
    </footer>
  </section >

  <section aria-labelledby="tab-apa" class="card" data-ng-show="activeTab === 'apa'" role="tab">

    <header>
      <h2 class="delta no-margin">APA Citation Tool</h2>
      <p class="zeta">
        We can help you figure out how to cite different kinds of content. Just finish the sentence below.
      </p>
    </header>

    <form action="//sherman.library.nova.edu/sites/apa/" class="form" role="form">
      <ul>
        <li class="clearfix form__field no-margin">

          <label class="form__label" for="s"><b>How do I cite ...</b></label>
          <input type="text" class="form__input form__input--full-width " name="s" placeholder="example: a podcast">

        </li>
        <div class="align-right">
          <button class="button button--primary button--small" type="submit" onclick="ga( 'send', 'event', 'Search Widget', 'Submit', 'APA Search' );">Search</button>
        </div>
      </ul>
    </form>

  </section><!--/.tab-content-->

</section><!--/.tabs-->