<div id="content">
	<div id="inner-content" class="wrap clearfix">
	
	<div class="row">
		<?php include_once constant('MODEL').'/login/connect.php'; ?>
	</div>

	<div class="threecol first">

	<!-- Shark Form
	======================
	--> <div id="sharkform" class="login tinsley-gradient">
		
		<div class="sixcol first">
			<img src="http://sherman.library.nova.edu/cdn/styles/css/brand/shark-logo(2x).png" alt="">
		</div>

		<div class="sixcol last">	
			<h4>
				Students, Faculty, and Staff
			</h4>
		</div>

		<div class="row">
			<form action="." method="post">
			<input type="hidden" name="action" value="shark_log">
			<label for="nuid">Shark ID (e.g <b>jsmith117</b>@nova.edu)</label>
			<input placeholder="jsmith117" type="text" id="nuid" name="nuid" required="required">

			<label for="npwd">Password</label>
			<input class="pw" type="password" id="npwd" name="npwd" autocomplete="off" required="required">
		</div>

		<div class="row">
			<div class="sixcol first">
				<!--<a href="#" class="icon-help"> Help </a>-->
				<input type="submit" value="Sign In">
				</form>			
			</div>

			<div class="last">

			</div>
		</div>

		</div><!--/#sharkform-->
	</div><!--/.threecol-->

	<div class="threecol">

	<!-- Broward Form
	======================
	--> <div id="browardform" class="login public-gradient">

			<div class="sixcol first">
				<img src="http://sherman.library.nova.edu/cdn/styles/css/brand/broward-logo(2x).png" alt="">
			</div>

			<div class="sixcol last">	
				<h4>
					Registered Broward County Patrons
				</h4>
			</div>

			<div class="row">
				<form action="." method="post">
				<input type="hidden" name="action" value="broward_log">    
				
				<label for="bpwd">Last Name (e.g. <b>Smith</b>)</label>
				<input type="text" id="bpwd" name="bpwd" placeholder="Smith" required="required">

				<label for="buid">Library Card Number</label>
				<input type="password" id="buid" name="buid" autocomplete="off" required="required">

				<input type="submit" value="Sign In">
				</form>
			</div>
		</div>

	</div>

	<div class="threecol">

	<!-- HPD Form
	======================
	--> <div id="hpdform" class="login HPD-gradient">

			<div class="sixcol first">
				<img src="http://sherman.library.nova.edu/cdn/styles/css/brand/shark-logo(2x).png" alt="">
			</div>

			<div class="sixcol last">	
				<h4>
					Alumni and NSU Affiliates
				</h4>
			</div>

			<div class="row">
				<form action="."  method="post">
				<input type="hidden" name="action" value="hpd_log">    

				<label for="hpwd">Last Name (e.g. <b>Doe</b>)</label>
				<input type="text" id="hpwd" name="hpwd" placeholder="Doe" required="required">

				<label for="huid">NSU or HPD ID</label>
				<input type="password" id="huid" name="huid" autocomplete="off" required="required">

				<input type="submit" value="Sign In">
				</form>
			</div>
		</div>    
	</div>

	<div class="threecol last">

	<!-- University School Form
	======================
	--> <div id="unsform" class="login UNS-gradient">

			<div class="sixcol first">
				<img src="http://sherman.library.nova.edu/cdn/styles/css/brand/uschool-logo(2x).png" alt="">
			</div>

			<div class="sixcol last">	
				<h4>
					University School Students
				</h4>
			</div>

			<div class="row">
				<form action="."  method="post">
				<input type="hidden" name="action" value="uns_log">
				
				<label for="uuid">U-School Student Login</label>
				<input type="text" id="uuid" name="uuid" required="required">
				
				<label for="upwd">Password</label>
				<input type="password" id="upwd" name="upwd" autocomplete="off" required="required">
				<input type="submit" value="Sign In">
				</form>
			</div>
		</div>   
	</div>
		
	</div>	
</div><!--/#content-->