.accordion {
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.16), 0 2px 10px -4px rgba(0, 0, 0, 0.12);
  position: relative;
}

.accordion__section__content {
  background-color: #fcfcfc;
  height: 0em;
  height: 0rem;
  overflow: hidden;
}

.accordion p {
  font-size: 18px;
}

.accordion__section:target .accordion__section__content,
.accordion__section--open .accordion__section__content {
  border-bottom: 1px solid #ddd;
  height: 10em;
  height: 10rem;
  padding: 1em;
  overflow-y: auto;
}

.accordion__section__title {
  background-color: white;
  border-bottom: 1px solid #ddd;
  border-left: 3px solid #e9e9e9;
  font-size: 18px;
  height: 3em;
  height: 3rem;
  margin: 0;
  padding: 1em;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.accordion__section__title:hover, .accordion__section__title:focus {
  border-left-color: #F3787A;
}

.accordion__section:last-child .accordion__section__title {
  border-bottom: none;
}

.accordion__section:target .accordion__section__title {
  border-left-color: #F3787A;
}

.list--alternate {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list--alternate li {
  padding: .25em .5em;
}
.list--alternate li:nth-of-type(even) {
  background-color: #f9f9f9;
}
