@charset "UTF-8";
/* ==================
 * Styles: Alvin Sherman [Public] Library
 * Author: Michael Schofield
 * ================== */
/* ==================
 * CONTENTS
 * ================== */
/* ==================
 */
/* ==================
 * $UTILITIES
 * ================== */
/* normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ================== 
 * $Typeplate */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026;
}

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C;
}

body {
  word-wrap: break-word;
}

pre code {
  word-wrap: normal;
}

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
	@include dropcap($dropcap-float-position, $dropcap-font-size, $dropcap-font-family, $dropcap-txt-indent, $dropcap-margin, $dropcap-padding, $dropcap-color, $dropcap-line-height, $dropcap-bg);
 *
 * Extend this object into your custom stylesheet. Let the variables do the work.
 *
 */
html {
  font: normal 112.5%/1.65 "Times New Roman", Times, serif;
}

body {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  color: #444444;
}

small {
  font-size: 65%;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
}

.tera {
  font-size: 117px;
  font-size: 6.5rem;
  margin-bottom: 0.25385rem;
}

.giga {
  font-size: 90px;
  font-size: 5rem;
  margin-bottom: 0.33rem;
}

.mega {
  font-size: 72px;
  font-size: 4rem;
  margin-bottom: 0.4125rem;
}

.alpha, h1 {
  font-size: 60px;
  font-size: 3.33333rem;
  margin-bottom: 0.495rem;
}

.beta, h2 {
  font-size: 48px;
  font-size: 2.66667rem;
  margin-bottom: 0.61875rem;
}

.gamma, h3 {
  font-size: 36px;
  font-size: 2rem;
  margin-bottom: 0.825rem;
}

.delta, h4 {
  font-size: 24px;
  font-size: 1.33333rem;
  margin-bottom: 1.2375rem;
}

.epsilon, h5 {
  font-size: 21px;
  font-size: 1.16667rem;
  margin-bottom: 1.41429rem;
}

.zeta, h6 {
  font-size: 18px;
  font-size: 1rem;
  margin-bottom: 1.65rem;
}

p {
  margin: auto auto 1.5em;
}

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
}

pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

pre {
  white-space: pre;
}

code {
  white-space: pre;
  font-family: monospace;
}

/**
 * Abbreviations Markup
 *
	<abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray;
}
abbr[title]:hover {
  cursor: help;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
}

p + .drop-cap {
  text-indent: 0;
  margin-top: 0;
}

.drop-cap:first-letter {
  float: left;
  margin: 0 0.125em -0.25em 0;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit;
}

/**
 * Lining Definition Style Markup
 *
	<dl class="lining">
		<dt><b></b></dt>
		<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.lining dt,
.lining dd {
  display: inline;
  margin: 0;
}
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre;
}
.lining dd + dd:before {
  content: ", ";
}
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem;
}

/**
 * Dictionary Definition Style Markup
 *
	<dl class="dictionary-style">
		<dt><b></b></dt>
			<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions;
}
.dictionary-style dt + dt:before {
  content: ", ";
  margin-left: -0.2rem;
}
.dictionary-style dd {
  display: block;
  counter-increment: definitions;
}
.dictionary-style dd:before {
  content: counter(definitions,decimal) ". ";
}

/**
 * Blockquote Markup
 *
		<figure>
			<blockquote cite="">
				<p></p>
			</blockquote>
			<figcaption>
				<cite>
					<small><a href=""></a></small>
				</cite>
			</figcaption>
		</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.pull-quote {
  position: relative;
  padding: 1em;
}
.pull-quote:before, .pull-quote:after {
  height: 1em;
  opacity: 0.5;
  position: absolute;
  font-size: 4em;
  color: #dc976e;
}
.pull-quote:before {
  content: '“';
  top: 0;
  left: 0;
}
.pull-quote:after {
  content: '”';
  bottom: 0;
  right: 0;
}

/**
 * Figures Markup
 *
	<figure>
		<figcaption>
			<strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
		</figcaption>
	</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
	<article>
		<p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
		<footer>
			<ol class="foot-notes">
				<li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
			</ol>
		</footer>
	</article>
 *
 * Extend this object into your markup.
 *
 */
/* ==================
 * Icon Font
 * ================== */
@font-face {
  font-family: 'icomoon';
  src: url("//sherman.library.nova.edu/cdn/styles/css/fonts/icons/icomoon.eot");
  src: url("//sherman.library.nova.edu/cdn/styles/css/fonts/icons/icomoon.eot?#iefix") format("embedded-opentype"), url("//sherman.library.nova.edu/cdn/styles/css/fonts/icons/icomoon.woff") format("woff"), url("//sherman.library.nova.edu/cdn/styles/css/fonts/icons/icomoon.svg#icomoon") format("svg"), url("//sherman.library.nova.edu/cdn/styles/css/fonts/icons/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 0;
  position: relative;
}

.icon-alert:before {
  content: "O";
}

.icon-arrow-left:before {
  content: "s";
}

.icon-arrow-right-2:before {
  content: "q";
}

.icon-bar:before {
  content: "=";
}

.icon-beaker:before {
  content: "a";
}

.icon-book:before {
  content: "+";
}

.icon-books:before {
  content: ",";
}

.icon-bubbles:before {
  content: "7";
}

.icon-calendar:before {
  content: "P";
}

.icon-cancel:before {
  content: "k";
}

.icon-cancel-2:before {
  content: "l";
}

.icon-checkmark:before {
  content: "m";
}

.icon-chrome:before {
  content: "E";
}

.icon-clock:before {
  content: "M";
}

.icon-code:before {
  content: "F";
}

.icon-coffee:before {
  content: "^";
}

.icon-cog:before {
  content: "]";
}

.icon-comments:before {
  content: "V";
}

.icon-credit:before {
  content: "0";
}

.icon-directions:before {
  content: "L";
}

.icon-ie:before {
  content: "C";
}

.icon-facebook:before {
  content: "u";
}

.icon-facebook-2:before {
  content: "v";
}

.icon-feed:before {
  content: "|";
}

.icon-film:before {
  content: "\'";
}

.icon-fire:before {
  content: "`";
}

.icon-firefox:before {
  content: "D";
}

.icon-happy:before {
  content: "e";
}

.icon-help:before {
  content: "i";
}

.icon-help-2:before {
  content: "{i}";
}

.icon-home:before {
  content: "\21";
}

.icon-info:before {
  content: "j";
}

.icon-keyboard:before {
  content: "4";
}

.icon-key:before {
  content: "Y";
}

.icon-leaf:before {
  content: "?";
}

.icon-library:before {
  content: "-";
}

.icon-link:before {
  content: "@";
}

.icon-locked:before {
  content: "[";
}

.icon-mail:before {
  content: "J";
}

.icon-marker:before {
  content: "K";
}

.icon-map:before {
  content: "3";
}

.icon-pinterest:before {
  content: "z";
}

.icon-podcast:before {
  content: ")";
}

.icon-twitter:before {
  content: "w";
}

.icon-rss:before {
  content: "x";
}

.icon-screen:before {
  content: "5";
}

.icon-mobile:before {
  content: "Q";
}

.icon-neutral:before {
  content: "g";
}

.icon-office:before {
  content: "\"";
}

.icon-pencil:before {
  content: "H";
}

.icon-phone:before {
  content: "I";
}

.icon-play:before {
  content: "&";
}

.icon-plus:before {
  content: "o";
}

.icon-rocket:before {
  content: "_";
}

.icon-safari:before {
  content: "A";
}

.icon-search:before {
  content: "X";
}

.icon-smiley:before {
  content: "f";
}

.icon-stats:before {
  content: ">";
}

.icon-thumbs-up:before {
  content: "d";
}

.icon-thumbs-down:before {
  content: "h";
}

.icon-unlocked:before {
  content: "Z";
}

.icon-user:before {
  content: "\2190";
}

.icon-users:before {
  content: "\3b";
}

.icon-wifi:before {
  content: "*";
}

.icon-grid-view:before {
  content: "c";
}

/* ==================
 * $Variables */
/* ==================
 * $Colors 
 */
/* ==================
 * Color Variables
 */
.universal {
  border-bottom: 5px solid #50afdf !important;
}

/* ==================
 * Gradients */
.tinsley-gradient {
  background: #069;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMjEzNDhhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMzM2NmNjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmYmFmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(1%, #006699), color-stop(50%, #3366cc), color-stop(100%, #1fbaf2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-linear-gradient(315deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
  background: linear-gradient(135deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#069', endColorstr='#1fbaf2',GradientType=1 );
  /* IE6-8 fallback on horizontal gradient */
}

@media only screen and (min-width: 62.5em) {
  .tinsley-gradient {
    background: #069;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMjEzNDhhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMzM2NmNjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmYmFmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    /* FF3.6+ */
    background: url("media/water-background(1000).png") top right no-repeat, -webkit-gradient(linear, left top, right bottom, color-stop(1%, #006699), color-stop(50%, #3366cc), color-stop(100%, #1fbaf2));
    /* Chrome,Safari4+ */
    background: url("media/water-background(1000).png") top right no-repeat, -webkit-linear-gradient(-45deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: url("media/water-background(1000).png") top right no-repeat, -webkit-linear-gradient(315deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
    background: url("media/water-background(1000).png") top right no-repeat, linear-gradient(135deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#069', endColorstr='#1fbaf2',GradientType=1 );
    /* IE6-8 fallback on horizontal gradient */
  }
}
@media only screen and (min-width: 67.5em) {
  .tinsley-gradient {
    background: #069;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMjEzNDhhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMzM2NmNjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmYmFmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    /* FF3.6+ */
    background: url("media/water-background(1080).png") top right no-repeat, -webkit-gradient(linear, left top, right bottom, color-stop(1%, #006699), color-stop(50%, #3366cc), color-stop(100%, #1fbaf2));
    /* Chrome,Safari4+ */
    background: url("media/water-background(1080).png") top right no-repeat, -webkit-linear-gradient(-45deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: url("media/water-background(1080).png") top right no-repeat, -webkit-linear-gradient(315deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
    background: url("media/water-background(1080).png") top right no-repeat, linear-gradient(135deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#069', endColorstr='#1fbaf2',GradientType=1 );
    /* IE6-8 fallback on horizontal gradient */
  }
}
@media only screen and (min-width: 75em) {
  .tinsley-gradient {
    background: #069;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMjEzNDhhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMzM2NmNjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmYmFmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    /* FF3.6+ */
    background: url("media/water-background.png") top right no-repeat, -webkit-gradient(linear, left top, right bottom, color-stop(1%, #006699), color-stop(50%, #3366cc), color-stop(100%, #1fbaf2));
    /* Chrome,Safari4+ */
    background: url("media/water-background.png") top right no-repeat, -webkit-linear-gradient(-45deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: url("media/water-background.png") top right no-repeat, -webkit-linear-gradient(315deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
    background: url("media/water-background.png") top right no-repeat, linear-gradient(135deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#069', endColorstr='#1fbaf2',GradientType=1 );
    /* IE6-8 fallback on horizontal gradient */
  }
}
@media only screen and (min-width: 83.125em) {
  .tinsley-gradient {
    background: #069;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMjEzNDhhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMzM2NmNjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmYmFmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    /* FF3.6+ */
    background: url("media/water-background(1366).png") top right no-repeat, -webkit-gradient(linear, left top, right bottom, color-stop(1%, #006699), color-stop(50%, #3366cc), color-stop(100%, #1fbaf2));
    /* Chrome,Safari4+ */
    background: url("media/water-background(1366).png") top right no-repeat, -webkit-linear-gradient(-45deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: url("media/water-background(1366).png") top right no-repeat, -webkit-linear-gradient(315deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
    background: url("media/water-background(1366).png") top right no-repeat, linear-gradient(135deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#069', endColorstr='#1fbaf2',GradientType=1 );
    /* IE6-8 fallback on horizontal gradient */
  }
}
@media only screen and (min-width: 90.625em) {
  .tinsley-gradient {
    background: #069;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMjEzNDhhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMzM2NmNjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmYmFmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    /* FF3.6+ */
    background: url("media/water-background(1550).png") top right no-repeat, -webkit-gradient(linear, left top, right bottom, color-stop(1%, #21348a), color-stop(50%, #3366cc), color-stop(100%, #1fbaf2));
    /* Chrome,Safari4+ */
    background: url("media/water-background(1550).png") top right no-repeat, -webkit-linear-gradient(-45deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: url("media/water-background(1550).png") top right no-repeat, -webkit-linear-gradient(315deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
    background: url("media/water-background(1550).png") top right no-repeat, linear-gradient(135deg, #006699 1%, #3366cc 50%, #1fbaf2 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#069', endColorstr='#1fbaf2',GradientType=1 );
    /* IE6-8 fallback on horizontal gradient */
  }
}
/* ==================
 * $MEDIA-QUERY VARIABLES
 * Base font of 16px. */
/* ==================
 * $Mixins */
/* ==================
 * $MIXINS
 * ================== */
/* ==================
 * Helper Classes */
.hide-text {
  line-height: 0;
  font-size: 0;
  color: transparent;
}

.shadow {
  box-shadow: 0 5px 11px rgba(0, 0, 0, 0.3);
}

.small-caps {
  font-variant: small-caps;
  font-weight: normal;
  text-transform: lowercase;
  color: #006699;
}

.no-margin {
  margin: 0;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.checkbox-toggle {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.force-ratio {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

/* ====================== *
 * Media Query
 * ====================== */
/* ====================== *
 * @include breakpoint(palm) { style shere } */
/* ==================
 * CSS Transitions
 * ================== */
/* @include transition(all,2s,ease-out); */
.event > .image,
.event .card,
.panel,
.slide-panel-menu,
.feature-event article header,
.top-menu {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* ==================
 * $OBJECTS
 * ================== */
/* ==================
 * $BUTTONS
 */
a.button, label.button {
  border: 0 none;
  border-radius: 4px;
  color: white !important;
  cursor: pointer;
  margin: 1em 0;
  text-decoration: none;
  padding: 1em 2em;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
a.button:hover, a.button:active, label.button:hover, label.button:active {
  text-decoration: none;
}
a.button.tinsley, label.button.tinsley {
  background-color: #006699;
}
a.button.tinsley:hover, a.button.tinsley:active, a.button.tinsley:focus, label.button.tinsley:hover, label.button.tinsley:active, label.button.tinsley:focus {
  background-color: #0085c7;
}
a.button.base, label.button.base {
  background-color: #313547;
}
a.button.base:hover, a.button.base:active, a.button.base:focus, label.button.base:hover, label.button.base:active, label.button.base:focus {
  background-color: #444962;
}
a.button.green, label.button.green {
  background-color: #21aabd;
}
a.button.green:hover, a.button.green:active, a.button.green:focus, label.button.green:hover, label.button.green:active, label.button.green:focus {
  background-color: #31c6db;
}
a.button.orange, label.button.orange {
  background-color: #ffae3d;
}
a.button.orange:hover, a.button.orange:active, a.button.orange:focus, label.button.orange:hover, label.button.orange:active, label.button.orange:focus {
  background-color: #ffc16b;
}
a.button.coral, label.button.coral {
  background-color: #e2624f;
}
a.button.coral:hover, a.button.coral:active, a.button.coral:focus, label.button.coral:hover, label.button.coral:active, label.button.coral:focus {
  background-color: #e88576;
}

.contrast-against-white a.button {
  background-color: #e2624f;
  color: white !important;
}
.contrast-against-white a.button:hover, .contrast-against-white a.button:active {
  background-color: #e88576;
}
.contrast-against-white a.button.orange {
  background-color: #ffae3d;
}
.contrast-against-white a.button.orange:hover, .contrast-against-white a.button.orange:active {
  background-color: #ffc16b;
}

.contrast-against-dark a.button {
  background-color: #4b5971;
  color: white;
}
.contrast-against-dark a.button:hover, .contrast-against-dark a.button:active {
  background-color: #5d6f8d;
  color: white;
}

/* ==================
 * $FORMS
 * ================== */
/* ==================
 * $SEARCH 
 */
.search {
  /* ==================
   * Catalog */
}
.search input[type="search"], .search input[type="text"] {
  border-radius: 4px 0 0 5px;
  -webkit-appearance: none !important;
  border-style: none;
  color: #454545;
  min-height: 36px;
  padding: 0 .25em;
  margin-right: -5px;
  width: 90%;
}
@media only screen and (min-width: 45em) {
  .search input[type="search"], .search input[type="text"] {
    outline: 1px solid #e9e9e9;
    outline-offset: -1px;
  }
}
.search input[type="submit"] {
  background-color: #f2f2f2;
  border-radius: 0 5px 5px 0;
  border-style: none;
  color: #555;
  min-height: 36px;
  margin-top: 10px;
}
.search.catalog {
  background-color: white;
  padding: .5em 0;
  position: relative;
  z-index: 1;
}

/* ==================
 * Search in Header */
header .search, .universal .search {
  text-align: center;
}
@media only screen and (min-width: 45em) {
  header .search, .universal .search {
    text-align: right;
  }
}
header .search input[type="text"], header .search input[type="search"], .universal .search input[type="text"], .universal .search input[type="search"] {
  border-color: #e9e9e9;
  border-width: 1px;
  border-style: solid;
  width: 75%;
}
header .search input[type="submit"], .universal .search input[type="submit"] {
  min-height: 38px;
  min-width: 35px;
}
@media only screen and (min-width: 64em) {
  header .search input[type="text"], header .search input[type="search"], .universal .search input[type="text"], .universal .search input[type="search"] {
    border-style: none;
    width: 235px;
  }
  header .search input[type="submit"], .universal .search input[type="submit"] {
    min-height: 36px;
  }
}

.universal .search {
  display: none;
}
@media only screen and (min-width: 64.375em) {
  .universal .search {
    display: block;
    margin-top: 4em;
  }
}

.search .input[type="text"],
.search .input[type="search"] {
  outline: 1px solid #e9e9e9;
  outline-offset: -1px;
}

@media only screen and (min-width: 77.5em) {
  .site-search label, .site-search .input {
    position: relative;
  }
  .site-search label {
    float: left;
    margin-left: 0;
    width: 31.491712705%;
  }
  .site-search .input {
    float: right;
    margin-left: 2.762430939%;
    width: 65.74585634900001%;
  }
}

/* ==================
 * $MENU 
 */
.menu {
  padding: 0;
}
.menu ul {
  list-style-type: none;
}

/* ==================
 * Large, Top Menu
 * ================== */
.top-menu {
  display: none;
  overflow: hidden;
}
@media only screen and (min-width: 64.375em) {
  .top-menu {
    background-color: #313547;
    display: block;
    height: 0;
    visibility: hidden;
  }
  .top-menu a, .top-menu a:visited {
    color: #91cdeb;
    text-decoration: none;
  }
  .top-menu a:hover, .top-menu a:active, .top-menu a:visited:hover, .top-menu a:visited:active {
    color: #b8dff2;
  }
  .top-menu .menu {
    padding: 0;
  }
  .top-menu .menu > li {
    float: left;
    margin-right: 3em;
    list-style-type: none;
  }
  .top-menu .menu > li:last-child {
    margin-right: 0;
  }
  .top-menu .menu > li > a {
    color: white;
    font-size: 1.1667em;
  }
  .top-menu .sub-menu {
    border-left: 2px solid white;
    padding: 0 0 0 1em;
  }
  .top-menu small {
    color: white;
    display: block;
    position: relative;
    top: -.25em;
  }
  .top-menu .current-page-ancestor > a,
  .top-menu .current-menu-item > a {
    color: white;
  }
  .top-menu .current-page-ancestor .current-menu-item:before {
    color: #e2624f;
    content: "K";
    font-family: "icomoon";
    position: absolute;
    margin-left: -1.25em;
  }
  .top-menu .current-page-ancestor .current-menu-item {
    padding-left: 1em;
  }
}
.top-menu #menu-top-menu {
  zoom: 1;
}
.top-menu #menu-top-menu:before, .top-menu #menu-top-menu:after {
  content: "";
  display: table;
}
.top-menu #menu-top-menu:after {
  clear: both;
}

input[id="top-menu"]:checked ~ .top-menu {
  height: 15em;
  visibility: visible;
}

.badges {
  display: inline-block;
}
.badges a, .badges a:visited {
  color: #e9e9e9;
}

/* ==================
 * Sub-Menu */
.menu .has-subnav > .sub-menu {
  background-color: white;
  border: 1px solid #e9e9e9;
  color: #444444;
  left: 0;
  margin-top: 1em;
  padding: 0 .5em;
  position: absolute;
  text-align: left;
  z-index: 2;
}
.menu .has-subnav > .sub-menu:before {
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
  border-bottom: .5em solid white;
  content: "";
  left: 1em;
  margin-top: -.5em;
  height: 0;
  position: absolute;
  width: 0;
}
@media only screen and (min-width: 45em) {
  .menu .has-subnav > .sub-menu {
    border-radius: 4px;
    left: auto;
  }
}
.menu .has-subnav > .sub-menu a, .menu .has-subnav > .sub-menu a:visited {
  color: #313547;
}
.menu .has-subnav > .sub-menu a:hover, .menu .has-subnav > .sub-menu a:active, .menu .has-subnav > .sub-menu a:visited:hover, .menu .has-subnav > .sub-menu a:visited:active {
  color: #444962;
}
.menu .has-subnav > .sub-menu li {
  border-bottom: 1px solid #e9e9e9;
  padding: 1em 0;
}
@media only screen and (min-width: 45em) {
  .menu .has-subnav > .sub-menu li {
    padding: .5em 0;
  }
}
.menu .has-subnav > .sub-menu li:last-child {
  border-bottom: none;
}

.js .has-subnav > .sub-menu {
  display: none;
}

.white .pill-menu .secondary > .label:before,
.kids .pill-menu .secondary > .label:before {
  border-left: 18px solid white;
}

.pill-menu > ul > li {
  display: inline-block;
}
.pill-menu .primary > .label,
.pill-menu .secondary > .label {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  padding: .5em;
  position: relative;
}
.pill-menu .sub-menu {
  width: 100%;
}
.pill-menu .primary > .label {
  border-radius: 5px 0 0 5px;
}
.pill-menu .primary > .label:after {
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid #50afdf;
  content: "";
  right: -1em;
  top: 0;
  position: absolute;
  z-index: 1;
}
.pill-menu .secondary > .label {
  border-radius: 0 5px 5px 0;
  margin-left: 0;
  padding-left: 25px;
}
.pill-menu .secondary > .label:before {
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid #91cdeb;
  content: "";
  height: 0;
  left: 0;
  top: 0;
  position: absolute;
  width: 0;
  z-index: 0;
}
.pill-menu .secondary > .teens-toggle:before {
  border-bottom: 0 solid transparent;
  border-top: 38px solid transparent;
  border-left: 18px solid #91cdeb;
  content: "";
  height: 0;
  left: 0;
  top: 0;
  position: absolute;
  width: 0;
  z-index: 0;
}
.pill-menu input[id="primary-menu"]:checked ~ .sub-menu,
.pill-menu input[id="secondary-menu"]:checked ~ .sub-menu {
  display: block;
}

.header.kids .pill-menu .primary > .label {
  background-color: #ffae3d;
}
.header.kids .pill-menu .primary > .label:after {
  border-left-color: #ffae3d;
}

.header.kids .pill-menu .secondary > .label {
  background-color: #e2624f;
}

.header.kids {
  border-bottom-color: #e2624f;
}

/* ==================
 * $Drop-Down Menu */
.drop-down {
  display: none;
}
@media only screen and (min-width: 64.375em) {
  .drop-down {
    color: #444444;
    display: inline;
    margin: 0;
    padding-left: .5em;
  }
  .drop-down > li {
    border-right: 2px solid #91cdeb;
    display: inline-block;
    padding: 0 1em;
  }
  .drop-down > li:first-child {
    padding-left: 0;
  }
  .drop-down > li:last-child {
    border-right: none;
  }
  .drop-down .sub-menu {
    background-color: white;
    display: none;
    list-style-type: none;
    margin-top: 3px;
    padding: 0;
    position: absolute;
  }
  .drop-down .sub-menu > li {
    border-left: 6px solid #006699;
    border-bottom: 2px solid #313547;
    padding: 0 1em;
  }
}

.no-js .drop-down > li:hover .sub-menu {
  display: block;
}

.sidebar .menu {
  list-style-type: none;
  margin: 0;
}
.sidebar .menu .sub-menu {
  padding: 0;
}
.sidebar .menu li a {
  border-bottom: 2px solid #e9e9e9;
  display: block;
  padding: .5em;
}
.sidebar .menu li:last-child a {
  border-bottom: none;
}

/* ==================
 * Browse List 
 */
.browse-subjects {
  padding: 0 .5em;
}
.browse-subjects li {
  list-style-type: none;
}
.browse-subjects > .cat-item {
  margin-bottom: 1em;
}
.browse-subjects > .cat-item > a {
  font-size: 2em;
}
.browse-subjects .cat-item a {
  text-decoration: none;
}
.browse-subjects .cat-item .children li {
  display: inline-block;
  width: 32%;
}

/* ==================
 * $Slide-Panel Menu
 * ================== */
.slide-panel > label {
  display: block;
  margin-top: 0;
  padding: .5em;
  text-align: center;
}
@media only screen and (min-width: 45em) {
  .slide-panel > label {
    float: right;
    margin: .5em auto;
    padding: .5em 2em;
  }
}
@media only screen and (min-width: 45em) {
  .slide-panel.polar {
    float: right;
  }
}
@media only screen and (min-width: 45em) {
  .slide-panel.polar > label {
    float: none;
  }
}
@media only screen and (min-width: 64.375em) {
  .slide-panel .checkbox-toggle, .slide-panel .label {
    display: none;
  }
}

.slide-panel-menu {
  background-color: #313547;
  border-left: 10px solid #455268;
  bottom: 0;
  position: fixed;
  right: -100%;
  overflow-y: auto;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 5;
}
.slide-panel-menu .menu li {
  border-top: 1px solid white;
}
.slide-panel-menu .menu li a {
  color: white;
  padding: .5em 1em 0;
}
.slide-panel-menu > label {
  cursor: pointer;
  font-size: 2em;
}
.slide-panel-menu .menu-mobile-fly-out {
  padding: 0;
}
.slide-panel-menu label {
  color: #e9e9e9;
}
@media only screen and (min-width: 45em) {
  .slide-panel-menu {
    width: 50%;
  }
  .slide-panel-menu .menu-mobile-menu-container {
    width: 100%;
  }
}
@media only screen and (min-width: 64.375em) {
  .slide-panel-menu {
    background-color: transparent;
    border: none;
    position: static;
    width: auto;
  }
  .slide-panel-menu .menu-mobile-fly-out-container {
    display: none;
  }
}
.slide-panel-menu ul li {
  list-style-type: none;
  margin: 0 auto 1em;
}
.slide-panel-menu ul li a {
  display: block;
  padding: .25em .5em;
}
.slide-panel-menu ul li .sub-menu {
  margin: .5em auto;
}
.slide-panel-menu ul li .sub-menu li {
  margin-bottom: .5em;
}

.slide-panel input.checkbox-toggle:checked ~ .slide-panel-menu {
  right: 0;
}

/* ==================
 * Fallback */
/* ==================
 * $PANELS
 * ================== */
.panel {
  display: block;
  float: left;
  height: 250px;
  position: relative;
  width: 50%;
  /* ==================
   * Status Buttons
   */
}
.panel a.button {
  color: white !important;
  display: block;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  word-wrap: normal;
}
.panel a.button.align-bottom {
  bottom: 10%;
}
@media only screen and (min-width: 45em) {
  .panel a.button {
    border: 2px solid white;
    left: 10%;
    right: 10%;
    width: 80%;
  }
}
@media only screen and (min-width: 64em) {
  .panel a.button {
    font-size: 21px;
    font-size: 1.16667rem;
  }
}
.panel.ask, .panel.audiobooks, .panel.bus, .panel.books, .panel.books, .panel.compose, .panel.catalog, .panel.citation-management, .panel.dictionary, .panel.ebooks, .panel.event, .panel.games, .panel.genealogy, .panel.guides, .panel.heart, .panel.help, .panel.homework-helpers, .panel.kids, .panel.library-card, .panel.movies, .panel.music, .panel.new-and-good, .panel.periodical, .panel.piechart, .panel.research, .panel.scholar, .panel.support, .panel.teens, .panel.status-hours, .panel.status-calendar, .panel.status-contact, .panel.status-directions {
  background-image: url("media/sprite.png");
  background-repeat: no-repeat;
}
.panel.ask {
  background: #006699 url("media/ask.png") no-repeat center 1em;
}
.panel.ask:hover {
  background-color: #0077b3;
}
.panel.ask .button:hover {
  background-color: #0085c7;
}
.panel.audiobooks {
  background: #61d4e4 url("media/music.png") no-repeat center 1em;
}
.panel.audiobooks:hover {
  background-color: #77dae8;
}
.panel.audiobooks .button:hover {
  background-color: #88dfeb;
}
.panel.bus {
  background: #75d4ba url("media/bus.png") no-repeat center 1em;
}
.panel.bus:hover {
  background-color: #88dac4;
}
.panel.bus .button:hover {
  background-color: #98dfcb;
}
.panel.books {
  background: #e2624f url("media/dictionary(2x).png") no-repeat center 1em;
}
.panel.books:hover {
  background-color: #e67665;
}
.panel.books .button:hover {
  background-color: #e88576;
}
.panel.compose {
  background: #61d4e4 url("media/compose.png") no-repeat center 1em;
}
.panel.compose:hover {
  background-color: #e67665;
}
.panel.compose .button:hover {
  background-color: #e88576;
}
.panel.catalog {
  background: #61d4e4 url("media/search(2x).png") no-repeat center 1em;
}
.panel.catalog:hover {
  background-color: #77dae8;
}
.panel.catalog .button:hover {
  background-color: #88dfeb;
}
.panel.citation-management {
  background: #4cc3ff url("media/compose.png") no-repeat center 1em;
}
.panel.citation-management:hover {
  background-color: #77dae8;
}
.panel.citation-management .button:hover {
  background-color: #88dfeb;
}
.panel.dictionary {
  background: transparent url("media/dictionary(2x).png") no-repeat center 1em;
}
.panel.ebooks {
  background: #1fbaf2 url("media/ebooks.png") no-repeat center 1em;
}
.panel.ebooks:hover {
  background-color: #37c1f3;
}
.panel.ebooks .button:hover {
  background-color: #4ac7f5;
}
.panel.event {
  background: #21aabd url("media/event(2x).png") no-repeat center 1em;
}
.panel.event:hover {
  background-color: #25bed3;
}
.panel.event .button:hover {
  background-color: #31c6db;
}
.panel.games {
  background: #ffae3d url("media/games(2x).png") no-repeat center 1em;
}
.panel.games:hover {
  background-color: #ffb957;
}
.panel.games .button:hover {
  background-color: #ffc16b;
}
.panel.genealogy {
  background: #21aabd url("media/genealogy.png") no-repeat center 1em;
}
.panel.genealogy:hover {
  background-color: #25bed3;
}
.panel.genealogy .button:hover {
  background-color: #31c6db;
}
.panel.guides {
  background: #50afdf url("media/guides.png") no-repeat center 1em;
}
.panel.guides:hover {
  background-color: #66b9e3;
}
.panel.guides .button:hover {
  background-color: #77c1e6;
}
.panel.heart {
  background: #e2624f url("media/heart.png") no-repeat center 1em;
}
.panel.heart:hover {
  background-color: #e67665;
}
.panel.heart .button:hover {
  background-color: #e88576;
}
.panel.help {
  background: #21aabd url("media/help.png") no-repeat center 1em;
}
.panel.help:hover {
  background-color: #25bed3;
}
.panel.help .button:hover {
  background-color: #31c6db;
}
.panel.homework-helpers {
  background: #ffae3d url("media/scholar(2x).png") no-repeat center 1em;
}
.panel.homework-helpers:hover {
  background-color: #ffb957;
}
.panel.homework-helpers .button:hover {
  background-color: #ffc16b;
}
.panel.kids {
  background: #e2624f url("media/kids(2x).png") no-repeat center 1em;
}
.panel.kids:hover {
  background-color: #e46e5c;
}
.panel.kids .button:hover {
  background-color: #e88576;
}
.panel.library-card {
  background-color: #3EBED6;
}
.panel.library-card:hover {
  background-color: #4bc2d9;
}
.panel.library-card .button:hover {
  background-color: #64cbde;
}
.panel.movies {
  background: #555555 url("media/movies.png") no-repeat center 1em;
}
.panel.movies:hover {
  background-color: #626262;
}
.panel.movies .button:hover {
  background-color: #6c6c6c;
}
.panel.music {
  background: #75d4ba url("media/record.png") no-repeat center 1em;
}
.panel.music:hover {
  background-color: #88dac4;
}
.panel.music .button:hover {
  background-color: #98dfcb;
}
.panel.new-and-good {
  background: #4cc3ff url("media/picks(2x).png") no-repeat center 1em;
}
.panel.new-and-good:hover {
  background-color: #6ed8e6;
}
.panel.new-and-good .button:hover {
  background-color: #88dfeb;
}
.panel.periodical {
  background: #006699 url("media/periodical.png") no-repeat center 1em;
}
.panel.periodical:hover {
  background-color: #0077b3;
}
.panel.periodical .button:hover {
  background-color: #0085c7;
}
.panel.piechart {
  background: #555555 url("media/piechart.png") no-repeat center 1em;
}
.panel.piechart:hover {
  background-color: #626262;
}
.panel.piechart .button:hover {
  background-color: #6c6c6c;
}
.panel.research {
  background: #4b5971 url("media/scholar(2x).png") no-repeat center 1em;
}
.panel.research:hover {
  background-color: #556580;
}
.panel.research .button:hover {
  background-color: #5d6f8d;
}
.panel.scholar {
  background: #ffae3d url("media/scholar(2x).png") no-repeat center 1em;
}
.panel.support {
  background: #006699 url("media/support.png") no-repeat center 1em;
}
.panel.support:hover {
  background-color: #0077b3;
}
.panel.support .button:hover {
  background-color: #0085c7;
}
.panel.teens {
  background: #ffae3d url("media/rocket.png") no-repeat center 1em;
}
.panel.teens:hover {
  background-color: #ffb957;
}
.panel.teens .button:hover {
  background-color: #ffc16b;
}
.panel.status-hours {
  background: url("media/hours(2x).png") no-repeat center center;
}
.panel.status-calendar {
  background: url("media/support.png") no-repeat center center;
}
.panel.status-contact {
  background: url("media/contact(2x).png") no-repeat center center;
}
.panel.status-directions {
  background: url("media/directions(2x).png") no-repeat center center;
}
@media only screen and (min-width: 64em) {
  .panel.status-hours, .panel.status-calendar, .panel.status-contact, .panel.status-directions {
    background-size: 50%;
  }
  .panel.status-hours:hover, .panel.status-calendar:hover, .panel.status-contact:hover, .panel.status-directions:hover {
    background-size: 60%;
  }
}
.panel .label {
  bottom: 0;
  color: #455268;
  position: absolute;
  left: 0;
  right: 0;
}

.sidebar .panel {
  height: 150px;
  width: 50%;
}

/* ==================
 * NSU Libraries Menu
 * ================== */
.universal {
  background-color: #313547;
  border-bottom: 10px solid #455268;
  color: #e9e9e9;
  display: none;
}
.universal.tinsley-gradient {
  border-bottom: 5px solid #50afdf;
}
@media only screen and (min-width: 45em) {
  .universal {
    display: block;
  }
}
.universal .menu {
  margin: 0;
}
.universal .nsu {
  color: white;
  text-transform: uppercase;
}
.universal .has-subnav {
  border-right: 1px solid #455268;
  display: inline-block;
  font-size: .9em;
  padding: 0 .5em;
}
@media only screen and (min-width: 45em) {
  .universal .has-subnav {
    float: right;
  }
}
.universal .has-subnav:before {
  color: #455268;
  top: 2px;
}
.universal label {
  color: #e9e9e9;
  cursor: pointer;
}
.universal label:hover, .universal label:active {
  text-decoration: underline;
  color: #0085c7;
}
.universal input.checkbox-toggle:checked ~ .sub-menu {
  display: block;
}
.universal .menu .has-subnav > .sub-menu {
  background-color: #455268;
  border: 1px solid #313547;
  margin-top: .1em;
  right: 0;
  width: 75%;
}
.universal .menu .has-subnav > .sub-menu:before {
  border-bottom: transparent;
}
.universal .menu .has-subnav > .sub-menu li a {
  color: white;
}
.universal .universal-link {
  color: #e9e9e9;
}

/* ==================
 * $MEDIA Object
 */
.media img, .media video, .media .fluid-embed-wrapper {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.media ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.media .fluid-embed-wrapper {
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}
.media .fluid-embed-wrapper iframe {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

/* ==================
 * $Images - Thumbnails
 */
.thumbnail {
  border-radius: 4px;
  margin: 0;
  position: relative;
}
.thumbnail img {
  vertical-align: bottom;
}

.thumbnail--overlay header {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: rgba(49, 53, 71, 0.975);
  bottom: 0;
  left: 50%;
  right: 0;
  opacity: 0;
  overflow: hidden;
  padding: .5em;
  position: absolute;
  top: 0;
}
.thumbnail--overlay:hover > header, .thumbnail--overlay:focus > header, .thumbnail--overlay:active > header {
  opacity: 1;
}

.thumbnail--gallery a {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: .75;
}
.thumbnail--gallery .caption {
  background-color: #313547;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: white;
  display: inline-block;
  top: -1.6em;
  position: relative;
  text-align: center;
  width: 100%;
}
.thumbnail--gallery img {
  border-radius: 4px;
}
.thumbnail--gallery a:hover {
  opacity: 1;
}
.thumbnail--gallery a:hover img {
  box-shadow: 2px 4px 16px #313547;
}

.thumbnail--browser-frame a {
  display: block;
  padding: 43px 8px 10px;
  position: relative;
  z-index: 1;
}
.thumbnail--browser-frame a:before {
  border-radius: 2px;
  content: attr(data-title);
  display: block;
  height: 22px;
  left: 66px;
  padding-left: .5em;
  position: absolute;
  right: 8px;
  top: 10px;
}
.thumbnail--browser-frame a:after {
  content: attr(data-caption);
  position: absolute;
  margin-top: -1em;
  opacity: 1;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  z-index: -1;
}
.thumbnail--browser-frame:before, .thumbnail--browser-frame:after {
  content: "";
  border-radius: 50%;
  display: block;
  height: 15px;
  left: 8px;
  position: absolute;
  top: 12px;
  width: 15px;
}
.thumbnail--browser-frame:after {
  left: 32px;
}
.thumbnail--browser-frame:hover {
  background-color: #f7f7f7;
}
.thumbnail--browser-frame:hover:before, .thumbnail--browser-frame:hover:after {
  border-color: #e1e1e1;
}
.thumbnail--browser-frame:hover a:after {
  margin-top: .75em;
  opacity: 1;
}

.contrast-against-dark.thumbnail {
  background-color: white;
  border: 1px solid #e9e9e9;
}
.contrast-against-dark.thumbnail--browser-frame:before, .contrast-against-dark.thumbnail--browser-frame:after {
  background-color: white;
  border: 1px solid #e9e9e9;
}
.contrast-against-dark.thumbnail--browser-frame a:before {
  background-color: white;
  border: 1px solid #e9e9e9;
  color: #ddd;
}
.contrast-against-dark.thumbnail--browser-frame a:after {
  color: white;
}

.mejs-container, .mejs-embed, .mejs-embed body {
  background: white;
  border-radius: 4px;
}
.mejs-container video, .mejs-embed video, .mejs-embed body video {
  border-radius: 4px;
}

/* ==================
 * $LISTS
 */
.feed {
  list-style-type: none;
  padding: 0;
}
.feed li {
  border-bottom: 2px solid #313547;
  padding: .5em 0;
}
.feed li:last-child {
  border-bottom: none;
}
.feed li.has-date-stamp {
  border: none;
  padding-top: 0;
  padding-bottom: 2em;
}
.feed li a {
  color: #006699;
}
.feed p {
  margin-bottom: 0;
}

/* ==================
 * $SHAPES
 */
/* ==================
 * $Date Stamp */
.date-stamp {
  display: none;
}
@media only screen and (min-width: 45em) {
  .date-stamp {
    background-color: #4b5971;
    border-radius: 4px;
    display: block;
    float: left;
    margin: .5em 1em 5em 0;
    padding: 0 20px 10px;
  }
}
.date-stamp time {
  background-color: #e2624f;
  border: .6em solid white;
  border-radius: 100%;
  display: block;
  height: 8em;
  margin-top: -50%;
  position: relative;
  width: 8em;
}
.date-stamp time span {
  bottom: 33%;
  color: white;
  display: block;
  font-size: 1.1667em;
  left: 23%;
  position: absolute;
}
.date-stamp .event-date {
  padding: .5em 0;
}
.date-stamp .date {
  color: white;
  font-size: 1.1667em;
}
.date-stamp .day {
  color: #e9e9e9;
  text-transform: uppercase;
}

/* ==================
 * $LAYOUT
 * ================== */
.wrap {
  margin: 0 auto;
  width: 98%;
}
@media only screen and (min-width: 45em) {
  .wrap {
    max-width: 1140px;
    width: 90%;
  }
}

@media only screen and (min-width: 45em) {
  .row {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  /*
      This is a combination of the 1140 grid and Twitter Boostrap.
      I liked 1140 but Boostrap's grid was way more detailed so
      I merged them together, let's see how this works out.
      If you want to use 1140, the original values are commented
      out on each line.
  */
  .onecol {
    width: 5.801104972%;
  }

  /* 4.85%;  } /* grid_1  */
  .twocol {
    width: 14.364640883%;
  }

  /* 13.45%; } /* grid_2  */
  .threecol {
    width: 22.928176794%;
  }

  /* 22.05%; } /* grid_3  */
  .fourcol {
    width: 31.491712705%;
  }

  /* 30.75%; } /* grid_4  */
  .fivecol {
    width: 40.055248616%;
  }

  /* 39.45%; } /* grid_5  */
  .sixcol {
    width: 48.618784527%;
  }

  /* 48%;    } /* grid_6  */
  .sevencol {
    width: 57.182320438000005%;
  }

  /* 56.75%; } /* grid_7  */
  .eightcol {
    width: 65.74585634900001%;
  }

  /* 65.4%;  } /* grid_8  */
  .ninecol {
    width: 74.30939226%;
  }

  /* 74.05%; } /* grid_9  */
  .tencol {
    width: 82.87292817100001%;
  }

  /* 82.7%;  } /* grid_10 */
  .elevencol {
    width: 91.436464082%;
  }

  /* 91.35%; } /* grid_11 */
  .twelvecol {
    width: 99.999999993%;
  }

  /* 100%;   } /* grid_12 */
  /* layout & column defaults */
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    position: relative;
    float: left;
    margin-left: 2.762430939%;
  }

  .first {
    margin-left: 0;
  }

  .last {
    float: right;
  }

  .center-grid {
    float: none;
    margin: 0 auto;
  }

  .one-half {
    width: 50%;
  }

  .one-third {
    width: 33.3333%;
  }

  .one-fourth {
    width: 25%;
  }
}
/* ==================
 * $HEADER
 */
/* ==================
 * $Header */
.header {
  background-color: #91cdeb;
  border-bottom: 10px solid #006699;
  color: white;
  margin: 0 auto;
  text-align: center;
}
.header.kids, .header.white {
  background-color: white;
}
.header a {
  color: inherit;
  text-decoration: none;
}
.header .pill-menu {
  display: none;
  margin: 1em auto;
}
@media only screen and (min-width: 64.375em) {
  .header .pill-menu {
    display: block;
  }
}
.header .pill-menu > ul {
  margin: 0;
  padding: 0;
  position: relative;
}
.header .pill-menu .primary > .label {
  background-color: #50afdf;
}
.header .pill-menu .primary > .label:hover, .header .pill-menu .primary > .label:active {
  background-color: #66b9e3;
}
.header .pill-menu .primary > .label:hover:after, .header .pill-menu .primary > .label:active:after {
  border-left-color: #66b9e3;
}
.header .pill-menu .secondary > .label {
  background-color: #006699;
}
.header .pill-menu .secondary > .label:hover, .header .pill-menu .secondary > .label:active {
  background-color: #0077b3;
}

/* ==================
 * $Logo 
 */
#logo {
  display: inline-block;
  font-size: 2em;
}
@media only screen and (min-width: 45em) {
  #logo {
    font-size: 2em;
    line-height: 1.65;
  }
}
@media only screen and (min-width: 64em) {
  #logo {
    line-height: 1.65;
  }
}
#logo.has-tagline {
  		/* Example of .logo with .has-tagline:
  		<div id="logo" class="has-tagline">
  			<a class="logo" href="#">
  				The Title
  			</a>
  
  			<span class="tagline">
  				The Tagline
  			</span>	
  		</div>
  		*/
  margin-top: .5em;
  position: relative;
}
@media only screen and (min-width: 45em) {
  #logo.has-tagline {
    margin-top: .15em;
  }
}
#logo .tagline {
  right: 0;
  top: 0;
  font-size: .5em;
  font-size: 1rem;
  position: absolute;
}

.logo,
.tagline {
  color: white !important;
  text-transform: lowercase;
}

.logo .main-accent {
  color: #006699;
}
.logo .secondary-accent {
  color: #21aabd;
}

.kids .logo, .kids .tagline {
  color: #e2624f !important;
}
.kids .logo .main-accent, .kids .tagline .main-accent {
  color: #1fbaf2;
}
.kids .logo .secondary-accent, .kids .tagline .secondary-accent {
  color: #ffae3d;
}

.white .logo, .white .tagline {
  color: #50afdf !important;
}

.social a, .social a:visited {
  color: white;
}

.social a:before {
  top: 3px;
}

/* ==================
 * $LINKS
 */
a, a:visited {
  color: #006699;
  text-decoration: none;
}
a:hover, a:active, a:visited:hover, a:visited:active {
  color: #0085c7;
  text-decoration: underline;
}

p {
  font-size: 1.05em;
}

#inner-content {
  padding-bottom: 3em;
  padding-top: 3em;
}

/* ==================
 * $ARTICLE
 */
.dark-background {
  background-color: #4b5971;
}
.dark-background article {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 2em;
}
.dark-background .meta {
  color: #4b5971;
  margin: -.5em auto 1em;
}
.dark-background .meta [class^="icon-"]:before, .dark-background .meta [class*=" icon-"]:before {
  top: 2px;
}

.page-description {
  margin-bottom: 3em;
}

/* ==================
 * $CATEGORY
 */
.dim-the-lights .category, .dim-the-lights .search-results, .dim-the-lights .tag, .dim-the-lights .archive {
  background-color: #4b5971;
}
.dim-the-lights .category #inner-content, .dim-the-lights .search-results #inner-content, .dim-the-lights .tag #inner-content, .dim-the-lights .archive #inner-content {
  margin: 0;
}

.dim-the-lights .category article, .dim-the-lights .search-results article, .dim-the-lights .tag article, .dim-the-lights .archive article {
  background-color: transparent;
  padding: 3em 0;
}
.dim-the-lights .category article:first-child, .dim-the-lights .search-results article:first-child, .dim-the-lights .tag article:first-child, .dim-the-lights .archive article:first-child {
  padding-top: 0;
}
.dim-the-lights .category article:nth-child(even), .dim-the-lights .search-results article:nth-child(even), .dim-the-lights .tag article:nth-child(even), .dim-the-lights .archive article:nth-child(even) {
  background-color: #313547;
}
.dim-the-lights .category article:nth-child(even) .meta, .dim-the-lights .search-results article:nth-child(even) .meta, .dim-the-lights .tag article:nth-child(even) .meta, .dim-the-lights .archive article:nth-child(even) .meta {
  color: #4b5971;
}
.dim-the-lights .category article .meta, .dim-the-lights .search-results article .meta, .dim-the-lights .tag article .meta, .dim-the-lights .archive article .meta {
  color: #313547;
  margin: -.5em auto 1em;
}
.dim-the-lights .category article .meta [class^="icon-"]:before, .dim-the-lights .category article .meta [class*=" icon-"]:before, .dim-the-lights .search-results article .meta [class^="icon-"]:before, .dim-the-lights .search-results article .meta [class*=" icon-"]:before, .dim-the-lights .tag article .meta [class^="icon-"]:before, .dim-the-lights .tag article .meta [class*=" icon-"]:before, .dim-the-lights .archive article .meta [class^="icon-"]:before, .dim-the-lights .archive article .meta [class*=" icon-"]:before {
  top: 2px;
}
.dim-the-lights .category article .media, .dim-the-lights .search-results article .media, .dim-the-lights .tag article .media, .dim-the-lights .archive article .media {
  background-color: #e9e9e9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 2px;
}

/* ==================
 * $Search Results */
.grid-view .cell {
  height: 600px;
}

/* ==================
 * $Misc */
.stack-blocks {
  border: 2px solid #e9e9e9;
  border-radius: 4px;
  margin: 1em auto;
  padding: 1em;
}
.stack-blocks ul {
  list-style-type: none;
  padding: 0;
}
.stack-blocks:first-child {
  margin-top: 0;
}

/* ==================
 * $LIBRARYLEARN Styles
 * ================== */
.librarylearn .feature {
  background-color: #313547;
  color: #e9e9e9;
  padding: 3em 0;
}
.librarylearn .feature .single-title {
  color: white;
}
.librarylearn .feature .post-content {
  font-size: 1.1em;
}

.event,
.resource {
  overflow: hidden;
  position: relative;
}
.event a[rel="tag"],
.resource a[rel="tag"] {
  font-size: .75em;
  text-transform: uppercase;
}
.event .card,
.resource .card {
  background-color: #313547;
  border-top: 2px solid white;
  bottom: 0;
  color: white;
  padding: .5em;
  position: absolute;
  width: 100%;
}
.event .title,
.resource .title {
  color: white;
}
.event:hover .card, .event:active .card,
.resource:hover .card,
.resource:active .card {
  background-color: #21aabd;
}

.event a[rel="tag"] {
  color: #61d4e4;
}

.resource a[rel="tag"] {
  color: #ffae3d;
}

@media only screen and (min-width: 45em) {
  .archive .resource {
    float: left;
    margin: 1%;
    width: 31%;
  }
}

/* ==================
 * $SPOTLIGHT Styles
 * ================== */
.feature {
  color: white;
  position: relative;
}
.feature .card {
  background-color: #313547;
  border-left: 2px solid white;
  bottom: 0;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}
@media only screen and (min-width: 64em) {
  .feature .card {
    width: 34%;
  }
}
.feature .card .button {
  display: none;
}
@media only screen and (min-width: 45em) {
  .feature .card .button {
    bottom: 0;
    display: block;
    position: absolute;
  }
}
.feature .card .excerpt {
  margin-top: 1em;
}
.feature .card .title {
  color: white;
  font-style: italic;
}
.feature .has-excerpt {
  display: none;
}
@media only screen and (min-width: 64em) {
  .feature .has-excerpt {
    display: block;
  }
}

.assorted-features {
  margin-top: 1em;
}
.assorted-features .feature-event .promotion {
  background-color: transparent;
  padding: 0;
  position: relative;
}
.assorted-features .feature-event header {
  background-color: #313547;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  top: 1em;
  color: white;
  padding: 0 .5em;
  position: absolute;
}
.assorted-features .feature-event header a {
  color: white;
}
.assorted-features .feature-event header.left, .assorted-features .feature-event header.center {
  border-right: 2px solid white;
  left: 0;
}
.assorted-features .feature-event header.right {
  border-left: 2px solid white;
  right: 0;
}
.assorted-features .excerpt {
  background-color: #313547;
  border-top: 10px solid #4b5971;
  box-shadow: inset 0 2px 3px #2b2e3e;
  color: white;
  padding: .5em;
  position: absolute;
  bottom: -1.5em;
  font-size: 1em;
  font-size: 1rem;
}
.assorted-features .drop-cap:first-letter {
  margin: -.15em 0 -.15em;
  font-size: 2em;
}
.assorted-features .promotion {
  padding: 0 .5em;
}
.assorted-features .feature-event .promotion.has-excerpt {
  margin: 1em;
}
.assorted-features .sidebar {
  margin-top: .5em;
  margin-bottom: .5em;
}
.assorted-features .sidebar .spotlight:first-child {
  margin-bottom: 1em;
}

/* ==================
 * Featured Events
 - Top-of-the-page, full-width features.
 - The background-image is determined inline,
 - but we can control the rest here.
 */
.feature-event, .feature-image {
  display: none;
}
@media only screen and (min-width: 45em) {
  .feature-event, .feature-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 0;
    padding-bottom: 39.25%;
  }
}

.feature-image {
  position: relative;
}
.feature-image .caption {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  bottom: 0;
  color: #006699;
  left: 0;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 0;
}
@media only screen and (min-width: 64em) {
  .feature-image .caption {
    bottom: 1em;
    left: 1em;
    right: 1em;
    top: auto;
  }
}

@media only screen and (min-width: 45em) {
  .feature-event .promotion {
    text-align: center;
  }
  .feature-event .promotion .excerpt {
    display: none;
  }
}
@media only screen and (min-width: 64em) {
  .feature-event .promotion.has-excerpt {
    text-align: left;
  }
  .feature-event .promotion.has-excerpt .excerpt {
    display: block;
    padding: .5em;
  }
}

.promotion {
  z-index: 1;
}
.promotion time {
  display: block;
}
.promotion .promotion-title {
  color: white;
  font-style: italic;
}

.event {
  position: relative;
}
.event .image {
  vertical-align: bottom;
  width: 100%;
}
.event .promotion {
  border-radius: 0 0 100%;
  padding: 3em 3em 3em 1em;
  position: absolute;
}
.event .button {
  position: absolute;
  right: 1em;
  bottom: 1em;
  z-index: 1;
}
.event.small .promotion {
  box-shadow: none;
  border-radius: 0;
  padding: 2em;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.event.caption .button {
  position: static;
}
.event.caption .description {
  font-style: italic;
}
.event.caption p {
  margin-top: 1em;
}

.book .cover {
  width: 34%%;
}
.book .cover img {
  width: 100%;
}
.book header a, .book header a:visited {
  color: #4b5971;
}
.book.showcase header {
  height: 100%;
  position: absolute;
  right: 0;
  width: 60%;
}
.book .genre {
  border-left: 3px solid #21aabd;
  color: #21aabd;
  font-style: italic;
  padding-left: .5em;
}

/* ==================
 * $SERIES
 */
.feature-series {
  background-color: #313547;
  border-top: 2px solid white;
  min-height: 300px;
  padding-bottom: 3em;
  padding-top: 1em;
}
@media only screen and (min-width: 45em) {
  .feature-series {
    padding-top: 3em;
  }
}
.feature-series.series .second-in-series {
  margin-top: 1em;
}
.feature-series.series .third-in-series {
  margin-top: 2em;
}
.feature-series.separator:after {
  border-top-color: #313547;
}
.feature-series .single-title {
  margin-top: .5em;
}
@media only screen and (min-width: 45em) {
  .feature-series .single-title {
    margin-top: 0;
  }
}

/* ==================
 * $Footer */
.footer {
  background-color: #313547;
  border-top: 10px solid #455268;
  box-shadow: inset 0 2px 3px #2b2e3e;
  color: white;
  padding-top: 2em;
}

/* ==================
 * Foundation
 * ================== */
/* ==================
 * Load here only the most basic styles.*/
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
  margin-bottom: -12em;
}
#container:after {
  content: "";
  display: block;
}

.footer, #container:after {
  height: 12em;
}

/* ==================
 * Larger Mobile Devices
 * ================== */
/* ==================
 * If needed, from here we can tweak for
 * phones or really small tablets. */
/* ==================
 * Tablets and Small Laptops
 * ================== */
/* ==================
 * From here on, these are really the more
 * common viewing windows. We can begin to 
 * work in more resource intensive styles */
/* ==================
 * Small Monitors 
 * ================== */
/* ==================
 * Widescreen Monitors
 * ================== */
/* ==================
 * Large Viewing Size
 * ================== */
/* ==================
 * Retina, High PPI Screens
 * ================== */
/* ==================
 * Print Stylesheet
 * ================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
            filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
    /* show links on printed pages */
    /* show title too */
  }
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  /* hide content people who print don't need to see */
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
