// $Styles $Codeblocks
// -------------------------------------//

pre code {
  @extend %normal-wrap !optional;
  @include white-space(pre-wrap);
}

pre {
  @include white-space(pre);
}

code {
  @include white-space(pre);
  font-family: monospace;
}

pre {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	margin: 1em 0;
	padding: 1em;
	position: relative;
	overflow: auto;

	&[rel] {
		padding-top: 48px;

		&:before {
			background-color: #f3787a;
			color: white;
			content: attr(rel);
			padding: .25em 0;
			position: absolute;
			text-indent: 1em;
			top: 0;
			left: 0;
			width: 100%;

		}
	}

	code {
		font-size: 90%;
	}
}
