/*------------------------------------*\
    $FONTS
\*------------------------------------*/
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icons/icomoon.eot');
    src:url('fonts/icons/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icons/icomoon.woff') format('woff'),
        url('fonts/icons/icomoon.svg#icomoon') format('svg'),
        url('fonts/icons/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'icomoon';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 0;
    position: relative;
}

/*.icon-alert:before { content: "O"; }
.icon-arrow-left:before {content: "s"; }
.icon-arrow-right-2:before { content: "q"; }
.icon-bar:before { content: "="; }
.icon-beaker:before {content: "a"; }
.icon-book:before { content: "+"; }
.icon-books:before { content: ","; }*/
.icon-bubbles:before { content: "7"; }
/*.icon-calendar:before { content: "P"; }
.icon-cancel:before { content: "k"; }
.icon-cancel-2:before { content: "l"; }
.icon-checkmark:before { content: "m"; }
.icon-chrome:before { content: "E"; }
.icon-clock:before { content: "M"; }
.icon-code:before { content: "F"; }
.icon-coffee:before { content: "^"; }*/
.icon-cog:before { content: "]"; }
.icon-comments:before { content: "V"; }
/*.icon-credit:before { content: "0"; }
.icon-directions:before {content: "L";}
.icon-ie:before { content: "C"; }
.icon-facebook:before { content: "u"; }
.icon-facebook-2:before { content: "v";}
.icon-feed:before { content: "|";}
.icon-film:before { content: "\'"; }
.icon-fire:before { content: "`"; }
.icon-firefox:before { content: "D"; }
.icon-happy:before { content: "e"; }*/
.icon-help:before { content: "i"; }
.icon-help-2:before { content: "{"; }
//.icon-home:before { content: "\21"; }
.icon-info:before { content: "j"; }
.icon-keyboard:before { content: "4"; }
//.icon-key:before { content: "Y";}
//.icon-leaf:before { content: "?"; }
//.icon-library:before { content: "-";}
//.icon-link:before { content: "@"; }
//.icon-locked:before { content:"["; }
.icon-mail:before { content: "J"; }
//.icon-marker:before { content: "K"; }
.icon-map:before { content: "3"; }
//.icon-pinterest:before { content: "z"; }
//.icon-podcast:before { content: ")"; }
//.icon-twitter:before { content: "w"; }
//.icon-rss:before { content: "x"; }
.icon-screen:before { content: "5"; }

.icon-mobile:before { content: "Q"; }
//.icon-neutral:before { content: "g"; }
//.icon-office:before { content: "\""; }
//.icon-pencil:before { content: "H"; }
.icon-phone:before { content: "I";}
//.icon-play:before { content: "&"; }
//.icon-plus:before { content: "o"; }
//.icon-rocket:before { content: "_"; }
//.icon-safari:before { content: "A"; }
.icon-search:before { content: "X"; }
//.icon-smiley:before { content: "f"; }
//.icon-stats:before { content: ">"; }
//.icon-thumbs-up:before { content: "d"; } 
//.icon-thumbs-down:before { content: "h"; }
//.icon-unlocked:before { content: "Z"; }
.icon-user:before { content: "\2190";}
//.icon-users:before { content: "\3b"; }
//.icon-wifi:before { content: "*";}

//.icon-grid-view:before { content: "c"; }

