/*------------------------------------*\
	$LINKS
\*------------------------------------*/

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}


.link {

	color: $link-color;

	&:active,
	&:hover,
	&:visited {
		color: lighten( $link-color, 9% );
	}
}

a {
	@extend .link;
}

.link--undecorated {
	text-decoration: none;
}

._link-blue,
._link-blue .card__title {
  color: #069;
}