.list {}

.list--inline dt {
	float: left;
	margin-right: .5em;
}

.list__related,
.list--related {

	/**
	 * !TODO
	 * Remove ".list__related", but make sure it's replaced with
	 * .list--related where used. Mostly on copyright.
	 */

	@extend .zeta;

	background-color: #f9f9f9;
	border: 1px solid $dark-blue-tinsley;
	list-style-type: none;
	padding: .5em 1em;

	&:before {
		content: attr(title);
		@extend .delta;
	}

}

.list--faq {
	dt {
		font-weight: normal;
		margin-bottom: 0;
		margin-top: 1em;
	}
}

.list--alpha { list-style-type: lower-latin; }
.list--lower-roman { list-style-type: lower-roman; }
.list--upper-roman { list-style-type: upper-roman; }

.list--alternate {
	list-style-type: none;
	padding: 0;

	li {
		padding: .25em .5em;
	}

	li:nth-of-type(even) {
		background-color: #f9f9f9
	}
}

.list--datalist {
  background: white;
  height: 10em;
  overflow-y: scroll;
}
