* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
     box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {

  @include base-type($font-properties...);

}

/**
 * Remove default margin.
 */

body {

  color: $body-copy-color;
  hyphens: auto;
  margin: 0;

  // normal: Indicates that lines may only break at normal word break points.
  // break-word : Indicates that normally unbreakable words may be broken at ...
  // arbitrary points if there are no otherwise acceptable break points in the line.
  word-wrap: break-word;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}


/*------------------------------------*\
  $Typography
\*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  font-weight: normal;
  line-height: 1; // this fixes huge spaces when a heading wraps onto two lines
  margin-bottom: 0;
  text-rendering: optimizeLegibility; // voodoo to enable ligatures and kerning

  & + p {
    margin-top: .25em;
  }
}

h1 { @extend .alpha; }
h2 { @extend .beta; }
h3 { @extend .gamma; }
h4 { @extend .delta; }
h5 { @extend .epsilon; }
h6 { @extend .zeta; }

h4, h5, h6 {
  font-weight: 700;
}

.type {
  &-sm {
    &--gamma { @extend .gamma; }
    &--delta { @extend .delta; }
    &--epsilon { @extend .epsilon; }
    &--zeta { @extend .zeta; }
  }
  &-md {
    @include breakpoint( tablet ) {
    &--gamma { @include type-scale( $gamma, $font-base, 'rem', $measure ) }
    &--delta { @include type-scale( $delta, $font-base, 'rem', $measure ) }
    &--epsilon { @include type-scale( $epsilon, $font-base, 'rem', $measure ) }
    &--zeta { @include type-scale( $zeta, $font-base, 'rem', $measure ) }
    }
  }
  &-lg {
    @include breakpoint( squarescreen ) {
      &--gamma { @include type-scale( $gamma, $font-base, 'rem', $measure ) }
      &--delta { @include type-scale( $delta, $font-base, 'rem', $measure ) }
      &--epsilon { @include type-scale( $epsilon, $font-base, 'rem', $measure ) }
      &--zeta { @include type-scale( $zeta, $font-base, 'rem', $measure ) }
    }
  }
}

// $Styles $Parargraphs
// -------------------------------------//

p, p.epsilon, p.zeta {
  margin: .75em auto auto;
}


// $Styles $Hyphenation
// -------------------------------------//
// http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  hyphens: auto;
}

// $Styles $Smallcaps
// -------------------------------------//
/**
 * Abbreviations Markup
 *
  <abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
abbr {
  color: gray;
  font-weight: 600;
  &[title]:hover {
    cursor: help;
  }
}

/**
 * Utilities
 */
.hide-accessible,
.hide-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

small, .small-text {
  font-size: 75%;
}

.no-margin { margin: 0 !important; }
.no-bullets { list-style-type: none; padding: 0;} // axe
.no-padding { padding: 0 !important; }
.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }

.checkbox-toggle {
  opacity: 0;
  position: absolute;
}

.clearfix {
  &:before,
  &:after {
    content: "";
      display: table;
  }
  &:after {
    clear: both;
  }
  zoom: 1;
}

.separator {
  &::before {
    background-color: #ddd;
    content: "";
    height: 1px;
    position: absolute;
    width: 50%;
  }
  &--top::before {
    margin-top: -.88888em;
  }
}
