.table {
	margin-bottom: 1.5em;
	max-width: 100%;	
	width: 100%;

	&__hours {

		@include breakpoint( tablet ) {
			font-size: 80%;
		}
	}
}

td, th {
	border: 1px solid $border-color-light;
	padding: .5em;
}

tbody tr {
	&:nth-of-type( even ) {
		background-color: #f9f9f9;
	}
}

.table--compact {
	td, th {
		//padding: .25em;
		padding: .12em;
	}
}




@media only screen and (max-width: $tablet ) {

	.table--responsive {

		display: block;

		table, thead, tbody, th, td, tr {
			display: block;
		}

		thead tr {
			position: absolute;
			clip: rect(1px 1px 1px 1px);
			clip: rect(1px, 1px, 1px, 1px);
		}

		td {
			position: relative;
			padding-left: 50%;

			&:before {
				content: attr(data-table-label);
				position: absolute;
				top: 6px;
				left: 6px;
				width: 45%;
				padding-right: 10px;
				white-space: nowrap;
			}

		}

		td:first-child {
			background-color: $dark-blue-base;
			color: white;
		}
	}
}
