

#container{
	background-color: #EEEEEE;
	border: 1px #AAAAFF solid;
	margin: 0 auto;
	padding: 10px;
	width: 960px;
}

#heading{
	background-color: #FFFFFF;
	border: 0px;
	margin: 0 auto;
	padding: 0px;
	width: 800px;
	text-align: right;
}

.roomname{
	text-align: center;
}

.smalltxt{
	width: 30px;
}

.medtxt{
	width: 75px;
}

.tabletitle{
	font-size: 14px;
	font-weight: bold;
}

.tableheader{
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

#successmsg{
	border: 1px #00ff00 solid;
	background-color: #ccffcc;
	color: #009900;
	margin-bottom: 20px;
	padding: 15px;
	width: 50%;
}

#errormsg{
	border: 1px #ff0000 solid;
	background-color: #ffcccc;
	color: #990000;
	margin-bottom: 20px;
	padding: 15px;
	width: 50%;
}

.roomslist tr{
	vertical-align: baseline;
}

.defaulthourslist tr{
	vertical-align: baseline;
}

.timeblock{
	border: 1px #CCCCFF solid;
}

.timeblocktext{
	font-size: 10px;
}

#settingsul li{
	font-size: 14px;
	font-weight: bold;
}

.notetext{
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
}

#customfieldstable td{
	padding: 5px;
}

#reporttable td{
	border: 1px #000000 solid;
	height: 50px;
	padding: 4px;
}

.reportodd{
	background-color: #cccccc;
	text-align: center;
}

.reporteven{
	background-color: #eeeeee;
	text-align: center;
}

.totalrow{
	background-color: #aaaaaa;
	font-weight: bold;
	text-align: center;
}

.reportscroll{
	text-align: left;
}

.datecolumn{
	font-weight: bold;
}


ul{	list-style-type: none;
	padding: 0px;
	margin-left: 2.5em;
}

label{
	width: 100px;
	float: left;
	margin-right: 10px;
	text-align: right;
	clear: left;
}

legend{
	padding: .2em;
	background-color: #EBEBFF;
	font-weight: bold;
	color: #000000;
	border: 1px solid #00000;
}

input{
	border: 1px solid #000000;
	font-weight: bold;
	background-color: #F5F5F5
}

input:focus {
	font-weight: bold;
	color: #000;
	background-color: silver;
}

textarea#styled {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;	
	background-position: bottom right;
	background-repeat: no-repeat;
}

ol{list-style-type:upper-roman;}

ul {list-style-position: outside; list-style-type: square; margin-bottom: 20px;}

ul.list {list-style-position: outside; list-style-type: square; margin-bottom: 5px;}

#result, #result1 {
	height:20px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	padding:5px;
	margin-bottom:10px;
	background-color:#FFFF99;
}
#name,#name1{
	padding:3px;
	border:1px #CCC solid;
	font-size:15px;
}
.suggestionsBox {	
	padding: 0px;
	border: 1px solid black;
	width: 35%;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
	display:none;
	
}

.hide{display: none; }

.suggestionList {
	margin: 0px;
	padding: 0px;
}

.suggestionList {
	background-color: #eee;
	width: 35%;
}

.suggestionList{
	background-color: #0A246A;
	color: white;
}
.suggestionList ul li {
	margin: 0px;
	padding: 2px 2px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}
.suggestionList ul li:hover {
	background-color: #FC3;
	color:#000;
	
}

.load{
background-image:url(loader.gif);
background-position:right;
background-repeat:no-repeat;
}

#suggest {
	position:relative;
}