#footer{
    background:#eee;
    padding: 10px;
    border: 2px solid #444;
    margin-top:20px;    
    margin-bottom:20px;  
    margin-left: 20px;      
    border-radius: 5px; 
}

#refresh{
    font-size: 70%;
    margin-left: 10px;
}

#seating{
    float:left;
    margin-left: 5px;
}

 #date_label {margin-bottom: 10px; font-weight:bold; font-size: 105%;}

  

    #msg{display:none;
    background:#fff;
    padding: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;  
    }
    
    #login{float:right;
    margin-top: 25px;       
    margin-right: 25px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 85%;
    color: white;
    }
    
    #login a{    
    color: white;
    }
    
    
     a.admin_cancel_link{
    background: #b94376;
    color: white;
    display:inline-block;
    float: right;
    padding:5px;
    width: 95%;
    text-align: center;    
    font-size: 70%;
    margin-bottom: 3px;
    -moz-border-radius: 5px;
    border-radius: 5px;  
    text-decoration: none;
    
    }
    

    
.schedule_row{
    background:#fff;
    float:left;
    margin:auto;    
    padding:15px;
}



.first{
    /*border-left:1px solid #444;*/
    margin-left: 5px;
}

.display_label{   
    color: #444;   
    font-size: 85%;
    font-weight: bold;
}

form{margin-bottom:0;display: inline;}
.frm input{ 	
    width: 98%; 
    font-size: 80%;
    height: 18px;
    color: #eee; 
    text-transform: uppercase; 
    margin-top: 5px;
    background-color: #18a5cc;   
    border: none;
    cursor:hand;
}

.patron_reserved input{ 	
    width: 98%; 
    font-size: 80%;
    height: 18px;
    color: #eee; 
    margin-top: 5px;
    background-color: #71901a;  
    border: none;
    cursor:hand;
}

br { clear: left; }  

.textbox { border: 1px solid #999999;  border-top-color: #CCCCCC;  border-left-color: #CCCCCC; color: #333333;  font: 90% Verdana, Helvetica, Arial, sans-serif; font-size: 11px; }

/*h1 { font-size: 17px; }*/

/*div { font-family: Verdana; font-size: 11px; }*/

/* 'Login' Button */
#submit { margin: 5px; padding: 5px; float: left; width: 50px; background-color: white; }

#notification_error { color: red; height: auto; padding: 4px; text-align: center; }

#login_response { overflow: auto; }
 
#ajax_loading { display: none; font-size: 12px; font-family: Tahoma; }

#logged_in { padding: 5px; margin: 23px 0 100px 43px; padding: 5px; text-align: center; width: 400px; }

#status { margin-top: 20px; width: 310px; }
